{% extends "layout-v2.html" %}

{% block pageScripts %}
<script>
  $(".char-textarea").on("keyup", function(event) {
    checkTextAreaMaxLength(this, event);
  });

  function checkTextAreaMaxLength(textBox, e) {

    var maxLength = parseInt($(textBox).data("length"));


    if (!checkSpecialKeys(e)) {
      if (textBox.value.length > maxLength - 1) textBox.value = textBox.value.substring(0, maxLength);
    }
    $(".char-count").html(maxLength - textBox.value.length);

    return true;
  }

  function checkSpecialKeys(e) {
    if (e.keyCode != 8 && e.keyCode != 46 && e.keyCode != 37 && e.keyCode != 38 && e.keyCode != 39 && e.keyCode != 40)
      return false;
    else
      return true;
  }
</script>
{% endblock %}

{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../components/header-3.html' %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
      "href": "manc-rejected",
      "text": "Go back to rejected results"
    }) }}

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


    <div class="nhsuk-panel-with-label">
      {% include '../components/patient-result-1.html' %}


      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset nhsuk-u-margin-top-4" aria-describedby="example-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            Test result details
          </legend>

          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Error status</dt>
              <dd class="nhsuk-summary-list__value"><span class="nhsuk-tag nhsuk-tag--red">Duplicate slide</span></dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Test type</dt>
              <dd class="nhsuk-summary-list__value">English</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">National code</dt>
              <dd class="nhsuk-summary-list__value">676567</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Sender code</dt>
              <dd class="nhsuk-summary-list__value">131290</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Slide number</dt>
              <dd class="nhsuk-summary-list__value">70406000</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Test date</dt>
              <dd class="nhsuk-summary-list__value">26-Jan-2020</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Cytology result</dt>
              <dd class="nhsuk-summary-list__value">Low-grade dyskaryosis (39S)</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">HPV Primary</dt>
              <dd class="nhsuk-summary-list__value">HPV Positive</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Action</dt>
              <dd class="nhsuk-summary-list__value">Repeat Advised</dd>
            </div>
          </dl>


          <h2 class="nhsuk-heading-m nhsuk-u-padding-top-6">Audit</h2>

          <div class="nhs-screening-whole-timeline">
            <div class="nhs-screening-whole-timeline__item">
              <div class="nhs-screening-whole-timeline__header nhsuk-u-margin-bottom-1">
                <h2 class="nhs-screening-whole-timeline__title">Test received</h2>
                <p class="nhs-screening-whole-timeline__by">from Derby Royal Hospital (65030)</p>
                <p class="nhs-screening-whole-timeline__date" style="color:	#4c6272">25-Jan-2020, 15:54:23 pm</p>
                <p class="nhs-screening-whole-timeline__date">Error status: Invalid test date</p>
              </div>
              <br>
              <p class="nhs-screening-whole-timeline__date" style="color:	#4c6272">Comments: Lab corrected date, will re-send</p>
            </div>
          </div>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <form action="view-rejected-p1" method="post">
          <fieldset class="nhsuk-fieldset">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-label--s nhsuk-u-margin-bottom-2" for="example-heading">
                Enter CRM case number (optional)
              </label>
              <span class="nhsuk-hint" id="example-hint">
                For example, CAS-12345-ABCDE
              </span>
              <input class="nhsuk-input nhsuk-input--width-10" type="text" name="crm" autocomplete="off" value="{{ data.crm }}">
            </div>
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-label__strong nhsuk-u-padding-top-1" for="example">
                Comments
              </label>
              <span class="nhsuk-hint nhsuk-u-padding-top-2" id="example-hint" for="one-half">
                Enter comments here if needed
              </span>
              <textarea class="nhsuk-textarea commentBox char-textarea" id="rejcomment1" value="rejcomment1" name="rejcomment1" rows="5" data-length=200 required></textarea>
              <p class="nhsuk-hint nhsuk-u-margin-top-2"><span class="char-count">250</span> characters remaining</p>
            </div>
          </fieldset>

          <button class="nhsuk-button nhsuk-button--ers_secondary nhsuk-u-margin-top-3" role="button">Add comment</button>

          {% set name = "Josie Driver" %}

          {% set commentDate = ("today" | returnDate) %}

          <input type="hidden" id="name" name="name" value="{{commentName}}">
          <input type="hidden" name="date" value={{commentDate}}>

        </form>

        <ul class="nhsuk-comment-container">
          {% if (data.rejcomment1 !=null) %}

          <li class="nhsuk-panel">
            <span class="name">{{ name }}</span>
            <span class="date"><strong>{{data.date}}</strong></span>
            <span class="crm">CRM: {{ data['crm'] }}</span><br>
            {{data.rejcomment1}}
          </li>

          {% endif %}
        </ul>

      </div>


    </div>
    <a href="view-rejected-p2" class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-top-3 nhsuk-u-margin-right-6">Save and next</a>
    <a href="manc-rejected" class="nhsuk-button nhsuk-button--ers nhsuk-button--ers_secondary nhsuk-u-margin-top-3">Save and exit</a>

  </div>



</div>
</div>

{% endblock %}

{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}
