<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  V11
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-l">V11</h1>
    <a class="nhsuk-button" href="/v11/login/smartcard?patversion=4">Start</a>

        <h2 class="nhsuk-heading-l">Quick Links</h2>
        <ul>
          <li><a href="/v11/worklists-v7/worklists">worklist</a></li>
          <li><a href="/v11/email/notification-email-mvp">Notification email - MVP</a></li>
          <li><a href="/v11/email/gp-notification-email-1">GP Notification emails - email 1</a></li>
          <li><a href="/v11/email/prior-notification-email-3">Prior Notification - email flow PNL 11</a></li>
          <li><a href="/v11/email/non-responder-email-3">Non Resonder - email flow NRL 3</a></li>
          <li><a href="/v11/prior-notification/prior-notification-12-defer-confirm">Multiple deferrals warning</a></li>
          <li><a href="/v11/login/smartcard?patversion=4">Patient Summary 34</a></li>
          <li><a href="/v11/email/prior-notification-email-3-empty">Prior Notification - 0 patients</a></li>
          <li><a href="/v11/email/non-responder-email-3-empty">Non Resonder - email - 0 patients</a></li>
          <br>
          <li><a href="patient/add-test-result/add-result">add test result</a></li>
          <li><a href="patient/change-due-date/enter-reason">change recall</a></li>
          <li><a href="patient/patient-summary">patient summary</a></li>
        </ul>
        <h3>scenarios</h3>
        <ul>
          <li><a href="/v11/patient/change-due-date/enter-reinstate-4?nhsNumber=9991023867&role=csas&patversion=4&reinstateType=reject">Reinstate - rejected due to age</a></li>
          <li><a href="/v11/patient/change-due-date/enter-reinstate-4?nhsNumber=9991023867&role=csas&patversion=4&reinstateType=manual">Reinstate - manual reinstate</a></li>
          <li><a href="/v11/patient/change-due-date/enter-reinstate-4?nhsNumber=9991023867&role=csas&patversion=4&reinstateType=default">Reinstate - default reinstate</a></li>
          <li><a href="">new test added</a></li>
          <li><a href="">recall Changed</a></li>
          <li><a href="">routine</a></li>
        </ul>



      <details class="nhsuk-details nhsuk-expander version-list">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Error messages
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <h4 class="nhsuk-heading-s nhsuk-u-margin-top-5">Add Title</h4>
          <ul>
            <li><a href="">Add error</a></li>
          </ul>

        </div>
      </details>
   
    </div>
  </div>
{% endblock %}
