{% extends "layout-v2.html" %}

{% block pageScripts %}

<script type="text/javascript">

</script>

{% endblock %}
{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
  {% include '../components/header.html' %}
{% endblock %}

{% block content %}

{{ backLink({
  "href": "worklists",
  "text": "Go back to results"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

  <h1 class="nhsuk-heading-l">Manchester</h1>
 <p> The following results show the manual matches between the lab and system patient details.
 <br>
  Compare the patient details provided by the labs against those held on the system.</p>
</div>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
   <div class="nhsuk-panel nhsuk-promo">
      <dl class="nhsuk-summary-list   nhsuk-summary-list--no-border">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Phone number
          </dt>
          <dd class="nhsuk-summary-list__value">
           +44 1624 937 363
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
           Email address
          </dt>
          <dd class="nhsuk-summary-list__value">
            manctesting@labs.com
          </dd>

        </div>

      </dl>
    </div>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <nav class="nhsuk-sub-navigation">
    <ul class="nhsuk-sub-navigation__list">
      <li class="nhsuk-sub-navigation__item"><a href="manc-process" class="nhsuk-sub-navigation__link" >To process</a></li>
      <li class="nhsuk-sub-navigation__item"><a href="manc-query" class="nhsuk-sub-navigation__link">To query</a></li>
      <li class="nhsuk-sub-navigation__item"><a href="manc-check" class="nhsuk-sub-navigation__link" aria-current="page">To check</a></li>
    </ul>
  </nav>


<table class="nhsuk-u-padding-top-4">
    <th class="ten"="To check">Transfer number</th>
    <th class="ten"="To check">Status </th>
    <th class="ten"="To check">Transfer date </th>
    <th class="ten"="To check">Transfer time </th>
    <th class="ten"="To check">To action </th>
    <th class="ten"="To check"> </th>
 </th>

<!-- TO CHECK -->
<tr><td>03368</td> <td><span class="nhsuk-tag nhsuk-tag--aqua-green nhsuk-u-margin-bottom-2">done </span></td> <td>04-02-2020</td> <td>8.44am</td> <td>2</td> <td></td>  </tr>
<tr><td>03477</td> <td><span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">with checker</span></td> <td>04-02-2020</td> <td>5.01pm</td> <td>34</td> <td></td> </tr>
<tr><td>03478</td> <td><span class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">not checked </span></td> <td>04-02-2020</td> <td>11.52am</td> <td>75</td> <td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary" href=“./“>Check matched</a></td>  </tr>
<tr><td>03479</td> <td><span class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">not checked </span></td> <td>04-02-2020</td> <td>11.27am</td> <td>63</td> <td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary" href=“./“>Check matched</a></td> </tr>
<tr><td>03480</td> <td><span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">with checker</span></td> <td>04-02-2020</td> <td>11.27am</td> <td>63</td> <td></td> </tr>
<tr><td>03481</td> <td><span class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">not checked </span></td> <td>04-02-2020</td> <td>9.34am</td> <td>35</td> <td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary" href=“./“>Check matched</a></td> </tr>
<tr><td>03482</td> <td><span class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">not checked </span></td> <td>04-02-2020</td> <td>9.19am</td> <td>93</td> <td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary" href=“./“>Check matched</a></td> </tr>
<tr><td>03483</td> <td><span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">with checker</span></td> <td>04-02-2020</td> <td>2.09pm</td> <td>46</td> <td></td>  </tr>
<tr><td>03484</td> <td><span class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">not checked </span></td> <td>04-02-2020</td> <td>9.30am</td> <td>73</td> <td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary" href=“./“>Check matched</a></td> </tr>
<tr><td>03485</td> <td><span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">with checker</span></td> <td>04-02-2020</td> <td>10.50am</td> <td>35</td> <td></td> </tr>

</table>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
