{% extends "layout-v2.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
{% endblock %}
{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
  {% include '../components/header.html' %}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
      "href": "checker-done",
      "text": "Go back to Manchester results"
    }) }}

  <h1 class="nhsuk-heading-l nhsuk-u-padding-top-2">Confirm checked matches</h1>


        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-panel nhsuk-promo">
           <span class="nhsuk-hint nhsuk-margin-bottom-4">
          Please review the manual matches for this batch of results and complete.
        </span>
        <dl class="nhsuk-summary-list">


  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key padding-right-8">
      Transfer number
    </dt>
    <dd class="nhsuk-summary-list__value">
      03376
    </dd>

    <dd class="nhsuk-summary-list__actions">
    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      System details used
    </dt>
    <dd class="nhsuk-summary-list__value">
    2
    </dd>


    <dd class="nhsuk-summary-list__actions">

      <a href="view-checked">
        View<span class="nhsuk-u-visually-hidden"> date of birth</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
    Lab details used
    </dt>
    <dd class="nhsuk-summary-list__value">
      0
    </dd>

    <dd class="nhsuk-summary-list__actions">


    </dd>

  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
    Sent to GP
    </dt>
    <dd class="nhsuk-summary-list__value">
      0
    </dd>

    <dd class="nhsuk-summary-list__actions">


    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
    Saved to lab query list
    </dt>
    <dd class="nhsuk-summary-list__value">
      0
    </dd>

    <dd class="nhsuk-summary-list__actions">



    </dd>

  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
    Different address used
    </dt>
    <dd class="nhsuk-summary-list__value">
      0
    </dd>

    <dd class="nhsuk-summary-list__actions">



    </dd>

  </div>
  </div>

</div>
</div>

</div>
</div>
<a href="checker-done" class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-top-3">Submit</a>

















  {% endblock %}
