{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(5) {
    border-bottom: 4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical Screening
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-l">Admin</h1>

    <p><a href="/v12/admin/result-files">Print Files</a></p>
    <p><a href="/v12/admin/print-notifications/select-gp-practice">Print Notifications</a></p>

    <!--<p>not mvp<a href="/v12/admin/incidents/incidents">Incidents</a></p>-->
    <!--<p>not mvp<a href="/v12/admin/gp-letter-text/enter-gp-code">GP Practice</a> / <a href="/v12/admin/gp-letter-text/enter-district-code">District Letter Text</a></p>-->
  </div>
</div>
{% endblock %}
