version: 2

updates:
  # Update npm packages
  - package-ecosystem: npm
    directory: /

    # Group packages into shared PR
    groups:
      application:
        patterns:
          - 'body-parser'
          - 'client-sessions'
          - 'cookie-parser'
          - 'dotenv'
          - 'express'
          - 'express-*'
          - 'lodash'
          - 'nhsuk-frontend'
          - 'nunjucks'

      build:
        patterns:
          - '@babel/*'
          - 'sass-embedded'

      lint:
        patterns:
          - '@typescript-eslint/*'
          - 'eslint'
          - 'eslint-*'
          - 'prettier'

      test:
        patterns:
          - 'jest'
          - 'jest-*'

      tools:
        patterns:
          - '@inquirer/prompts'
          - 'browser-sync'
          - 'gulp'
          - 'gulp-*'
          - 'http-proxy-middleware'
          - 'plugin-error'
          - 'portscanner'

    schedule:
      interval: monthly

    versioning-strategy: increase

  # Update GitHub Actions
  - package-ecosystem: github-actions
    directory: /

    schedule:
      interval: 'monthly'
