// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';



// Components that are not in the NHS.UK frontend library

@import 'components/panel-confirmation';
@import 'components/related-nav';
@import 'components/autocomplete';
@import 'components/inputs';
@import 'components/menu';
@import 'components/alerts';
@import 'components/tables';
@import 'components/lists';
@import 'components/buttons';
@import 'components/boxshadow';
@import 'components/sidebar';
@import 'components/icons';
@import 'components/toggle';
@import 'components/summary-list';
@import 'components/messaging';
@import 'components/tags';
@import 'components/summary';
@import 'components/tabs';
@import 'components/modal';
@import 'components/progress-bar';
@import 'components/timelines';


$nhsuk-page-width: 1280px;


.flex-container{
  display: flex;
:first-child{
  margin-right: 32px;
}
}
.nhsuk-heading-links-container{
  display: flex;
  font-size: .1px;
  padding: 8px 0;
  align-items: baseline;
}
.nhsuk-heading-links{
  vertical-align: middle;
  min-height: 40px;
  line-height: 40px;

}

.nhsuk-heading-links ul{
  display: inline-flex;
  margin: auto 32px;
  li{
    margin: 0 32px;
  }

}
.nhsuk-u-border-left{
  border-left: 1px solid $color_nhsuk-grey-4;
}
.nhsuk-u-border-right{
  border-right: 1px solid $color_nhsuk-grey-4;
}

.nhsuk-link-button{
  height: 38px;
  line-height: 38px;
  vertical-align: middle;
  padding: 4px;
}


.styleguide-example{
  border: 1px solid $color_nhsuk-grey-4;
  padding:40px 16px;
  margin: 32px 0;
  position: relative;
  overflow: hidden;

}

.styleguide-example::before{
  content:"EXAMPLE";
  position: absolute;
  top: 0;
  left: 0;
  padding:4px 8px;
  text-transform: none;
  font-size: 14px;
  font-weight: bold;
  background: $color_nhsuk-grey-4;
  color: $color_nhsuk-black;
  -webkit-font-smoothing:antialiased;

}

.nhsuk-section-border{
  display:inline-block;
    border-bottom: 4px solid $color_nhsuk-grey-4;
    padding-bottom:8px;
    ::after {
      border:4px solid $color_nhsuk-grey-4;
    }
  }

.align-centre{
  text-align: center;
}


.nhsuk-icon--ers{
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.nhsuk-close{
  padding: 8px 0;
  margin-right: 16px;
}

.nhsuk-search-input:after{
  clear: both;
  content: '';
  display: block;
}
.nhsuk-search-input__item{
  display: inline-block;
  margin-bottom: 0;
  margin-right: 24px;
}

.nhsuk-inset-text--ers{
  @extend .nhsuk-inset-text;
  border-color: $color_nhsuk-grey-4;
  border-left-width: 10px;
}

.nhsuk-main-wrapper  {
    padding-top: 0px;
}

.nhsuk-header__transactional-service-name{
  padding-left: 20px;
}


.inline{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
  vertical-align: middle;

}

@mixin nhsuk-width-container-fluid {
  margin: 0 $nhsuk-gutter-half;
  max-width: 100%;
}

.nhsuk-width-container-fluid {
  @include nhsuk-width-container-fluid;
}

.nhsuk-white-background{
  background-color: $color_nhsuk-white;
}

.nhsuk-grey-background{
  background-color: $color_nhsuk-grey-5;
  border-bottom:1px solid #AEB7BD;

}
.grey-border {
  border-color: $color_nhsuk-black;

}
.full-width {
  width: 100%;
}

div input[type=checkbox]::before, input[type=radio]::before{
  width: 25px;
  height:25px;
  border: 2px solid red;
}

.nhsuk-sub-menu{
display: flex;
justify-content: space-between;
width: 100%;
}

.nhsuk-label__strong{
  font-weight: 600;
}