// Import NHS.UK frontend library

@import "node_modules/nhsuk-frontend/packages/nhsuk";

@import "components/action-menu"; // extends the eRS buttons
@import "components/buttons"; // extends the NHSUK button
@import "components/patient-banner-v2"; //rename to the patient banner
@import "components/sub-navigation"; // tab navigation taken from eRS
@import "components/tables"; // taken from eRS
@import "components/tabs";
@import "components/tabs_2";
@import "components/tags-v2"; // taken from BETA work from
@import "components/tags-v3"; // taken from the latest NHSUK beta styles
@import "components/timelines"; // taken from govuk
@import "components/shame"; // oh the shame - unique, overrides and more
@import "components/small-checkboxes"; // taken from scra
@import "components/autocomplete"; // testing out the add test result page / had to create a custom component as autocomplete is used on the search
@import "components/messaging"; //



.nhsuk-inset-text--danger {
     border-left-color: red;
     background-color: pink;
}
// CAROUSEL


body * { -webkit-user-select: none }

.wrap {
  position: relative;
  max-width:600px ;
  max-height: 300px;
  margin: 0 auto;

}

.window {
  overflow: hidden;
  position: relative;
  
}

#carousel {
  width: 10000px;
  position: relative;
  top: 0; left: -450px;
}

.slide {
  height: 300px;
  width: 500px;
  cursor: pointer;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



#prev, #next {
  cursor: pointer;
  position: absolute;
  bottom: -40px;

}

#next { left: 0 }

.transition {
  transition: .7s;
}
