// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/phase-banner';
@import 'components/related-nav';
@import 'components/tag';

// Overrides auto reload div background colour
#hc_extension_bkgnd {
  background-color: $color_nhsuk-grey-4 !important;
}

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////
