{
  "browserslistEnv": "javascripts",
  "presets": [
    [
      "@babel/preset-env",
      {
        "bugfixes": true,
        "loose": true
      }
    ]
  ],
  "env": {
    "test": {
      "browserslistEnv": "node"
    }
  }
}
