{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(5) {
    border-bottom: 4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
  {{ backLink({
      "href": "choose-incident-type",
      "text": "Back to choosing an incident type"
    }) }}

    <form action="enter-incident-crm" method="POST">
      {{ input({
        "label": {
          "text": "Enter the NHS Number of the patient affected by the incident",
          "classes": "nhsuk-label--l",
          "isPageHeading": true
        },
          "hint": {
          "text": "For example, 1123456578."
        },
        "id": "example",
        "name": "incident-number",
        "classes": "nhsuk-input--width-10"
      }) }}

      {{ button({
          "text": "Continue",
          "classes": "nhsuk-button--ers"
      }) }}
      <p><a href="">Exit without saving</a></p>
    </form>
  </div>
</div>
{% endblock %}
