{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(5) {
    border-bottom: 4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    {{ backLink({
      "href": "enter-incident-crm",
      "text": "Back to entering CRM Case Number"
    }) }}

    <h1 class="nhsuk-heading-l">Review Incident</h1>

    <form action="confirmation" method="POST">
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Incident number</dt>
          <dd class="nhsuk-summary-list__value">654321</dd>
          <dd class="nhsuk-summary-list__actions"><a href="choose-a-letter">Change<span class="nhsuk-u-visually-hidden"> Change</span></a></dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Affected patient's NHS Number</dt>
          <dd class="nhsuk-summary-list__value">12345678</dd>
          <dd class="nhsuk-summary-list__actions"><a href="choose-a-letter">Change<span class="nhsuk-u-visually-hidden"> Change</span></a></dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Incident type</dt>
          <dd class="nhsuk-summary-list__value">Defer</dd>
          <dd class="nhsuk-summary-list__actions"><a href="amend-letter-text-1">Change<span class="nhsuk-u-visually-hidden"> Change</span></a></dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">CRM Case Number</dt>
          <dd class="nhsuk-summary-list__value">CAS-12345-ABCDE</dd>
          <dd class="nhsuk-summary-list__actions"><a href="amend-letter-text-1">Change<span class="nhsuk-u-visually-hidden"> Change</span></a></dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Comments</dt>
          <dd class="nhsuk-summary-list__value"></dd>
          <dd class="nhsuk-summary-list__actions"><a href="amend-letter-text-1">Change<span class="nhsuk-u-visually-hidden"> Change</span></a></dd>
        </div>
      </dl>

      {{ button({
          "text": "Submit",
          "classes": "nhsuk-button--ers"
      }) }}
      <p><a href="">Exit without saving</a></p>
    </form>
  </div>
</div>
{% endblock %}
