{% if data.role == 'sampleTaker' %}
{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url"  : "/v8/patient/search/search",
        "label" : "Patient"
      },
      {
        'url' : '/v8/worklists/worklist',
        'label' : 'Results'
      }
    ]
  })
}}

{% elif data.role == 'admin' %}

{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url"  : "/v8/patient/search/search",
        "label" : "Patient"
      },
      {
        'url' : '/v8/prior-notification/prior-notification-8',
        'label' : 'Notifications'
      }
    ]
  })
}}

{% else %}
{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url"  : "/v8/patient/search/search",
        "label" : "Patient"
      },
      {
        'url' : '/v8/worklists/results',
        'label' : 'Results'
      },
      {
        'url'  : '',
        'label' : 'Reports'
      }
    ]
  })
}}

{% endif %}
