  <h1 class="nhsuk-heading-l">You are about to cease a patient from the cervical screening programme</h1>
  <p>When a patient is ceased they will no longer be invited to be screened.</p>
  <p>If you think this patient may need to be screened at a later date then you will need to either invite or defer the patient.</p>

  <form action="prior-notification-8-cease-review" method="post">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="pnl-comments">
        Comments
      </label>
      <span class="nhsuk-hint" id="example-hint">Do not include clinical information at  this point.</span>
      <textarea class="nhsuk-textarea" id="example" name="pnl-comments" rows="5" aria-describedby="example-hint" value="pnl-comments"></textarea>
    </div>

    <button class="nhsuk-button nhsuk-button--ers">Yes I understand and continue</button>
  </form>
  
  <p><a href="prior-notification-8-deferred">Start again</a></p>