  <mark>make into an interruption card if the users dont see it</mark>
  <h1 class="nhsuk-heading-l">You are about to cease a patient from the cervical screening programme</h1>
  <p>When a patient is ceased they will no longer be invited to be screened.</p>
  <p>If you think this patient may need to be screened at a later date then you will need to either invite or defer the patient.</p>

  <a href="prior-notification-8-cease-review" class="nhsuk-button nhsuk-button--ers">Yes I understand and continue</a>
  <p><a href="">Start again</a></p>