<h1 class="nhsuk-fieldset__legend--m">Review patient screening participation</h1>

  {{ summaryList({
  rows: [
    {
      key: {
        text: "Action"
      },
      value: {
        text: data['pnl-action'] or 'Cease'
      }
    },
    {
      key: {
        text: "Cease reason"
      },
      value: {
        text: data['pnl-defer-reason'] or 'No cervix'
      },
      actions: {
        items: [
          {
            href: "prior-notification-8-cease-reason",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Comment"
      },
      value: {
        html: data['pnl-comments'] or ''
      },
      actions: {
        items: [
          {
            href: "prior-notification-8-cease-length",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }
  ]
}) }}


  <a href="prior-notification-8-done" class="nhsuk-button nhsuk-button--ers">Submit</a>