<div class="nhsuk-back-link">
  <a id="back-step-1" class="nhsuk-back-link__link" href="#">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back</a>
</div>


{{ radios({
  "idPrefix": "pnl-reason",
  "name": "pnl-reason",
  "fieldset": {
    "legend": {
      "text": "Choose a reason to defer the patient",
      "classes": "nhsuk-fieldset__legend--m",
      "isPageHeading": true
    }
  },
  "items": [
    {
      "value": "yes",
      "text": "Pregnancy"
    },
    {
      "value": "yes",
      "text": "Recent test"
    },
    {
      "value": "no",
      "text": "Under care of colposcopy"
    },
    {
      "value": "no",
      "text": "Undergoing treatment relevant to screening"
    }
  ]
}) }}

<a id="step-3" href="" class="nhsuk-button nhsuk-button--ers">Continue</a>