{% extends 'layout.html' %}

{% block pageTitle %}
  Example - passing data from page to page
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="search-results" method="post">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Search for a patient
            </h1>
          </legend>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="nhs-number">
              NHS number
            </label>
            <input class="nhsuk-input nhsuk-u-width-three-quarters" id="nhs-number" name="nhs-number" value="{{ data['nhs-number'] }}" type="text">
          </div>
        </fieldset>
        <button class="nhsuk-button">Search</button>
      </form>

    </div>
  </div>
{% endblock %}
