{% if data.role == 'csas' %}
{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "true",
    
    "primaryLinks": [
      {
        "url"  : "/v9/patient/search/search",
        "label" : "Patient"
      },
      {
        'url' : '/v9/worklists-v3/worklists',
        'label' : 'Results'
      },
      {
        'url'  : '',
        'label' : 'Reports'
      }
    ]
  })
}}
{% else %}
{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url"  : "/v9/patient/search/search",
        "label" : "Patient"
      },
      {
        'url' : '/v9/get-prior-notifications-10',
        'label' : 'Notifications'
      }
    ]
  })
}}
{% endif %}
