
  <form action="prior-notification-{{ data.pnlversion }}-cease-confirm" method="post">

  {% call fieldset({
  legend: {
    "text": "Choose a reason to cease the patient",
    "classes": "nhsuk-fieldset__legend--l",
    "isPageHeading": true
  }
  }) %}

  {% if ( data.pnl_patient.date_of_birth | returnAge) > 60 %}
  {{ radios({
    "idPrefix": "example-hints",
    "name": "pnl-cease-reason",
    "items": [
      {
        "value": "No cervix",
        "text": "No cervix"
      },
      {
        "value": "Due to age",
        "text": "Due to age"
      },
      {
        "value": "Referred to colposcopy",
        "text": "Referred to colposcopy"
      }
    ]
  }) }}
  {% else %}
  {{ radios({
    "idPrefix": "example-hints",
    "name": "pnl-cease-reason",
    "items": [
      {
        "value": "No cervix",
        "text": "No cervix"
      },
      {
        "value": "Referred to colposcopy",
        "text": "Referred to colposcopy"
      }
    ]
  }) }}
  {% endif %}
{% endcall %}

  <button class="nhsuk-button nhsuk-button--ers">Continue</button>

  </form>
