  <h3 class="nhsuk-panel-with-label__label">{{ data.pnl_patient.first_name | capitalize }} {{ data.pnl_patient.last_name | capitalize }} 
  <span style= color:white; class="nhsuk-table__cell--hint">NHS No: {{ data.pnl_patient.nhs_number | formatNHSNumber }}</span></h3>

 

  <tr id="detailsRow4" class="detailsRow">
           <td colspan="3">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-full">
                {{ summaryList({
    classes: 'nhsuk-u-margin-bottom-3',
    rows: [
      {
        key: {
        text: "Next test due date"
      },
      value: {
      text: data.pnl_patient.next_test_due_date | returnDateFormat + " " + data.pnl_patient.next_test_due_date | returnTimeDiff
      }
    },
    {
      key: {
        text: "Last test date"
      },
      value: {
        text:  data.pnl_patient.results.result_date | returnDateFormat + " " + data.pnl_patient.results.result_date | returnTimeDiff
      }
    },
    {
      key: {
        text: "Last test"
      },
      value: {
        html: "(" + data.pnl_patient.results.result_code + data.pnl_patient.results.infection_code + data.pnl_patient.results.action_code + ") " + data.pnl_patient.results.result + ", " + data.pnl_patient.results.infection_result + ", " + data.pnl_patient.results.action
      }
    }
  ]
}) }}
<p class="nhsuk-u-margin-bottom-6"><a href="../patient/patient-summary">View full patient information</a></p>
              </div>
            </div>
          </td>
        </tr></p>