{{ summaryList({
    classes: 'nhsuk-summary-list--no-border nhsuk-u-margin-bottom-2',
    rows: [
      {
        key: {
        text: "Next test due date"
      },
      value: {
      text: patient.next_test_due_date | returnDateFormat + " " + patient.next_test_due_date | returnTimeDiff
      }
    },
    {
      key: {
        text: "Last test date"
      },
      value: {
        text:  patient.results.result_date | returnDateFormat + " " + patient.results.result_date | returnTimeDiff
      }
    },
    {
      key: {
        text: "Last test"
      },
      value: {
        html: "(" + patient.results.result_code + patient.results.infection_code + patient.results.action_code + ") " + patient.results.result + ", " + patient.results.infection_result + ", " + patient.results.action
      }
    }
  ]
}) }}
<p class="nhsuk-u-margin-bottom-6"><a href="../patient/patient-summary">View full patient information</a></p>