{% extends "layout-v2-patient.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
  <script type="text/javascript" src="/js/action-menu.js"></script>
  <script type="text/javascript" src="/js/sort.js"></script>
{% endblock %}
{% block pageTitle %}
  NHS Cervical Screening
{% endblock %}

{% block header %}
{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "false",
    "showSearch": "true"
  })
}}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
  {{ backLink({
    "href": "../patient-summary",
    "text": "Go back to patient summary"
  }) }}

            <form action="screening-history-ceased" method="post">


                <div class="nhsuk-form-group">
                  <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                      <h1 class="nhsuk-fieldset__heading">
                        Enter a reason change the status
                      </h1>
                    </legend>
                    <div class="nhsuk-radios">
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                          Recent test
                        </label>
                      </div>
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                        Current pregnancy
                        </label>
                      </div>
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                          Patient wishes to defer
                        </label>
                      </div>
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                          Undergoing relevant treatment
                        </label>
                      </div>
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                        Administritive reason
                        </label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                          <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                          Practice invitation
                          </label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                          <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                          Discharge from colposcopy
                          </label>
                        </div>
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                          Due to age
                        </label>
                      </div>
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                          No cervix
                        </label>
                      </div>
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                          Patient requests no further tests
                        </label>
                      </div>
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                          Mental capacity  act (best interests)
                        </label>
                      </div>
                      <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                          Other reason
                        </label>
                      </div>
                    </div>
                    </div>


                      <div class="nhsuk-form-group">

                      <label class="nhsuk-label nhsuk-label__strong" for="last-name-advanced">
                      CRM case number
                      </label>

                      <input class="nhsuk-input nhsuk-input--width-20" id="last-name-advanced" name="last-name" type="number">
                      </div>
                      <div id="nhsuk-form-group-dob-advanced" class="nhsuk-form-group">
                        <div class="nhsuk-form-group">
                          <fieldset class="nhsuk-fieldset" aria-describedby="dob-from" role="group">
                            <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                              Test date
                            </legend>
                            <span id="dob-from-error-error" class="nhsuk-error-message" style="display: none">
                              You must enter a date
                            </span>
                            <div class="nhsuk-date-input" id="dob-from">
                              <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                  <label class="nhsuk-label nhsuk-date-input__label" for="dob-day-from">
                                    Day
                                  </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" value="09" required="">                                </div>
                              </div>
                              <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                  <label class="nhsuk-label nhsuk-date-input__label" for="dob-month-from">
                                    Month
                                  </label>
                                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-dob-input__input nhsuk-input--width-2" id="month" name="test-date" type="number" pattern="[0-9]*" value="04">
                                </div>
                              </div>
                              <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                  <label class="nhsuk-label nhsuk-date-input__label" for="dob-year-from">
                                    Year
                                  </label>
                                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-dob-input__input nhsuk-input--width-4" id="year" name="year" type="number" pattern="[0-9]*" value="2020">
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </div>

                      </div>


                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="example">
                    Can you provide more detail?
                  </label>
                  <span class="nhsuk-hint" id="example-hint">
                    Do not include clinical information at  this point.
                  </span>
                  <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
                </div>











                  <button class="nhsuk-button--ers">Continue</button>








            </form>

  </div>
</div>

{% endblock %}