{% extends "layout-v2-patient.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
  <script type="text/javascript" src="/js/action-menu.js"></script>
  <script type="text/javascript" src="/js/sort.js"></script>
  <script type="text/javascript" src="/js/tabs.js"></script>

<script>
  function toggle(btnID, eIDs) {
    // Feed the list of ids as a selector
    var theRows = document.querySelectorAll(eIDs);
    // Get the button that triggered this
    var theButton = document.getElementById(btnID);
    // If the button is not expanded...
    if (theButton.getAttribute("aria-expanded") == "false") {
      // Loop through the rows and show them
      for (var i = 0; i < theRows.length; i++) {
        theRows[i].classList.add("shown");
        theRows[i].classList.remove("hidden");
      }
      // Now set the button to expanded
      theButton.setAttribute("aria-expanded", "true");
      // Otherwise button is not expanded...
    } else {
      // Loop through the rows and hide them
      for (var i = 0; i < theRows.length; i++) {
        theRows[i].classList.add("hidden");
        theRows[i].classList.remove("shown");
      }
      // Now set the button to collapsed
      theButton.setAttribute("aria-expanded", "false");
    }
    $('.expanderButton[aria-expanded="true"]').closest('tr').addClass('expandedRow');
    $('.expanderButton[aria-expanded="false"]').closest('tr').removeClass('expandedRow');
  }
</script>

{% endblock %}



{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "false",
    "showSearch": "false"
  })
}}
{% endblock %}

{% block patientBanner %}
  {% include '../components/patient-banner.html' %}
{% endblock %}


{% block content %}
  {% if data.role != 'sampleTaker' %}
  <nav class="nhsuk-sub-navigation">
    <ul class="nhsuk-sub-navigation__list">
      <li class="nhsuk-sub-navigation__item"><a href="patient-summary-5" class="nhsuk-sub-navigation__link" aria-current="page">Patient Summary</a></li>
      <li class="nhsuk-sub-navigation__item"><a href="history-v4" class="nhsuk-sub-navigation__link">Audit</a></li>
      <li class="nhsuk-sub-navigation__item"><a href="gp-info" class="nhsuk-sub-navigation__link">GP Information</a></li>
    </ul>
  </nav>
{% endif %}

<div class="nhsuk-grid-row nhsuk-u-margin-top-4">
  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-heading-l">Patient summary</h1>

      {% set pnlMsg = "<p>Update: " + data.pnl_update_msg  + " </p>"  %}
      {% if (data['pnl_update_msg_show'] > 1) %}
        {{ insetText({
          "HTML": pnlMsg,
          "classes": "nhsuk-inset-text nhsuk-inset-text__screening nhsuk-inset-text__screening--success nhsuk-u-margin-top-0"
        }) }}
      {% endif %}

      <!-- want to add message to say result has gone for review and will be added to patient summary. -->

      {% if (data['addresult_update_msg_show'] > 1) %}
        {{ insetText({
          "HTML": "<p>Test result submitted and pending review</p>",
          "classes": "nhsuk-inset-text nhsuk-inset-text__screening nhsuk-inset-text__screening--success nhsuk-u-margin-top-0"
        }) }}
      {% endif %} 


    {% if data.patientSummary.pnl_action == 'Deferred' %}
      <span class="nhsuk-tag nhsuk-tag--blue"><span>{{ data.patientSummary.pnl_action }} - {{ data.patientSummary.pnl_reason }}</span></span>
    {% endif %}

    {% if data.patientSummary.pnl_action == 'Ceased' %}
      <span class="nhsuk-tag nhsuk-tag--orange">{{ data.patientSummary.pnl_action }} - {{ data.patientSummary.pnl_reason }}</span>
    {% endif %}
    <dl class="nhsuk-summary-list nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Next test due date:
        </dt>
        <dd class="nhsuk-summary-list__value">
          {% if data.patientSummary.pnl_action == 'Ceased' %}
            -
          {% else %}
            {{ data.patientSummary.next_test_due_date | returnDateFormat or '20-Jan-2020' }}
          {% endif %}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          {% if data.role == 'csas' %}
            {% if data.patientSummary.pnl_action == 'Ceased' %}
              Actions:

              {% if data.patientSummary.pnl_reason == "No cervix" or data.patientSummary.pnl_reason == "Radiotherapy (to the pelvic area which affects the cervix)" %}
                <a href="/v12/start-reinstate?nhsNumber={{ data.patientSummary.nhs_number}}&role=csas&patversion=5&reinstateType=manual">Reinstate</a>
              {% elif data.patientSummary.pnl_reason == "Due to age" %}
                <a href="/v12/start-reinstate?nhsNumber={{ data.patientSummary.nhs_number}}&role=csas&patversion=5&reinstateType=reject">Reinstate</a>
              {% else %}
                <a href="/v12/start-reinstate?nhsNumber={{ data.patientSummary.nhs_number}}&role=csas&patversion=5&reinstateType=default">Reinstate</a>
              {% endif %}



              <!--<a href="change-due-date/enter-reinstate-3?nhsNumber={{ data.patientSummary.nhs_number}}&role=csas&patversion=3">Reinstate</a>-->
            {% else %}
              Actions:
              <a href="/v12/start-prior-notifications-defer-reason?nhsNumber={{ data.patientSummary.nhs_number }}&pnlversion=12&patversion=5&role=csas&returnUrl=pat">Defer</a>
              <a href="/v12/start-prior-notifications-cease-reason?nhsNumber={{ data.patientSummary.nhs_number }}&pnlversion=12&patversion=5&role=csas&returnUrl=pat">Cease</a>
            {% endif %}
          {% endif %}
        </dd>
      </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Invited date:
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if data.patientSummary.pnl_action == 'Ceased' %}
              -
            {% else %}
              09-Nov-2019
            {% endif %}
          </dd>
          <dd class="nhsuk-summary-list__actions">
          </dd>
        </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Address:
        </dt>
        <dd class="nhsuk-summary-list__value">
            {{ data['address'] or '20 Thornhill Street, Pudsey, LS15 6FD' }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
            
              {% if data.role == 'csas' %}
                <span class="nhsuk-tag nhsuk-tag--red">FP69</span>
              {% endif %}
           
        </dd>
      </div>
    </dl>
    {#{% if data.role != 'sampleTaker' %}
      {{ details({
      "text": "View previous addresses",
      "HTML": "

      <h4>Address History</h4>
      <table>
      <thead>
      <tr>
        <th>Moved in</th>
        <th>Address</th>
      </tr>
      </thead>
      <tr>
      <td>07 2017</td>
      <td>20 Thornhill Street, Pudsey, LS15 6FD</td>
      </tr>
      <tr>
      <td>03 2013</td>
      <td>29 Jubilee Close, Bradford, BD19 3WE</td>
      </tr>
      <tr>
      <td>01 2011</td>
      <td>1 High Street, Bradford, BD13 5TY</td>
      </tr>
      </table>"
      }) }}
    {% endif %}#}

    {% if data.role == 'sampleTaker' %}

    {% include '../components/hmr101.html' %}

    {% endif %}
  </div>
</div>

<div class="nhsuk-grid-row nhsuk-u-margin-top-4">
  <div class="nhsuk-grid-column-full">
    <h2 id="testresults" class="nhsuk-heading-l">Test results</h2>

    {% if data.role == 'csas' %}
    <a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary nhsuk-u-margin-bottom-4" href="/v12/start-adding-test?nhsNumber={{ data.patientSummary.nhs_number }}&role=csas">Add result</a>
    {% endif %}

    <div class="nhsuk-scrollable-pane">
    <div class="nhsuk-scrollable-pane__wrapper">
        <div id="table-scroll" class="table-scroll">
          <div class="nhsuk-table-responsive nhsuk-u-margin-top-0 table-wrap">
            <table id="sortable" class="nhsuk-table nhsuk-table-u-margin-0 nhsuk-table-clickable main-table bna-table">

              <!-- TABLE START -->
              <thead class="nhsuk-table__head">
                <tr class="nhsuk-table__row">
                  <th class="nhsuk-table__header" scope="col">Test Date</th>
                  <th class="nhsuk-table__header"  scope="col">Cytology result</th>
                  <th class="nhsuk-table__header" scope="col">HPV infection</th>
                  <th class="nhsuk-table__header" scope="col">Action</th>
                  <th class="nhsuk-table__header" scope="col">Repeat</th>
                  <th class="nhsuk-table__header" scope="col">Amend</th>
                  <!--<th class="nhsuk-table__header" scope="col">Screening lab</th>-->
                  {% if data.role != 'csas' %}
                    <th class="nhsuk-table__header" scope="col">Sample taker code</th>
                    <th class="nhsuk-table__header" scope="col">Slide no</th>
                  {% else %}
                    <th class="nhsuk-table__header" scope="col">View more</th>
                  {% endif %}   
                </tr> 
              </thead>
              <tbody class="nhsuk-table__body nhsuk-body-">

              {% for result in data.patientSummary.results %}
                     {% set rowId =  "selectRow" + loop.index %}
                     {% set detailsId =  "detailsRow" + loop.index %}
                     {% set buttonId =  "btnRow" + loop.index %}
                     {% set NameId =  "nameRow1" + loop.index %}
                <tr class="nhsuk-table__row">
                  <td class="nhsuk-table__cell fixed-side">
                    {{ result.test_date | returnDateFormat }}
                    <span class="nhsuk-table__cell--hint">{{ result['result-type'] }}</span>
                  </td>
                  <td class="nhsuk-table__cell">
                    {{ result.result }}
                    <span class="nhsuk-table__cell--hint">{{ result.result_code }}</span>
                  </td>
                  <td class="nhsuk-table__cell">
                    {{ result.infection_result or 'No HPV Data' }}
                    <span class="nhsuk-table__cell--hint">{{ result.infection_code }}</span>
                  </td>
                  <td class="nhsuk-table__cell">
                    {{ result.action }}
                  <span class="nhsuk-table__cell--hint">{{ result.action_code }}</span>
                  </td>
                  <td class="nhsuk-table__cell">
                    {{ result.recall_months }}
                    <span class="nhsuk-table__cell--hint">Months</span>
                  </td>
                  <td>
                      <a href="/v12/patient/add-test-result/add-test-result-edit" style="margin-left:4px; margin-right:4px;">Edit</a>
                      <a href="/v12/patient/add-test-result/add-test-result-remove" style="margin-left:4px; margin-right:4px;">Remove</a>
                  </td>
                  <!--<td class="nhsuk-table__cell">
                    {{ result.sending_lab }}
                    <span class="nhsuk-table__cell--hint">Derby Royal Hospital</span>
                  </td>-->
                  {% if data.role != 'csas' %}
                    <td class="nhsuk-table__cell">{{ result.sender_code }}</td>
                    <td class="nhsuk-table__cell">{{ result.slide_number }}</td> 
                  {% else %}
                    <td> 
                      <!--<a href="/v12/patient/add-test-result/add-test-result-edit" style="margin-left:4px; margin-right:4px;">Edit</a>
                      <a href="/v12/patient/add-test-result/add-test-result-remove" style="margin-left:4px; margin-right:4px;">Remove</a>-->
                      <button class="expanderButton" type="button" id="{{ buttonId }}" aria-expanded="false" onclick="toggle(this.id,'#{{ detailsId }}');" aria-controls="{{ detailsId }}" aria-label="More details for" aria-labelledby="{{ buttonId }} {{ NameId }}"></button>
                    </td>
                  {% endif %}         
                </tr>
                  <tr id="{{ detailsId }}" class="hidden detailsRow">
                    <td colspan="7">
                      <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-three-quarters nhsuk-u-margin-left-3">
                          <div id="reasons-step-0">{% include '../components/result-details.html' %}</div> 
                        </div>
                      </div>
                    </td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>


    {# {% include '../components/hpv-results.html' %}#}
  </div>
</div>

{% endblock %}

{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      <p><a href="/v12/reset-patient-data-12">Reset patient data</a></p>
    </div>
  </div>
</footer>
{% endblock %}

