{% extends "layout-v2-patient.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
{% endblock %}

{% block pageTitle %}
NHS Cervical Screening
{% endblock %}

{% block header %}
{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "false",
    "showSearch": "true"
  })
}}
{% endblock %}

{% block patientBanner %}
  {% include 'v5/components/patient-banner.html' %}
{% endblock %}

{% block content %}

<nav class="nhsuk-sub-navigation">
  <ul class="nhsuk-sub-navigation__list">
    <li class="nhsuk-sub-navigation__item"><a href="patient-summary" class="nhsuk-sub-navigation__link">Patient Summary</a></li>
    <li class="nhsuk-sub-navigation__item"><a href="history" class="nhsuk-sub-navigation__link">History</a></li>
    <li class="nhsuk-sub-navigation__item"><a href="gp-info" class="nhsuk-sub-navigation__link" aria-current="page">GP Information</a></li>
    <li class="nhsuk-sub-navigation__item"><a href="additional-info" class="nhsuk-sub-navigation__link">Additional Information</a></li>
  </ul>
</nav>

<div class="nhsuk-grid-row nhsuk-u-margin-top-4">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-l">GP Info</h1>
    <h4>Dr Katherine Johnson</h4>
          <ul>
            <!--<li><strong>Name: </strong>Dr Katherine Johnson</li>-->
            <li><strong>GMC number: </strong>123456789</li>
            <li><strong>Start date: </strong>13 09 1994</li>
            <li><strong>Practice contact number: </strong>0113 3343343</li>
            <li><strong>Practice contact email: </strong><a href="">admins-ptrs@nhs.net</a></li>
            <li><strong>Practice code:</strong> A81007
          </ul>
          <hr>
          <p><a href="">View all GP's at this practice</a></p>
  </div>
</div>

{% endblock %}
