{% if data.role == 'sampleTaker' %}
{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url"  : "/v7/patient/search/search",
        "label" : "Patient"
      },
      {
        'url' : '/v7/worklists/worklists',
        'label' : 'Worklists'
      }
    ]
  })
}}

{% elif data.role == 'admin' %}
{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url"  : "/v7/patient/search/search",
        "label" : "Patient"
      },
      {
        'url' : '/v7/prior-notification/prior-notification-3',
        'label' : 'Prior Notification'
      },
      {
        'url' : '/v7/non-responder/non-responder',
        'label' : 'Non-responder'
      }
    ]
  })
}}

{% else %}
{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url"  : "/v7/patient/search/search",
        "label" : "Patient"
      },
      {
        'url' : '/v7/worklists/worklists',
        'label' : 'Worklists'
      },
      {
        'url'  : '',
        'label' : 'Reports'
      }
    ]
  })
}}

{% endif %} 
