{{ radios({
  "idPrefix": "example",
  "name": "pnl-action",
  "fieldset": {
    "legend": {
      "text": "Choose an action for this screening episode",
      "classes": "nhsuk-fieldset__legend--m",
      "isPageHeading": true
    }
  },
  "items": [
    {
      "value": "yes",
      "text": "Invite the patient"
    },
    {
      "value": "yes",
      "text": "Defer the patient"
    },
    {
      "value": "no",
      "text": "Cease the patient"
    }
  ]
}) }}

<a id="step-2" href="" class="nhsuk-button nhsuk-button--ers">Continue</a>