{% extends "layout-v2.html" %}


{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
  {% include '../../v11/components/header-3.html' %}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <nav class="nhsuk-sub-navigation nhsuk-u-padding-bottom-6">
      <h1 class="nhsuk-heading-l">Notifications</h1>
      <ul class="nhsuk-sub-navigation__list">
        <li class="nhsuk-sub-navigation__item"><a href="prior-notification-12" class="nhsuk-sub-navigation__link">Patients due to be invited<span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-2">{{ data['patients'].length }}</span></a></li>
        <li class="nhsuk-sub-navigation__item"><a href="../non-responder/non-responder-4" class="nhsuk-sub-navigation__link">Patients who have not responded<span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-2"> 6</span> </a></li>
         <li class="nhsuk-sub-navigation__item"><a href="/v11/non-responder/ceased-patients" class="nhsuk-sub-navigation__link">Patients to review<span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-2"> 4</span> </a></li>
        <li class="nhsuk-sub-navigation__item"><a href="" class="nhsuk-sub-navigation__link" aria-current="page">Manage emails</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
     <h1 class="nhsuk-heading-m">Manage Emails</h1>
     <p class="nhsuk-u-margin-bottom-6">
  <span class="nhsuk-u-visually-hidden">Information: </span> Check who receives notification emails. Staff members involved in cervical screening tasks should receive the appropriate notification emails.</p>
  <p class="nhsuk-u-margin-bottom-6">

     <a class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-bottom-2" href="prior-notification-12-add-email" > 
  Add email address
  </a> 
  <div class="nhsuk-panel nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
  <h2>Sorry, there is a problem getting emails that receive notifications.</h2><p><a href="">Try reloading the page</a></p>
      <p>If this problem persists then <a href="">contact the help desk</a><a></a></p><a>
</a></div>
</div>
{% endblock %}

{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      <p><a href="/v11/reset-patient-data-12">Reset patient data</a></p>
    </div>
  </div>
</footer>
{% endblock %}
