{% extends "layout-v2.html" %}

{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
  {% include '../../components/header-3.html' %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
      <a class="nhsuk-back-link__link" href="choose-reason-to-amend-notification">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back amending result notification</a>
    </div>
  <div class="nhsuk-panel-with-label">
    {% include '../../components/pnl-patient-2-no-result.html' %}
    <span class="nhsuk-hint">Step 2 of 2</span>



    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        Review cancelling results letter 
      </legend>
      <form action="/v12/cancel-result-letter" method="post">
      <dl class="nhsuk-summary-list">
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Sender code</dt>
          <dd class="nhsuk-summary-list__value">{{ data['sender-code'] or '-' }} </dd>
          <dd class="nhsuk-summary-list__actions"></dd>          
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Slide number</dt>
          <dd class="nhsuk-summary-list__value">{{ data['slide-number'] }}</dd>
          <dd class="nhsuk-summary-list__actions"></dd>   
        </div>

        {% set nextTestDueDate = data['example-year'] + "-" + data['example-month'] + "-" + data['example-day'] %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Test date</dt>
          <dd class="nhsuk-summary-list__value">{{ data['test_date'] | returnDateFormat }}</dd>
          <dd class="nhsuk-summary-list__actions"></dd>   
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Result</dt>
          <dd class="nhsuk-summary-list__value">({{ data['result-result'] | capitalize }}{{ data['result-infection'] | capitalize }}{{ data['result-action'] | capitalize }}) {{ data['result-result'] | returnResultText }}, {{ data['result-infection'] | returnInfectionText }}, {{ data['result-action'] | returnActionText }}</dd>
          <dd class="nhsuk-summary-list__actions"></dd>   
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Address</dt>
          <dd class="nhsuk-summary-list__value">69 Sloe Lane, Croydon, CR1 1FR</dd>
          <dd class="nhsuk-summary-list__actions"></dd>   
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Cancel result letter</dt>
          <dd class="nhsuk-summary-list__value">{{ data['cancel-result-letter'] }}</dd>
          <dd class="nhsuk-summary-list__actions"><a href="choose-reason-to-amend-notification">Change</a></dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">CRM case number</dt>
          <dd class="nhsuk-summary-list__value">{{ data['crm'] }}</dd>
          <dd class="nhsuk-summary-list__actions"><a href="choose-reason-to-amend-notification">Change</a></dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Comments</dt>
          <dd class="nhsuk-summary-list__value">{{ data['comments'] }}</dd>
          <dd class="nhsuk-summary-list__actions"><a href="choose-reason-to-amend-notification">Change</a></dd>
        </div>
      </dl>

        <button class="nhsuk-button nhsuk-button--ers" type="submit">Submit</button>
        <p><a href="../patient-summary-7">Exit without saving</a></p>
      </form>
    </fieldset>

  </div>
</div>

{% endblock %}

{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      <p><a href="/v12/reset-patient-data-12">Reset patient data</a></p>
    </div>
  </div>
</footer>
{% endblock %}
