{% extends "layout-v2-patient.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
  <script type="text/javascript" src="/js/action-menu.js"></script>
  <script type="text/javascript" src="/js/sort.js"></script>
{% endblock %}
{% block pageTitle %}
  NHS Cervical Screening
{% endblock %}

{% block header %}
{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "false",
    "showSearch": "true"
  })
}}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
  {{ backLink({
    "href": "../patient-summary",
    "text": "Go back to patient summary"
  }) }}


  <form action="/v6/patient/change-due-date/change" method="post" class="form">

    {% set CeaseReasons %}
    {% include 'radios/macro.njk' %}
    {{ radios({
    "idPrefix": "cease",
    "name": "reason",
    "items": [
      {
        "value": "No cervix",
        "text": "No cervix"
      },
      {
        "value": "Cease - Patient choice",
        "text": "Patient choice"
      },
      {
        "value": "Mental capacity act",
        "text": "Mental capacity act"
      },
      {
        "value": "Receiving radiotherapy",
        "text": "Receiving radiotherapy"
      },
      {
        "value": "Aged over 65",
        "text": "Aged over 65"
      },
      {
        "value": "other reason",
        "text": "Other reason"
      }
    ]
    }) }}

    {% endset %}

    {% set DeferReasons %}
    {% include 'radios/macro.njk' %}
    {{ radios({
    "idPrefix": "defer",
    "name": "reason",
    "items": [
      {
        "value": "Pregnancy",
        "text": "Pregnancy"
      },
      {
        "value": "Defer - patient choice",
        "text": "Patient choice"
      },
      {
        "value": "Undergoing treatment",
        "text": "Undergoing treatment"
      },
      {
        "value": "Recent test",
        "text": "Recent test"
      },
      {
        "value": "Under care of colposcopy",
        "text": "Under care of colposcopy"
      },
      {
        "value": "other reason",
        "text": "Other reason"
      }
    ]
  }) }}
  <div id="nhsuk-form-group-dob-advanced" class="nhsuk-form-group">
                          <div class="nhsuk-form-group">
                            <fieldset class="nhsuk-fieldset" aria-describedby="dob-from" role="group">
                              <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
                                Test date
                              </legend>
                              <span id="dob-from-error-error" class="nhsuk-error-message" style="display: none">
                                You must enter a date
                              </span>
                              <div class="nhsuk-date-input" id="dob-from">
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="dob-day-from">
                                      Day
                                    </label>
                                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="day" name="day" type="number" pattern="[0-9]*" value="day">                                </div>
                                </div>
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="dob-month-from">
                                      Month
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-dob-input__input nhsuk-input--width-2" id="month" name="month" type="number" pattern="[0-9]*" value="month">
                                  </div>
                                </div>
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="dob-year-from">
                                      Year
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-dob-input__input nhsuk-input--width-4" id="year" name="year" type="number" pattern="[0-9]*" value="">
                                  </div>
                                </div>
                              </div>
                              <input type="hidden" id="ntdd" name="ntdd" value="19 01 2021">
                            </fieldset>
                          </div>

  </div>

{% endset %}





              {{ conditionalRadios({
          "idPrefix": "gov",
          "name": "gov",
          "fieldset": {
            "legend": {
              "text": "Choose a reason to change the next test due date",
              "isPageHeading": true,
              "classes": "nhsuk-fieldset__legend--m"
            }
          },
          "items": [
          {
            "value": "cease",
            "text": "Cease",
            "conditional": {
            html: CeaseReasons
            }
          },
            {
              "value": "defer",
              "text": "Defer",
              "conditional": {
              html: DeferReasons
              }
            }


          ]
        }) }}

                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="example">
                  CRM
                  </label>
                <input class="nhsuk-input nhsuk-input--width-10" type="number" name="crm" value="crm">
              </div>



                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="example">
                    Detail
                  </label>
                  <span class="nhsuk-hint" id="example-hint">
                    Do not include clinical information at  this point.
                  </span>
                  <textarea class="nhsuk-textarea" id="example" name="details" rows="5" aria-describedby="example-hint" value="details"></textarea>
                </div>
                  <button class="nhsuk-button--ers">Continue</button>
            </form>

            </div>
{% endblock %}
