{% extends 'layout-nhsuk.njk' %}

{% block pageTitle %}
  NHS.UK prototype Kit - Content page template
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>Page heading goes here</h2>

      <p>This is a paragraph of text. </p>

    </div>  
  </div>
{% endblock %}
