{% extends "layout-v2.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
{% endblock %}
{% block pageTitle %}
  NHS Cervical Screening
{% endblock %}

{% block header %}
  {% include '../components/header.html' %}
{% endblock %}


{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
  <h1 class="nhsuk-heading-l">Results</h1>
  

  <div class="nhsuk-table-responsive">
    <table id="sortable" class="nhsuk-table nhsuk-table-u-margin-0 nhsuk-table-clickable">

      <!-- TABLE START -->
      <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" aria-sort="none" scope="col">
            <button onclick="sortTable()" type="button" data-index="0">Labs</button>
          </th>
          <th class="nhsuk-table__header" aria-sort="none" scope="col">
            <button onclick="sortTable()" type="button" data-index="0">Date</button>
          </th>
          <th class="nhsuk-table__header" aria-sort="none" scope="col">
            <button onclick="sortTable()" type="button" data-index="0">No of Results</button>
          </th>
          <th class="nhsuk-table__header" aria-sort="none" scope="col">
            <button onclick="sortTable()" type="button" data-index="0">Mismatched results</button>
          </th>
          <th class="nhsuk-table__header" aria-sort="none" scope="col">
            <button onclick="sortTable()" type="button" data-index="0">Mismatched addresses</button>
          </th>
          <th class="nhsuk-table_header"></th>
         
        </tr>
        
      </thead>
        <tbody class="nhsuk-table__body">

        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <strong><a href="worklists-result-nhs-no">Gateshead</strong></a>
          </td>
          <td class="nhsuk-table__cell">
            06 02 2020
          </td>
          <td class="nhsuk-table__cell">
            991
          </td>
          <td class="nhsuk-table__cell">
            2
          </td>
          <td class="nhsuk-table__cell">
            1
          </td>
          <td class="nhsuk-table__cell multiple-choice--hod">
            <span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">Not started</span>
          </td>
        </tr>
                      <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell">
                        <strong><a href="">Manchester</strong></a>
                      </td>
                      <td class="nhsuk-table__cell">
                        06 02 2020
                      </td>
                      <td class="nhsuk-table__cell">
                        678
                      </td>
                      <td class="nhsuk-table__cell">
                        20
                      </td>
                      <td class="nhsuk-table__cell">
                        34
                      </td>
                      <td class="nhsuk-table__cell multiple-choice--hod">
                        <span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">Not started</span>
                      </td>
                    </tr>
                                <tr class="nhsuk-table__row">
                                  <td class="nhsuk-table__cell">
                                    <strong><a href="">Derby</strong></a>
                                  </td>
                                  <td class="nhsuk-table__cell">
                                    06 02 2020
                                  </td>
                                  <td class="nhsuk-table__cell">
                                    789
                                  </td>
                                  <td class="nhsuk-table__cell">
                                    12
                                  </td>
                                  <td class="nhsuk-table__cell">
                                    5
                                  </td>
                                  <td class="nhsuk-table__cell multiple-choice--hod">
                                    <span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">Not started</span>
                                  </td>
                                </tr>
                                            <tr class="nhsuk-table__row">
                                        <td class="nhsuk-table__cell">
                                          <strong><a href="">Bristol</strong></a>
                                        </td>
                                        <td class="nhsuk-table__cell">
                                          06 02 2020
                                        </td>
                                        <td class="nhsuk-table__cell">
                                          652
                                        </td>
                                        <td class="nhsuk-table__cell">
                                          23
                                        </td>
                                        <td class="nhsuk-table__cell">
                                          15
                                        </td>
                                        <td class="nhsuk-table__cell multiple-choice--hod">
                                          <span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">Not started</span>
                                        </td>
                                      </tr>
                                         </tbody>   
      </table>
      </div>
                    <p style="text-align: center;"><a class="nhsuk-button nhsuk-button--ers_reverse">Load more</a></p>
                    


  </div>
  </div>
{% endblock %}