{% extends "layout-v2.html" %}

{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
  {% include '../components/header-2.html' %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    {{ backLink({
    "href": "prior-notification-9",
    "text": "Back to patients due to be invited",
    "classes" : "nhsuk-u-margin-bottom-4"
    }) }}
    
    <div class="nhsuk-panel-with-label">
      {% include '../components/pnl-patient.html' %}
      <span class="nhsuk-hint">Step 1 of 3</span>
      {% include '../components/patient-cease-reason.html' %}
    </div>

  </div>
</div>

{% endblock %}