{% extends "layout-v2.html" %}

{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
  {% include '../components/header-3.html' %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

  {{ backLink({
  "href": "prior-notification-10-cease-reason",
  "text": "Back to step 1 - Choose a reason to cease the patient",
  "classes" : "nhsuk-u-margin-bottom-4"
  }) }}

    <div class="nhsuk-panel-with-label">
      {% include '../components/pnl-patient-2.html' %}

      <span class="nhsuk-hint">Step 2 of 3</span>
      {% include '../components/patient-defer-confirm.html' %}
    </div>
  
  </div>
</div>


{% endblock %}

{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      <p><a href="/v9/reset-patient-data-10">Reset patient data</a></p>
    </div>
  </div>
</footer>
{% endblock %}
