{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Example - passing data from page to page
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Example - passing data from page to page</h1>

      <p class="nhsuk-body-l">You may want to use or display data a user has entered over a few screens.</p>

      <p>The prototype kit includes a simple way of saving data entered in forms, as well as displaying the saved data.</p>

      <p><a href="/examples/passing-data/register-gp-step1">You can see an example here.</a></p>

    </div>
  </div>
{% endblock %}
