{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(5) {
    border-bottom: 4px solid #d8dde0;
  }

  .nhsuk-button, .nhsuk-button--ers, .dropdown .dropbtn, .nhsuk-button--ers_secondary, .nhsuk-button--ers_reverse, .nhsuk-button--ers_reverse:hover, .nhsuk-button--ers_reverse:focus, .nhsuk-button--ers_reject, .nhsuk-blue, .nhsuk-right  {
    margin-bottom: 0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {{ backLink({
      "href": "index",
      "text": "Back to Admin"
    }) }}

    <h1 class="nhsuk-heading-l">Manage sender codes</h1>

<p>View and manage all non GP senders. For GP senders, go to the <a href="https://odsportal.digital.nhs.uk/Organisation/Search">ODS Portal</a>.</p> 

     <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
         Refine search for sender
        </span>
      </summary>
   
   
      <div class="nhsuk-details__text">
      <div class="nhsuk-hint" id="example-hint">
      Enter the sender details:
     
    </div>
        <form action="sender-code-search" method="post">
    <div class="nhsuk-form-group">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-quarter">
        </div>
        <div class="nhsuk-grid-column-one-quarter">
          <div class="nhsuk-date-input__item">
            <label class="nhsuk-label nhsuk-label__strong nhsuk-body-xs">
              Cipher
            </label>
            <input id="searchfield" class="nhsuk-input" type="" inputmode="" name="searchnhs" value="">
          </div>
        </div>
      </div>
    </div>
    <div class="nhsuk-form-group">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-quarter">
        </div>
        <div class="nhsuk-grid-column-one-quarter">
          <div class="nhsuk-date-input__item">
            <label class="nhsuk-label nhsuk-label__strong nhsuk-body-xs">
              Sender code
            </label>
            <input id="searchfield" class="nhsuk-input" type="" inputmode="" name="searchnhs" value="">
          </div>
        </div>
      </div>
    </div>
    <div class="nhsuk-form-group">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <button class="nhsuk-button nhsuk-button--ers" type="submit">Search</button>
        </div>
      </div>
    </div>
  </form>
     
    </details>
<br>  

<div class="nhsuk-grid-row nhsuk-u-margin-top-4">
  <div class="nhsuk-grid-column-full">
   <!-- <h2 id="testresults" class="nhsuk-heading-l">Existing senders</h2>-->

  <a class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-bottom-4 no-print" href="add-sender"
>Add non-GP sender</a>


    {{ table({
      panel: false,
      caption: "",
      firstCellIsHeader: false,
      head: [
        {
          text: "Cipher"
        },
        {
          text: "Sender code"
        },
        {
          text: "Name and address"
        },
         {
          text: "Active"
        },
         {
          text: "Inactive date"
        },
         {
          text: "Source type"
        },
         {
          text: "Amend"
        }


      ],
      rows: [
        [
          {
            text: "BAA"
          },
          {
            text: "Y05222"
          },
          {
            html: "Woodland Drive Medical Centre, 
            <br>Woodland Drive,
            <br>Barnsley, 
            <br>South Yorkshire, 
            <br>S70 6QW"
          },
          {
            text: "Yes"
          },
          {
            text: "-"
          },
          {
            text: "7"
          },
         
          {
            html: '<a href="review-edit-sender">Review</a> <a href="deactivate-sender">Deactivate</a>'
          }
        ],
        
        [
           {
            text: "01"
          },
          {
            text: "AHA"
          },
          {
            html: "Hillder House,
            <br> Gawber Rd,
            <br> Barnsley"
          },
          {
            text: "No"
          },
          {
            text: "01-02-2010"
          },
          {
            text: "2"
          },
         
          {
           html: '<a href="review-edit-sender">Review</a> <a href="reactivate-sender">Reactivate</a>'
          }
        ],
        [
           {
            text: "01"
          },
          {
            text: "ANC"
          },
          {
            html: "Barnsley District General Hospital,
            <br> Gawber Rd,
            <br> Barnsley"
          },
          {
            text: "No"
          },
          {
            text: "01-02-2010"
          },
          {
            text: "4"
          },
         
          {
           html: '<a href="review-edit-sender">Review</a> <a href="reactivate-sender">Reactivate</a>'
          }
        ],

        [
           {
            text: "01"
          },
          {
            text: "ANCSHW"
          },
          {
            html: "A.N.C,
            <br> Manygates,
            <br> wakefeild"
          },
          {
            text: "No"
          },
          {
            text: "01-02-2010"
          },
          {
            text: "2"
          },
         
          {
           html: '<a href="review-edit-sender">Review</a> <a href="reactivate-sender">Reactivate</a>'
          }
        ],

        [
           {
            text: "01"
          },
          {
            text: "BAACOL"
          },
          {
            html: "Bansley district general hospital
            <br> Gawber Road,
            <br> Barnsley
            "
          },
          {
            text: "No"
          },
          {
            text: "01-02-2010"
          },
          {
            text: "7"
          },
         
          {
            html: '<a href="review-edit-sender">Review</a> <a href="reactivate-sender">Reactivate</a>'
          }
        ],
          [
           {
            text: "EB"
          },
          {
            text: "Y00751"
          },
          {
            html: "Inspired,
            <br> Easthampstead Road,
            <br> Barcknell,
            <br> Berkshire,
            <br> RG12 1YQ"
          },
          {
            text: "Yes"
          },
          {
            text: "-"
          },
          {
            text: "1"
          },
          
          {
            html: '<a href="review-edit-sender">Review</a> <a href="deactivate-sender">Deactivate</a>'
          }


        ],

         [
           {
            text: "EB"
          },
          {
            text: "Y05157"
          },
          {
            html: "Boundary House Surgery,
            <br> Mount lane,
            <br> Barcknell,
            <br> Berkshire,
            <br> RG12 9PG"
          },
          {
            text: "Yes"
          },
          {
            text: "-"
          },
          {
            text: "1"
          },
          {
            html: '<a href="review-edit-sender">Review</a> <a href="deactivate-sender">Deactivate</a>'
          }
        ],
           [
           {
            text: "01"
          },
          {
            text: "BHA"
          },
          {
            html: "Hillder House,
            <br> Gawber road,
            <br> Barnsley"
          },
          {
            text: "No"
          },
          {
            text: "01-02-2010"
          },
          {
            text: "2"
          },
          {
            html: '<a href="review-edit-sender">Review</a> <a href="reactivate-sender">Reactivate</a>'
          }
        ],
              [
           {
            text: "EB"
          },
          {
            text: "Y05962"
          },
          {
            html: "Bharani Medical Centre,
            <br> Lansdowne Avenue,
            <br>Slough,
            <br> SL1 3SJ"
          },
          {
            text: "Y"
          },
          {
            text: "-"
          },
          {
            text: "7"
          },
         
          {
            html: '<a href="review-edit-sender">Review</a> <a href="deactivate-sender">Deactivate</a>'
          }
        ],
        [
           {
            text: "01"
          },
          {
            text: "CASGOP"
          },
          {
            html: "Castleford and Normanton,
            <br> General hospital"
          },
          {
            text: "-"
          },
          {
            text: "-"
          },
          {
            text: "-"
          },
         
          {
            html: '<a href="review-edit-sender">Review</a> <a href="deactivate-sender">Deactivate</a>'
          }
        ]    
        
        
      ]
}) }}

  </div>
</div>
<nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
  <ul class="nhsuk-list nhsuk-pagination__list">
   
    <li class="nhsuk-pagination-item--next">
      <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#">
        <span class="nhsuk-pagination__title">Next</span>
        <span class="nhsuk-u-visually-hidden">:</span>
        <span class="nhsuk-pagination__page">10 of 18029</span>
        <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
        </svg>
      </a>
    </li>
  </ul>
</nav>

{% endblock %}


