{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(5) {
    border-bottom: 4px solid #d8dde0;
  }

  .nhsuk-button, .nhsuk-button--ers, .dropdown .dropbtn, .nhsuk-button--ers_secondary, .nhsuk-button--ers_reverse, .nhsuk-button--ers_reverse:hover, .nhsuk-button--ers_reverse:focus, .nhsuk-button--ers_reject, .nhsuk-blue, .nhsuk-right  {
    margin-bottom: 0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {{ backLink({
      "href": "index",
      "text": "Back to Admin"
    }) }}

    <h1 class="nhsuk-heading-l">Manage sender codes</h1>

    <p>View and manage all non GP senders. For GP senders, go to <a href="">ODS website</a>.</p> 

     <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
         Refine search by cipher and sender code
        </span>
      </summary>
   
   
      <div class="nhsuk-details__text">
      <div class="nhsuk-hint" id="example-hint">
      Enter the sender details:
     
    </div>
        <form action="sender-code-search" method="post">
    <div class="nhsuk-form-group">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-quarter">
        </div>
        <div class="nhsuk-grid-column-one-quarter">
          <div class="nhsuk-date-input__item">
            <label class="nhsuk-label nhsuk-label__strong nhsuk-body-xs">
              District health authority 
            </label>
            <input id="searchfield" class="nhsuk-input" type="number" inputmode="numeric" name="searchnhs" value="">
          </div>
        </div>
      </div>
    </div>
    <div class="nhsuk-form-group">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-quarter">
        </div>
        <div class="nhsuk-grid-column-one-quarter">
          <div class="nhsuk-date-input__item">
            <label class="nhsuk-label nhsuk-label__strong nhsuk-body-xs">
              Sender code
            </label>
            <input id="searchfield" class="nhsuk-input" type="number" inputmode="numeric" name="searchnhs" value="">
          </div>
        </div>
      </div>
    </div>
    <div class="nhsuk-form-group">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <button class="nhsuk-button nhsuk-button--ers" type="submit">Search</button>
        </div>
      </div>
    </div>
  </form>
  
    </details>
<br>  
<div class="nhsuk-grid-row nhsuk-u-margin-top-4">
  <div class="nhsuk-grid-column-full">
    <h2 id="testresults" class="nhsuk-heading-l">Existing senders</h2>

    <p>
      <span class="number-of-results">
        <h3 class="nhsuk-heading-xs">We found <b>1</b> result for senders with district health authority 07 and sender code GYNE</h3>
        <p>If this isn't the sender you're looking for you can refine search again.</p>
      </span>
    </p>
<br>
  <a class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-bottom-4 no-print" href="/v12/add-sender"
>Add non-GP sender</a>

    {{ table({
      panel: false,
      caption: "Skin symptoms and possible causes",
      firstCellIsHeader: false,
      head: [
        {
          text: "District health authority"
        },
        {
          text: "Sender code"
        },
        {
          text: "Name and address"
        },
         {
          text: "Active"
        },
         {
          text: "Inactive date"
        },
         {
          text: "Source type"
        },
         {
          text: "Amend"
        }


      ],
      rows: [ 
        [
           {
            text: "07"
          },
          {
            text: "GYNE"
          },
          {
            html: "Crarc Colposcopy clinic
            <br> Ipswich hospital,
            <br> Heath centre,
            <br> Ipswich,
            <br> IP4 5PD"
          },
          {
            text: "Yes"
          },
          {
            text: "-"
          },
          {
            text: "4"
          },
         
          {
            html: '<a href="edit-sender">Amend</a> <a href="deactivate-sender">Deactivate</a>'
          }
        ]
          
        
      ]
}) }}

  </div>
</div>
{% endblock %}
