{% extends "layout-v2.html" %}

{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
  {% include '../../components/header-3.html' %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
      <a class="nhsuk-back-link__link" href="add-sender-crm">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to step 2 - Add CRM case number</a>
    </div>
   <div class="nhsuk-panel-with-label">
      <class="nhsuk-panel-with-label__label">
      <h3 class="nhsuk-panel-with-label__label">Add new sender
  <span style= color:white; class="nhsuk-table__cell--hint"></span></h3>
    <span class="nhsuk-hint">Step 3 of 3</span>


    <div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      Review new sender
    </legend>
<br>



    <form action="manage-sender-codes" method="post">

<dl class="nhsuk-summary-list">



  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Sender code</dt>
    <dd class="nhsuk-summary-list__value">{{ data['senderCode'] or "ABCD" }}</dd>
    <dd class="nhsuk-summary-list__actions"><a href="add-sender">Change<span class="nhsuk-u-visually-hidden"> Sender code</span></a></dd>
  </div>

   <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Area</dt>
    <dd class="nhsuk-summary-list__value">{{ data['inputArea'] or "BAA" }}</dd>
    <dd class="nhsuk-summary-list__actions"><a href="add-sender">Change<span class="nhsuk-u-visually-hidden"> Cipher</span></a></dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Source type</dt>
    <dd class="nhsuk-summary-list__value">{{ data['sourceType'] or "04" }}</dd>
    <dd class="nhsuk-summary-list__actions"><a href="add-sender">Change<span class="nhsuk-u-visually-hidden"> Source code</span></a></dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Name and address</dt>
    <dd class="nhsuk-summary-list__value">{{ data['senderName'] or "Kent & Canterbury Hospital" }}
    <br>{{ data['buildingName'] or "Hospital" }}<br>{{ data['streetName'] or "Ethelbert Rd" }}<br>{{ data['townName'] or "Canterbury" }}<br>{{ data['countyName'] or "Kent" }}<br>{{ data['postcodeName'] or "CT1 3NG" }}</dd>
    <dd class="nhsuk-summary-list__actions"><a href="add-sender">Change<span class="nhsuk-u-visually-hidden"> Address</span></a></dd>
  </div>

   <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Telephone</dt>
    <dd class="nhsuk-summary-list__value">{{ data['senderTelephone'] or "01224 987560" }}</dd>
    <dd class="nhsuk-summary-list__actions"><a href="add-sender">Change<span class="nhsuk-u-visually-hidden"> Cipher</span></a></dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">CRM</dt>
    <dd class="nhsuk-summary-list__value">{{ data['addCrm'] or "CAS-12345-ABCDE" }}</dd>
    <dd class="nhsuk-summary-list__actions"><a href="add-sender-crm">Change<span class="nhsuk-u-visually-hidden"> CRM</span></a></dd>
  </div>

 <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Comments</dt>
    <dd class="nhsuk-summary-list__value">{{ data['addSenderComments'] or "" }}</dd>
    <dd class="nhsuk-summary-list__actions"><a href="add-sender-crm">Change<span class="nhsuk-u-visually-hidden"> Comments</span></a></dd>
  </div>
</div>


         <button class="nhsuk-button nhsuk-button--ers" type="submit">
            Submit
         </button>

         <p><a href="/v12/patient/patient-summary-7">Exit without saving</a></p>

     </form>
  </div>


  </div>
</div>

{% endblock %}

{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      <p><a href="/v12/reset-patient-data-12">Reset patient data</a></p>
    </div>
  </div>
</footer>
{% endblock %}
