{% extends "layout-v2.html" %}

{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
  {% include '../../components/header-3.html' %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

  {% if data['edit-test'] != 'true' %}
    <div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
      <a class="nhsuk-back-link__link" href="manage-sender-codes">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to manage sender codes</a>
    </div>
  {% endif %}

 <div class="nhsuk-grid-row">

     <div class="nhsuk-panel-with-label">
      <class="nhsuk-panel-with-label__label">
      <h3 class="nhsuk-panel-with-label__label">Add new sender
  <span style="color:white;" class="nhsuk-table__cell--hint"></span></h3>
    <span class="nhsuk-hint">Step 1 of 3</span>

  <h1 class="nhsuk-heading-l">Add sender details</h1>


    <form action="add-sender-crm" method="post">
         <div class="nhsuk-form-group">


          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">


          <form action="add-crm-comments" method="post">



             <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-label__strong" for="sender-code">
                  Sender code
                </label>
                <div class="nhsuk-hint" id="example-with-hint-text-hint">
                  Also known as non GP sender code.
                  <br>
                  For example, A86020
                </div>
                <input class="nhsuk-input nhsuk-input--width-4" value="{{ data['senderCode'] }}" id="senderCode" name="senderCode" type="text" aria-describedby="Sender code" inputmode="text" autocomplete="off">
            </div>


            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-label__strong" for="example-with-hint-text">
                Area (optional)
              </label>
              <div class="nhsuk-hint" id="example-with-hint-text-hint">
                 Enter 2 to 3 letters for example, BD or LNA.
                <br>Also known as NHAIS cipher or NHAIS box.
              </div>
              <input class="nhsuk-input nhsuk-input--width-10" value="{{ data['inputArea'] }}" id="inputArea" name="inputArea" type="text" aria-describedby="example-with-hint-text-hint" inputmode="numeric">
            </div>

              {{ input({
               "label": {
                 "text": "Source type",
                "classes": "nhsuk-label nhsuk-label__strong"
               },
               hint: {
                  html: "A number between 2 and 7"
               },
               "id": "sourceType",
               "name": "sourceType",
               "classes": "nhsuk-input--width-2",
               "autocomplete": "off",
               "value": data.sourceType
             }) }}


                   <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-label__strong" for="example-with-hint-text">
                      Enter sender name and address
                    </label>


                    <label class="nhsuk-label" for="email">
                        Sender name
                      </label>
                      <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address" name="senderName" value="{{ data['senderName'] }}" type="text">
                      <div class="nhsuk-u-padding-bottom-4"></div>
                      <label class="nhsuk-label" for="email">
                        Building and street
                      </label>
                      <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address" name="buildingName" value="{{ data['buildingName'] }}" type="text">
                      <div class="nhsuk-u-padding-bottom-5"></div>

                      <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address" name="streetName" value="{{ data['streetName'] }}" type="text">
                      <div class="nhsuk-u-padding-bottom-4"></div>
                      <label class="nhsuk-label" for="email">
                        Town or city
                      </label>
                      <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address" name="townName" value="{{ data['townName'] }}" type="text">
                      <div class="nhsuk-u-padding-bottom-4"></div>
                      <label class="nhsuk-label" for="email">
                        County (optional)
                      </label>
                      <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address" name="countyName" value="{{ data['countyName'] }}" type="text">
                      <div class="nhsuk-u-padding-bottom-4"></div>
                      <label class="nhsuk-label" for="email">
                        Postcode
                      </label>
                      <input class="nhsuk-input nhsuk-u-width-one-third nhsuk-u-margin-bottom-8" id="address" name="postcodeName" value="{{ data['postcodeName'] }}"type="text">


              <label class="nhsuk-label nhsuk-label__strong" for="example-with-hint-text">
               Enter sender telephone number (optional)
              </label>
              <div class="nhsuk-hint" id="example-with-hint-text-hint">
              </div>
              <input class="nhsuk-input nhsuk-input--width-10" value="{{ data['senderTelephone'] }}" id="senderTelephone" name="senderTelephone" type="text" aria-describedby="example-with-hint-text-hint" inputmode="numeric">
            </div>


                  <br>




                </div>
                  <button type="submit" class="nhsuk-button nhsuk-button--ers">
                  Continue
                </button>
              </form>

    {% if data['edit-test'] != 'true' %}
      <p><a href="manage-sender-codes">Exit without saving</a></p>
    {% else %}
      <p><a href="add-test-result-edit-3">Exit without saving</a></p>
    {% endif %}
    </form>
  </div>

  </div>
</div>


{% endblock %}

{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      <p><a href="/v12/reset-patient-data-12">Reset patient data</a></p>
    </div>
  </div>
</footer>
{% endblock %}
