{% extends "layout-v2.html" %}

{% block pageScripts %}
<script>
  $(".char-textarea").on("keyup",function(event){
  checkTextAreaMaxLength(this,event);
});

function checkTextAreaMaxLength(textBox, e) {

    var maxLength = parseInt($(textBox).data("length"));


    if (!checkSpecialKeys(e)) {
        if (textBox.value.length > maxLength - 1) textBox.value = textBox.value.substring(0, maxLength);
   }
  $(".char-count").html(maxLength - textBox.value.length);

    return true;
}

function checkSpecialKeys(e) {
    if (e.keyCode != 8 && e.keyCode != 46 && e.keyCode != 37 && e.keyCode != 38 && e.keyCode != 39 && e.keyCode != 40)
        return false;
    else
        return true;
}
</script>
{% endblock %}

{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../../components/header.html' %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
      "href": "manage-sender-codes",
      "text": "Go back to mange sender codes"
    }) }}

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    <div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
     <h1 class="nhsuk-heading-l"> Check sender detials before deactivating</h1>
     
    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden" >Information: </span>
      <p>Deactivating this sender means that any results submitted from this sender after today will be rejected.</p>
    </div>
  
  <div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
     <div class="nhsuk-panel-with-label">
      <class="nhsuk-panel-with-label__label">
      <h3 class="nhsuk-panel-with-label__label">Sender code: GYNE
  <span style= color:white; class="nhsuk-table__cell--hint"></span></h3>

      
<br>
      <div class="nhsuk-form-group">
       

          <dl class="nhsuk-summary-list">

          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            Sender details
          </legend>
    
    
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Sender code</dt>
    <dd class="nhsuk-summary-list__value">{{ data['health-authority'] or "GYNE" }}</dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Area</dt>
    <dd class="nhsuk-summary-list__value">{{ data['national-code'] or "NF" }}</dd>
  </div>
  
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Source type</dt>
    <dd class="nhsuk-summary-list__value">4</dd>
  </div>
  
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Name and address</dt>
    <dd class="nhsuk-summary-list__value">Crarc Colposcopy clinic
Ipswich hospital,<br>
Heath road,<br>
Ipswich,<br>
IP4 5PD</dd>
  </div>
  
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Active</dt>
    <dd class="nhsuk-summary-list__value">Yes </dd>
  </div>

  
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">CRM</dt>
    <dd class="nhsuk-summary-list__value">CAS-12345-ABCDE</dd>
  </div>

 <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Comments</dt>
    <dd class="nhsuk-summary-list__value"></dd>
  </div>



      </dl>
      {% include '../../components/comments-timeline-sender-audit.html' %} 
    </div>
  </div>

          




  <form action="confirm-deactivate" method="post"> <input type="hidden" name="hideDetails" value="true">
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
        <legend class="nhsuk-fieldset__legend--m nhsuk-label__strong">
          <h1 class="nhsuk-fieldset__heading">Are you sure you want to deactivate this sender?</h1>
        </legend>

<div class="nhsuk-checkboxes">
            <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="confirmIdentity" name="confirmIdentity" type="checkbox" value="confirmIdentity">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="confirmIdentity">
              Yes, I want to deactivate sender
            </label>
            <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-2-item-hint">
             This will mean any future results submitted from this sender will be rejected
            </div>
          </div>
        
            
            <div class="nhsuk-form-group">
              <h1 class="nhsuk-label-wrapper">
                <label class="nhsuk-fieldset__legend--s nhsuk-label__strong" for="example-heading">
                  Enter CRM case number
                </label>
              </h1>
              <span class="nhsuk-hint" id="example-hint">
                For example, CAS-12345-ABCDE.
              </span>
              <input class="nhsuk-input nhsuk-input--width-10" type="text" name="crm" autocomplete="off" value="{{ data.crm }}">
            </div>
            <div class="nhsuk-form-group">
             
            <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-three-quarters">
              <label class="nhsuk-label" for="example">
                Comments 
              </label>
                  <span class="nhsuk-hint" id="example-hint"> Add a comment explaining this action taken.</span>
               
              <textarea class="nhsuk-textarea" id="example" name="comments" rows="4" aria-describedby="example-hint" autocomplete="off">{{ data.comments }}</textarea>
            </div>
          </div>
        </div>
   <br>
    <button class="nhsuk-button nhsuk-button--ers" type="submit">Confirm</button>   
  </form>

 <p><a href="manc-rejected">Exit without saving</a></p> 
  </div>

{% endblock %}



{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}
