{% extends "layout-v2.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/reveal.js"></script>
  <script type="text/javascript" src="/js/comments.js"></script>

<script>
  function closeRightMenu() {
    document.getElementByClass("nhsuk-sidebar-hidden").style.display = "none";
  }
  $(document).ready(function() {
     $(".sidebarbttn").click(function () {
     $(".nhsuk-sidebar-hidden").toggle();
    });

   });
</script>

{% endblock %}
{% block pageTitle %}
NHS Cervical Screening
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
<a href="manc-process" class="filterFloat">Save and eixt</a>

    {{ backLink({
      "href": "manc-process",
      "text": "Go back to Manchester results"
    }) }}

    <h1 class="nhsuk-heading-l nhsuk-u-padding-top-2">Edit lab details</h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
<div class="nhsuk-form-group">
<h2 class="nhsuk-heading-m nhsuk-u-padding-top-2"> Lab lead </h2>
  <label class="nhsuk-label" for="two-thirds">
    Phone number
  </label>
  <input class="nhsuk-input nhsuk-u-width-two-thirds" id="one-thirds" name="two-thirds" type="text" value="(+44) 1624 937 662">
</div>
<div class="nhsuk-form-group">
   <label class="nhsuk-label" for="two-thirds">
    Email
  </label>
  <input class="nhsuk-input nhsuk-u-width-two-thirds" id="two-thirds" name="two-thirds" type="text" value="susan.prince@nhs.net">
</div>

  <div class="nhsuk-grid-column-one-half">
<div class="nhsuk-form-group">
<h2 class="nhsuk-heading-m nhsuk-u-padding-top-2"> Lab lead </h2>
  <label class="nhsuk-label" for="two-thirds">
    Phone number
  </label>
  <input class="nhsuk-input nhsuk-u-width-two-thirds" id="one-thirds" name="two-thirds" type="text" value="(+44) 1624 937 662">
</div>
<div class="nhsuk-form-group">
   <label class="nhsuk-label" for="two-thirds">
    Email
  </label>
  <input class="nhsuk-input nhsuk-u-width-two-thirds" id="two-thirds" name="two-thirds" type="text" value="susan.prince@nhs.net">
</div>








    <a href="manc-p2" class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-top-3">Save and next</a>

  </div>

</div>
</div>
</div>



{% endblock %}
