{% extends "layout-v2.html" %}

{% block pageScripts %}
<script>
  function openRightMenu() {
    document.getElementById("rightMenu").style.display = "block";
  }

  function closeRightMenu() {
    document.getElementById("rightMenu").style.display = "none";
  }
</script>
{% endblock %}
{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
  {% include '../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-sidebar-hidden" id="rightMenu">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <a style="float:right;cursor:pointer" class="" onclick="closeRightMenu()" class="">Close this window

      <!--  <svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
    <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
  </svg> -->

</a>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


      <h3>Patient summary</h3>
      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Next test due date
          </dt>
          <dd class="nhsuk-summary-list__value">
            20-June-2020
          </dd>

        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Invited date
          </dt>
          <dd class="nhsuk-summary-list__value">
            09-Nov-2020
          </dd>

        </div>
      </dl>




<div class="nhsuk-panel nhsuk-promo">
<h3>Previous letters sent to:</h3>
      <dl class="nhsuk-summary-list--no-border nhsuk-body-m">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
           20-08-18
          </dt>
          <dd class="nhsuk-summary-list__value">
    22 Norwood Grove
      <br>
      Headingley
      <br>
       LS6 5JJ

        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            20-08-15
          </dt>
          <dd class="nhsuk-summary-list__value">
      56 Acorn Road
      <br>
      Bramley
      <br>
       LS22 9GD
          </dd>

        </div>
      </dl>
      </div>


      <a href="#">View full summary</a>
    </div>
  </div>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
      "href": "manc-p4",
      "text": "Go back to match 4"
    }) }}

    <h1 class="nhsuk-heading-l nhsuk-u-padding-top-2">Manchester: to process</h1>

    {{ hint({
   classes: 'nhsuk-hint',
  text: "Match 5 of 5"
}) }}
  </div>
</div>


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-panel-with-label">
      <h3 class="nhsuk-panel-with-label__label">Lab details</h3>

<h4>No correspondance to home </h4>
<dl class="nhsuk-summary-list nhsuk-u-padding-top-3 nhsuk-summary-list--no-border">



  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Name
    </dt>
    <dd class="nhsuk-summary-list__value">
      Lynda Puck
    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="nhsuk-summary-list__value">
      23-07-1962
    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Contact information
    </dt>
    <dd class="nhsuk-summary-list__value">
     22 Norwood Grove<br>Headingley<br> LS6 5JJ
    </dd>
</div>
     <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      NHS number
    </dt>
    <dd class="nhsuk-summary-list__value">
      567 234 8901
    </dd>

    </dd>

  </div>
  </div>


</div>

    <div class="nhsuk-grid-column-one-half">
         <div class="nhsuk-panel-with-label">
      <h3 class="nhsuk-panel-with-label__label">System details</h3>

<dl class="nhsuk-summary-list nhsuk-u-padding-top-3 nhsuk-summary-list--no-border">



  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Name
    </dt>
    <dd class="nhsuk-summary-list__value">
      Lynda <span class="highlight">Julia</span> Puck
    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="nhsuk-summary-list__value">
      23-07-1962
    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Contact information
    </dt>
    <dd class="nhsuk-summary-list__value">
            <span class="highlight">23</span> Norwood Grove<br>Headingley<br> LS6 5JJ
    </dd>
</div>
     <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      NHS number
    </dt>
    <dd class="nhsuk-summary-list__value">
      567 234 8901
    </dd>

    </dd>

  </div>

</dl>
<a class="nhsuk-button nhsuk-button--ers_secondary" href="#" onclick="openRightMenu()">View participant</a>

</div>
</div>






<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <!-- OPTIONS -->
    <div class="nhsuk-form-group">

      <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading nhsuk-label nhsuk-label__strong">
            How do you want to action this result?
          </h1>
        </legend>
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="lab" name="how-to-resolve" type="radio" value="lab" aria-controls="lab" aria-expanded="false">
          <label class="nhsuk-label nhsuk-radios__label" for="lab">
            Use lab details
          </label>
        </div>

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="system" name="how-to-resolve" type="radio" value="system" aria-controls="system" aria-expanded="false">
          <label class="nhsuk-label nhsuk-radios__label" for="system">
            Use system details
          </label>
        </div>

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="gp" name="how-to-resolve" type="radio" value="gp" aria-controls="gp" aria-expanded="false">
          <label class="nhsuk-label nhsuk-radios__label" for="gp">
            Send to GP
          </label>
        </div>

            <div class="nhsuk-radios nhsuk-radios--conditional">
                     <div class="nhsuk-radios nhsuk-radios--conditional">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="contact-1" name="how-to-resolve" type="radio" value="address" aria-controls="conditional-contact-1" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
          Enter a different address
        </label>
      </div>

           <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="email">
            Building and street
          </label>
          <input class="nhsuk-input nhsuk-u-width-one-thirds" id="email" name="email" type="text">
        <label class="nhsuk-label" for="email">
            Town or city
          </label>
          <input class="nhsuk-input nhsuk-u-width-one-thirds" id="email" name="email" type="text">
          <label class="nhsuk-label" for="email">
            County
          </label>
          <input class="nhsuk-input nhsuk-u-width-one-thirds" id="email" name="email" type="text">
          <label class="nhsuk-label" for="email">
            Postcode
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds nhsuk-u-margin-bottom-8" id="email" name="email" type="text">

        <label class="nhsuk-label" for="email">
          Reason for different address
          </label>
          <textarea class="nhsuk-textarea" id="example" name="example" rows="2" aria-describedby="example-hint"></textarea>
          
        </div>

      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="contact-1" name="how-to-resolve" type="radio" value="email" aria-controls="query" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="query">
          Save to lab query list
        </label>
      </div>

      <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="query">

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="email">
            Enter reason 
          </label>
          <input class="nhsuk-input nhsuk-textarea commentBox nhsuk-u-width-full" id="email" data-length=200 rows="5" name="email" type="text">     

        </div>

   </div>

   
      </fieldset>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <form action="manc-p3" method="post">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label nhsuk-label__strong nhsuk-u-padding-top-6" for="example">
        Comments
      </label>
      <span class="nhsuk-hint nhsuk-u-padding-top-3" id="example-hint" for="one-half">
        Enter comments here if needed
      </span>
      <textarea class="nhsuk-textarea commentBox" id="commentsc" value="commentsc" name="commentsc" rows="5" data-length=200></textarea>
    </div>

    <button class="nhsuk-button nhsuk-button--ers_secondary nhsuk-u-margin-top-3" role="button">Add comment</button>

    {% set name = "Jon Simpson" %}

    {% set commentDate = ("today" | returnDate) %}

    <input type="hidden" id="name" name="name" value="{{commentName}}">

      <input type="hidden" name="date" value={{commentDate}}>

    </form>

    <ul class="nhsuk-comment-container">
      {% if data.commentsc !=null %}

  <li class="nhsuk-panel"><span class="name">{{ name }}</span> <span class="date"><strong>{{data.date}}</strong></span> {{data.commentsc}}</li>

  {% endif %}
  			</ul>

</div>
</div>



          </div>
          <a href="manc-confirmation" class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-top-3 nhsuk-u-margin-right-6">Save and next</a>
          <a href="manc-process" class="nhsuk-button nhsuk-button--ers nhsuk-button--ers_secondary nhsuk-u-margin-top-3">Save and exit</a>

    </div>

  </div>













  {% endblock %}
