{% extends "layout-v2.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/reveal.js"></script>
  <script type="text/javascript" src="/js/comments.js"></script>

<script>
  function closeRightMenu() {
    document.getElementByClass("nhsuk-sidebar-hidden").style.display = "none";
  }
  $(document).ready(function() {
     $(".sidebarbttn").click(function () {
     $(".nhsuk-sidebar-hidden").toggle();
    });

   });
</script>
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(3){
    border-bottom:4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-sidebar-hidden" id="rightMenu">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <a style="float:right;cursor:pointer" class="sidebarbttn">Close this window

      <!--  <svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
    <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
  </svg> -->

</a>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


      <h3>Patient summary</h3>
      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Next test due date
          </dt>
          <dd class="nhsuk-summary-list__value">
            20-June-2020
          </dd>

        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Invited date
          </dt>
          <dd class="nhsuk-summary-list__value">
            09-Nov-2020
          </dd>

        </div>
      </dl>

      <div class="nhsuk-panel nhsuk-promo">

        <h3>Previously used addresses</h3>
        <p> 20 Thornhill Street
          <br>
          Pudsey
          <br>
          LS28 7ED</p>

        <p>16 Chessington Drive
          <br>
          Leeds
          <br>LS14 6KK</p>
      </div>


<div class="nhsuk-panel nhsuk-promo">
<h3>GP information</h3>
      <dl class="nhsuk-summary-list--no-border nhsuk-body-m">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Address
          </dt>
          <dd class="nhsuk-summary-list__value">
            Ireland Wood Surgery
            <br>
            Iveson Approach
            <br>
            Leeds
            <br>
            West Yorkshire
            <br>
            LS16 6FR
          </dd>

        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Phone number
          </dt>
          <dd class="nhsuk-summary-list__value">
            +44 1743 739 641
          </dd>

        </div>
      </dl>
      </div>
      <a href="#">View full summary</a>
    </div>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
      "href": "view-processed-system",
      "text": "Go back to system matches"
    }) }}

    <h1 class="nhsuk-heading-l nhsuk-u-padding-top-2">Manchester: to process</h1>


  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-panel-with-label">
      <h3 class="nhsuk-panel-with-label__label">Lab details</h3>

      <dl class="nhsuk-summary-list nhsuk-u-padding-top-3 nhsuk-summary-list--no-border">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Jane Smith
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            01-01-1970
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Contact information
          </dt>
          <dd class="nhsuk-summary-list__value">
            20 Thornhill Street<br>Pudsey<br> LS28 7PB
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            NHS number
          </dt>
          <dd class="nhsuk-summary-list__value">
            <span class=""> 234 567 8901 </span>
          </dd>

        </div>

      </dl>
    </div>
  </div>

  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-panel-with-label">
      <h3 class="nhsuk-panel-with-label__label">System details</h3>

      <dl class="nhsuk-summary-list nhsuk-u-padding-top-3 nhsuk-summary-list--no-border">



        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Jane <span class="highlight"> Louise </span> Smith
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            01-01-1970
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Contact information
          </dt>
          <dd class="nhsuk-summary-list__value">
            20 Thornhill Street<br>Pudsey<br> LS28 <span class="highlight">7ED</span>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            NHS number
          </dt>
          <dd class="nhsuk-summary-list__value">
            <span class=""> 234 567 8901 </span>
          </dd>
    </dd>

  </div>

</dl>
<a class="nhsuk-button nhsuk-button--ers_secondary" href="#" onclick="openRightMenu()">View participant</a>

</div>
</div>






<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <!-- OPTIONS -->
    <div class="nhsuk-form-group">

      <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading nhsuk-label nhsuk-label__strong">
            How do you want to action this result?
          </h1>
        </legend>
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="lab" name="how-to-resolve" type="radio" value="lab" aria-controls="lab" aria-expanded="false">
          <label class="nhsuk-label nhsuk-radios__label" for="lab">
            Use lab details
          </label>
        </div>

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="system" name="how-to-resolve" type="radio" value="system" aria-controls="system" aria-expanded="false">
          <label class="nhsuk-label nhsuk-radios__label" for="system">
            Use system details
          </label>
        </div>

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="gp" name="how-to-resolve" type="radio" value="gp" aria-controls="gp" aria-expanded="false">
          <label class="nhsuk-label nhsuk-radios__label" for="gp">
            Send to GP
          </label>
        </div>
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="lab" name="how-to-resolve" type="radio" value="lab" aria-controls="lab" aria-expanded="false">
          <label class="nhsuk-label nhsuk-radios__label" for="send-back">
            Save to lab query list
          </label>
        </div>

            <div class="nhsuk-radios nhsuk-radios--conditional">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="contact-1" name="how-to-resolve" type="radio" value="address" aria-controls="conditional-contact-1" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
          Enter a different address
        </label>
      </div>

           <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="email">
            Building and street
          </label>
          <input class="nhsuk-input nhsuk-u-width-one-thirds" id="email" name="email" type="text">
        <label class="nhsuk-label" for="email">
            Town or city
          </label>
          <input class="nhsuk-input nhsuk-u-width-one-thirds" id="email" name="email" type="text">
          <label class="nhsuk-label" for="email">
            County
          </label>
          <input class="nhsuk-input nhsuk-u-width-one-thirds" id="email" name="email" type="text">
          <label class="nhsuk-label" for="email">
            Postcode
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text">
        </div>

      </div>
      </fieldset>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <form action="manc-p1" method="post">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label nhsuk-label__strong nhsuk-u-padding-top-3" for="example">
        Comments
      </label>
      <span class="nhsuk-hint nhsuk-u-padding-top-3" id="example-hint" for="one-half">
        Enter comments if needed
      </span>
      <textarea class="nhsuk-textarea commentBox" id="commentsa" value="commentsa" name="commentsa" rows="5" data-length=200></textarea>
      <span class="nhsuk-hint nhsuk-u-padding-top-3" id="example-hint" for="one-half">
        You have <span class="counter">200</span> characters remaining
      </span>
    </div>

    <button class="nhsuk-button nhsuk-button--ers_secondary nhsuk-u-margin-top-3" role="button">Add comment</button>

    {% set name = "Jon Simpson" %}

    {% set commentDate = ("today" | returnDate) %}

    <input type="hidden" id="name" name="name" value="{{commentName}}">

      <input type="hidden" name="date" value={{commentDate}}>

    </form>

    <ul class="nhsuk-comment-container">
      {% if data.commentsa !=null %}

  <li class="nhsuk-panel"><span class="name">{{ name }}</span> <span class="date"><strong>{{data.date}}</strong></span> {{data.commentsa}}</li>

  {% endif %}
  			</ul>

</div>
</div>

    </div>
    <a href="view-processed-system" class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-top-3">Save and continue</a>

  </div>

</div>



{% endblock %}
