{% extends "layout-v2.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
  <style type="text/css" media="screen">
    .nhsuk-header__navigation-item:nth-child(3){
      border-bottom:4px solid #d8dde0;
    }
  </style>
{% endblock %}
{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
  {% include '../components/header.html' %}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
      "href": "manc-confirmation",
      "text": "Go back to processed matches"
    }) }}

  <h1 class="nhsuk-heading-l nhsuk-u-padding-top-2">Queried matches</h1>


        <span class="nhsuk-hint nhsuk-margin-bottom-4">
          Please review the queried matches for this batch of results.
        </span>
        <div class="nhsuk-scrollable-pane">
              <div class="nhsuk-scrollable-pane__wrapper">
                <div id="table-scroll" class="table-scroll">
                  <div class="nhsuk-table-responsive nhsuk-u-margin-top-0 table-wrap">
                    <table id="sortable" class="nhsuk-table nhsuk-table-u-margin-0 nhsuk-table-clickable main-table">
                      <thead class="nhsuk-table__head">
                        <tr class="nhsuk-table__row">
                          <th class="nhsuk-table__header" scope="col">Patient name</th>
                          <th class="nhsuk-table__header" scope="col">NHS number</th>
                          <th class="nhsuk-table__header" scope="col">Address used</th>
                          <th class="nhsuk-table__header" scope="col">Action</th>
                        </tr>
                      </thead>

                      <tbody class="nhsuk-table__body nhsuk-body-">
                        <tr class="nhsuk-table__row">
                          <td class="nhsuk-table__cell">Claudia Beddis</td>
                          <td class="nhsuk-table__cell">234 567 8901</td>
                          <td class="nhsuk-table__cell ">Saved to lab query list</td>
                          <td class="nhsuk-table__cell">    <a href="view-manc-p3">
                                Change<span class="nhsuk-u-visually-hidden"> contact information</span>
                              </a></td>
                        </tr>
                           <tbody class="nhsuk-table__body nhsuk-body-">
                        <tr class="nhsuk-table__row">
                          <td class="nhsuk-table__cell">Charlotte Gravill</td>
                          <td class="nhsuk-table__cell">345 678 9012</td>
                          <td class="nhsuk-table__cell ">Saved to lab query list</td>
                          <td class="nhsuk-table__cell">    <a href="view-manc-p4">
                                Change<span class="nhsuk-u-visually-hidden"> contact information</span>
                              </a></td>
                        </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>


<a href="manc-confirmation" class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-top-3">Submit</a>

















  {% endblock %}
