{% extends "layout-v2.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
  <style type="text/css" media="screen">
    .nhsuk-header__navigation-item:nth-child(3){
      border-bottom:4px solid #d8dde0;
    }
  </style>
{% endblock %}
{% block pageTitle %}
  NHS Cervical Screening
{% endblock %}

{% block header %}
  {% include '../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">
  <div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-">
  <h1 class="nhsuk-heading-l">Results by lab</h1>
</div>

<span class="nhsuk-hint nhsuk-margin-bottom-4">
  Select a lab to view the batches of results sent through and manually match if required.
</span>


<div class="nhsuk-grid-row">

     <div class="nhsuk-grid-column-one-third">
         <div class="nhsuk-panel nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-3">
  <p> <a class="nhsuk-heading-s" href="lab-table"> Bristol - (NBT3)</a></p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to process</strong> &emsp; &emsp; &emsp; &emsp;&emsp; &emsp;23</p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to query</strong> &emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&nbsp;&emsp;11</p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to check</strong> &emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&nbsp;&emsp;19</p>
</div>
</div>


    <div class="nhsuk-grid-column-one-third">
         <div class="nhsuk-panel nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-3">
  <p> <a class="nhsuk-heading-s" href="lab-table"> Berkshire - (RSH3)</a></p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to process</strong> &emsp; &emsp; &emsp; &emsp;&emsp; &emsp;47</p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to query</strong> &emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&nbsp;&emsp;29</p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to check</strong> &emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&nbsp;&emsp;34</p>
</div>
</div>


    <div class="nhsuk-grid-column-one-third">
         <div class="nhsuk-panel nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-3">
  <p> <a class="nhsuk-heading-s" href="lab-table"> Derby - (DBL3)</a></p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to process</strong> &emsp; &emsp; &emsp; &emsp;&emsp; &emsp;23</p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to query</strong> &emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&nbsp;&emsp;11</p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to check</strong> &emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&nbsp;&emsp;19</p>
</div>
</div>



    <div class="nhsuk-grid-column-one-third">
         <div class="nhsuk-panel nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-3">
  <p> <a class="nhsuk-heading-s" href="lab-table"> Gateshead - (QEH3)</a></p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to process</strong> &emsp; &emsp; &emsp; &emsp;&emsp; &emsp;23</p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to query</strong> &emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&nbsp;&emsp;11</p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to check</strong> &emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&nbsp;&emsp;19</p>
</div>
</div>


    <div class="nhsuk-grid-column-one-third">
         <div class="nhsuk-panel nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-3">
  <p> <a class="nhsuk-heading-s" href="lab-table"> London - (NCL3)</a></p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to process</strong> &emsp; &emsp; &emsp; &emsp;&emsp; &emsp;23</p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to query</strong> &emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&nbsp;&emsp;11</p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to check</strong> &emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&nbsp;&emsp;19</p>
</div>
</div>

    <div class="nhsuk-grid-column-one-third">
         <div class="nhsuk-panel nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-3">
  <p> <a class="nhsuk-heading-s" href="manc-process"> Manchester - (CHR3)</a></p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to process</strong> &emsp; &emsp; &emsp; &emsp;&emsp; &emsp;23</p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to query</strong> &emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&nbsp;&emsp;11</p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to check</strong> &emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&nbsp;&emsp;19</p>
</div>
</div>



    <div class="nhsuk-grid-column-one-third">
         <div class="nhsuk-panel nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-3">
  <p> <a class="nhsuk-heading-s" href="lab-table"> Norwich - (NOR3)</a></p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to process</strong> &emsp; &emsp; &emsp; &emsp;&emsp; &emsp;23</p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to query</strong> &emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&nbsp;&emsp;11</p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to check</strong> &emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&nbsp;&emsp;19</p>
</div>
</div>

    <div class="nhsuk-grid-column-one-third">
         <div class="nhsuk-panel nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-3">
  <p> <a class="nhsuk-heading-s" href="lab-table"> Wolverhampton - (WOL3)</a></p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to process</strong> &emsp; &emsp; &emsp; &emsp;&emsp; &emsp;23</p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to query</strong> &emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&nbsp;&emsp;11</p>
<p class="nhsuk-u-font-weight-regular"> <strong>Files to check</strong> &emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&nbsp;&emsp;19</p>
</div>
</div>

  </main>
</div>



  {% endblock %}
