.nhsuk-global-alert {
    background-color: #005eb8;
    color: #fff;
    padding-bottom: 24px;
    padding-top: 24px
}

.nhsuk-global-alert__message h2 {
    font-size: 24px;
    line-height: 1.33333;
    margin: 0;
    font-family: Frutiger W01,Arial,Sans-serif
}

.nhsuk-global-alert__message p {
    margin-bottom: 0;
    margin-top: 8px;
    font-family: Frutiger W01,Arial,Sans-serif
}

.nhsuk-global-alert__message p a {
    color: #fff;
    text-decoration: underline
}

.nhsuk-global-alert__message p a:visited {
    color: #fff
}

.nhsuk-global-alert__message p a:hover {
    background-color: #003d78;
    box-shadow: 0 0 0 4px #003d78;
    color: #fff;
    text-decoration: none
}

.nhsuk-global-alert__message p a:focus {
    background-color: #ffeb3b;
    box-shadow: 0 0 0 4px #ffeb3b;
    outline: 4px solid transparent;
    color: #000;
    text-decoration: none
}

.nhsuk-global-alert__message p a:active {
    color: #000
}

.app-better-health-callout {
    background-color: #ffcb31;
    margin-top: 15px;
    margin-bottom: 0
}

@media (max-width: 40.0525em) {
    .app-better-health-callout {
        margin-top:10px;
        margin-bottom: 0
    }
}

.app-better-health-callout .app-better-health-callout__label {
    background-color: #ffeb3b
}

.app-better-health-callout h2.app-better-health-callout__label {
    padding-top: 8px
}

.app-better-health-callout.app-callout-deep-yellow {
    background-color: #ffeb3b
}

.app-better-health-callout.app-callout-deep-yellow .app-better-health-callout__label {
    background-color: #ffcb31
}

.app-better-health-callout.app-callout-pomegranate {
    background-color: #fff
}

.app-better-health-callout.app-callout-pomegranate .app-better-health-callout__label {
    background-color: #ca206c;
    color: #fff
}

.app-better-health-callout.app-callout-pale-grape {
    background-color: #fff;
    border: 1px solid #d8dde0
}

.app-better-health-callout.app-callout-pale-grape .app-better-health-callout__label {
    background-color: #eecde0;
    color: #000
}

.app-promo-video {
    background: #fff;
    margin-bottom: 36px;
    max-width: 90%
}

@media (max-width: 40.0625em) {
    .app-promo-video {
        max-width:100%
    }
}

.app-promo-video .app-embed-container {
    height: 0;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative
}

.app-promo-video .app-embed-container embed,.app-promo-video .app-embed-container iframe,.app-promo-video .app-embed-container object {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.app-promo-video .app-promo__heading {
    text-decoration: none
}

#bh_header.nhsuk-header {
    background-color: #ffcb31
}

#bh_header.nhsuk-header .nhsuk-header__container {
    padding-bottom: 0
}

#bh_header.nhsuk-header .nhsuk-header__container .nhsuk-header__logo {
    position: relative;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/header-barrington-cut-out.9a334ccf508a.png")
}

@media (max-width: 48.0625em) {
    #bh_header.nhsuk-header .nhsuk-header__container .nhsuk-header__logo {
        background-position:right top
    }
}

@media (max-width: 450px) {
    #bh_header.nhsuk-header .nhsuk-header__container .nhsuk-header__logo {
        background-size:100%;
        padding-bottom: 150px;
        background-position: right bottom
    }
}

#bh_header.nhsuk-header .nhsuk-header__container .nhsuk-header__logo .nhsuk-logo {
    float: right
}

#bh_header.nhsuk-header .nhsuk-header__container .nhsuk-header__logo--only {
    width: 100%
}

#bh_header.nhsuk-header .nhsuk-header__container .app-article-logo,#bh_header.nhsuk-header .nhsuk-header__container .app-logo {
    padding-bottom: 15px
}

#bh_header.nhsuk-header .nhsuk-header__container .app-article-logo a:focus svg rect.st0,#bh_header.nhsuk-header .nhsuk-header__container .app-article-logo a:hover svg rect.st0,#bh_header.nhsuk-header .nhsuk-header__container .app-logo a:focus svg rect.st0,#bh_header.nhsuk-header .nhsuk-header__container .app-logo a:hover svg rect.st0 {
    fill: #513f17;
    opacity: 1
}

#bh_header.nhsuk-header .nhsuk-header__container .app-article-logo a:focus,#bh_header.nhsuk-header .nhsuk-header__container .app-logo a:focus {
    background-color: transparent;
    box-shadow: none
}

#bh_header.nhsuk-header .nhsuk-header__container .app-article-logo a:focus svg,#bh_header.nhsuk-header .nhsuk-header__container .app-logo a:focus svg {
    box-shadow: 0 0 0 4px #005eb8
}

#bh_header.nhsuk-header .nhsuk-header__container .app-article-logo a .app-hero-logo,#bh_header.nhsuk-header .nhsuk-header__container .app-logo a .app-hero-logo {
    width: 205px;
    height: 130px
}

@media (max-width: 600px) {
    #bh_header.nhsuk-header .nhsuk-header__container .app-article-logo a .app-hero-logo,#bh_header.nhsuk-header .nhsuk-header__container .app-logo a .app-hero-logo {
        height:100px;
        width: auto
    }
}

#bh_header.nhsuk-header .app-article-header {
    padding-bottom: 0;
    display: flex;
    justify-content: space-between
}

#bh_header.nhsuk-header .app-article-header .app-article-logo {
    flex-grow: 5;
    line-height: 0
}

#bh_header.nhsuk-header .app-article-header .app-article-logo a:hover {
    box-shadow: none
}

#bh_header.nhsuk-header .app-article-header .app-article-logo a .app-hero-logo {
    width: 150px;
    height: 95px
}

#bh_header.nhsuk-header .app-article-header .nhsuk-header__logo {
    background-image: none;
    padding-bottom: 0
}

#bh_header.nhsuk-header .app-article-header .nhsuk-header__logo--only {
    max-width: 100%;
    width: auto
}

#bh_header.nhsuk-header--yellow {
    background-color: #ffcb31
}

#bh_header.nhsuk-header--yellow .nhsuk-header__container {
    padding-bottom: 0!important
}

nav {
    background-color: #ffcb31
}

.bh-new-nav {
    background-color: #ffcb31;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #9f661d
}

@media (max-width: 48.0525em) {
    .bh-new-nav {
        flex-wrap:wrap
    }

    .bh-new-nav .bh-new-nav__item {
        flex: inherit
    }
}

@media (min-width: 48.0525em) {
    .bh-new-nav {
        flex-direction:row;
        align-items: stretch
    }
}

@media (max-width: 40.0525em) {
    .bh-new-nav {
        border-bottom:0
    }

    .bh-new-nav .bh-new-nav__item {
        width: 50%;
        border-right: 1px solid #9f661d;
        border-bottom: 1px solid #9f661d
    }

    .bh-new-nav .bh-new-nav__item:last-child,.bh-new-nav .bh-new-nav__item:nth-child(2) {
        border-right: 0
    }
}

.bh-new-nav .bh-new-nav__item {
    margin: 0;
    padding: 0
}

.bh-new-nav .bh-new-nav__item .bh-new-nav__link {
    font-size: 1rem;
    color: #000;
    display: block;
    line-height: 1.3;
    padding: 12px 16px;
    text-decoration: none;
    height: 100%;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    box-shadow: none
}

@media (max-width: 48.0525em) {
    .bh-new-nav .bh-new-nav__item .bh-new-nav__link__break {
        display:block
    }
}

.bh-new-nav .bh-new-nav__item .bh-new-nav__link:hover {
    color: #fff;
    background-color: #9f661d;
    text-decoration: underline
}

.bh-new-nav .bh-new-nav__item .bh-new-nav__link:focus {
    background-color: #ffeb3b;
    border-bottom-color: #212b32;
    outline: 4px solid transparent;
    outline-offset: 4px;
    color: #000;
    box-shadow: none
}

.bh-new-nav .bh-new-nav__item .app-nav-active {
    border-bottom-color: #000;
    border-bottom-width: 6px;
    outline: 4px solid transparent;
    outline-offset: 4px;
    color: #000;
    box-shadow: none;
    font-weight: 500
}

html body {
    color: #000;
    font-family: Poppins,sans-serif
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600
}

.nhsuk-heading-xl,h1 {
    margin-bottom: 20px
}

@media (min-width: 40.0625em) {
    .nhsuk-heading-xl,h1 {
        font-size:2.5rem
    }
}

a {
    color: #3155a5
}

ol li a,p a,ul li a {
    font-weight: 500
}

.bh-new-nav li a {
    font-weight: 400
}

ol {
    padding-left: 0
}

ol li {
    margin-bottom: 15px;
    padding-left: 0;
    list-style-position: inside
}

ol>li::marker {
    font-weight: 600
}

.nhsuk-breadcrumb ol li a {
    font-weight: 400
}

@media (max-width: 40.0525em) {
    .bh-mobile-hidden {
        display:none
    }
}

.information-pages .block-richtext ul {
    margin-left: 15px
}

.information-pages .block-richtext ul li ul {
    margin-left: 0;
    list-style-type: circle;
    margin-bottom: 0
}

.information-pages .block-richtext ul li ul li ul {
    list-style-type: square;
    margin-left: 15px;
    margin-bottom: 0
}

.aaw-app-details-head {
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px
}

.aaw-app-details-head__description {
    flex-grow: 1;
    padding-left: 16px
}

.aaw-app-details-head__description p {
    margin-top: 40px;
    padding-right: 15px
}

.aaw-app-details-head__title {
    margin-top: 40px
}

@media (min-width: 48.0525em) {
    .aaw-app-details-head__title {
        margin-top:0
    }
}

@media (max-width: 640px) {
    .aaw-app-details-head__title {
        margin-top:10px
    }
}

.aaw-app-details-head.better-health {
    padding-bottom: 30px
}

.aaw-app-details-head.better-health img.apps-details-head__icon {
    width: 109px;
    width: auto;
    height: 109px;
    border-radius: 12px
}

@media (max-width: 48.0525em) {
    .aaw-app-details-head.better-health img.apps-details-head__icon {
        width:90px;
        width: auto;
        height: 90px
    }
}

@media (max-width: 40.0525em) {
    .aaw-app-details-head.better-health img.apps-details-head__icon {
        width:70px;
        width: auto;
        height: 70px
    }
}

.aaw-app-details-head.better-health .aaw-app-details-head__description h2 {
    font-size: 22px
}

@media (max-width: 40.0525em) {
    .aaw-app-details-head.better-health .aaw-app-details-head__description h2 {
        font-size:18px
    }
}

.aaw-app-details-head.better-health .aaw-app-details-head__description p {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 16px
}

@media (max-width: 40.0525em) {
    .aaw-app-details-head.better-health .aaw-app-details-head__description p {
        font-size:14px;
        margin-bottom: 10px
    }
}

.aaw-app-details-head.better-health .aaw-app-details-head__description .aaw-apps-details-download {
    margin: 0
}

.aaw-app-details-head.better-health .aaw-app-details-head__description .aaw-apps-details-download .aaw-apps-details-download__item img {
    height: 40px
}

@media (max-width: 40.0525em) {
    .aaw-app-details-head.better-health .aaw-app-details-head__description .aaw-apps-details-download .aaw-apps-details-download__item {
        margin:5px 0;
        display: inline-block
    }
}

.aaw-app-details-head.better-health .aaw-app-details-head__description .nhsuk-button {
    margin-top: 10px;
    padding: 8px 14px 6px
}

@media (max-width: 40.0525em) {
    .aaw-app-details-head.better-health .aaw-app-details-head__description .nhsuk-button {
        margin-top:0
    }
}

.aaw-app-details-head.better-health .aaw-app-details-head__description,.aaw-app-details-head.better-health .aaw-app-details-head__title {
    margin-top: 0;
    margin-bottom: 0
}

.aaw-apps-details-download {
    margin: 16px 0
}

.aaw-apps-details-download .aaw-apps-details-icon-container {
    display: inline-block;
    margin-right: 10px
}

@media (max-width: 640px) {
    .aaw-apps-details-download .aaw-apps-details-icon-container {
        display:inline-block;
        margin-right: 5px
    }
}

.aaw-apps-details-download__item {
    display: inline-block;
    vertical-align: middle;
    line-height: 48px;
    margin: 10px 10px 10px 0
}

.aaw-apps-details-download__item:last-child {
    margin-right: 0
}

.aaw-apps-details-download__item:focus,.aaw-apps-details-download__item:hover {
    background: #005eb8;
    box-shadow: 0 0 0 4px #005eb8;
    border-radius: 5px
}

.aaw-apps-details-download__item img {
    display: block;
    height: 48px
}

@media (max-width: 640px) {
    .aaw-apps-details-download__item {
        display:block
    }
}

@media (min-width: 48.0525em) {
    .app-detail-row {
        display:flex
    }
}

.nhsuk-promo .nhsuk-promo__link-wrapper {
    border: none;
    box-shadow: 0 4px 0 0 rgba(0,0,0,.2)
}

.nhsuk-promo .nhsuk-promo__link-wrapper:hover {
    box-shadow: 0 4px 0 0 rgba(0,0,0,.3)
}

.nhsuk-promo__description {
    color: #000
}

.app-promo--grey {
    background: #f0f4f5
}

.app-promo--grey a {
    background: #f0f4f5
}

.app-promo--grey a:hover {
    background: #f0f4f5
}

.app-promo--grey .nhsuk-promo__link-wrapper:focus {
    background: #f0f4f5
}

.app-promo--light-purple {
    background: #f0eef6
}

.app-promo--light-purple a {
    background: #f0eef6
}

.app-promo--light-purple a:hover {
    background: #f0eef6
}

.app-promo--light-purple .nhsuk-promo__link-wrapper:focus {
    background: #f0eef6
}

.app-promo--transparent {
    background: 0 0
}

.app-promo--transparent a {
    background: 0 0
}

.app-promo--transparent a:hover {
    background: 0 0
}

.app-promo--transparent .nhsuk-promo__link-wrapper:focus {
    background: 0 0
}

.app-promo-group-padding {
    margin-bottom: 30px
}

.app-section--blue {
    background-color: #bbdaf0
}

.app-section--lime-green {
    background-color: #8bc53f
}

.app-section--yellow-tint {
    background-color: #fffce2
}

.app-section--bright-yellow {
    background-color: #ffeb3b;
    position: relative
}

.app-section--bright-yellow .nhsuk-action-link a:focus {
    background-color: #fff;
    box-shadow: 0 -2px #fff,0 4px #212b32
}

.app-section--deep-yellow {
    background-color: #ffcb31
}

.app-section--deep-yellow .nhsuk-u-reading-width p a {
    color: #3155a5
}

.app-section--deep-yellow .nhsuk-u-reading-width p a:hover {
    color: #7c2855
}

.app-section--deep-yellow .nhsuk-u-reading-width p a:focus {
    color: #000
}

.app-section--deep-yellow .nhsuk-action-link__link {
    color: #3155a5
}

.app-section--deep-yellow .nhsuk-action-link__link:focus {
    color: #212b32
}

.app-section--deep-yellow .nhsuk-action-link__link .nhsuk-icon__arrow-right-circle {
    fill: #000
}

.app-section .nhsuk-image,.app-section--blue .nhsuk-image,.app-section--bright-yellow .nhsuk-image,.app-section--deep-yellow .nhsuk-image,.app-section--lime-green .nhsuk-image,.app-section--white .nhsuk-image,.app-section--yellow-tint .nhsuk-image {
    background-color: transparent;
    display: block;
    margin: 0 auto;
    width: 85%
}

@media (max-width: 48.0525em) {
    .app-section .nhsuk-image,.app-section--blue .nhsuk-image,.app-section--bright-yellow .nhsuk-image,.app-section--deep-yellow .nhsuk-image,.app-section--lime-green .nhsuk-image,.app-section--white .nhsuk-image,.app-section--yellow-tint .nhsuk-image {
        max-width:50%;
        margin-top: 0
    }
}

@media (max-width: 40.0525em) {
    .app-section .nhsuk-image,.app-section--blue .nhsuk-image,.app-section--bright-yellow .nhsuk-image,.app-section--deep-yellow .nhsuk-image,.app-section--lime-green .nhsuk-image,.app-section--white .nhsuk-image,.app-section--yellow-tint .nhsuk-image {
        max-width:100%;
        width: 100%
    }
}

.app-section--bright-yellow .nhsuk-section__content p a:focus,.app-section--deep-yellow .nhsuk-section__content p a:focus {
    background-color: #fff;
    box-shadow: 0 -2px #fff,0 4px #212b32
}

.app-section--bright-yellow .nhsuk-action-link a:focus,.app-section--deep-yellow .nhsuk-action-link a:focus {
    background-color: #fff;
    box-shadow: 0 -2px #fff,0 4px #212b32
}

.app-section--bright-yellow .service-link-nav .nhsuk-list-signage li a:focus,.app-section--deep-yellow .service-link-nav .nhsuk-list-signage li a:focus {
    background-color: #fff
}

.app-section--white {
    background-color: #fff
}

.app-section--light-grey {
    background-color: #f0f4f5
}

.app-section--lime-green-tint {
    background-color: #e3f1d1
}

.nhsuk-section .nhsuk-image {
    background-color: transparent;
    display: block;
    margin: 0 auto;
    width: 85%
}

@media (max-width: 48.0525em) {
    .nhsuk-section .nhsuk-image {
        max-width:50%;
        margin-top: 0
    }
}

@media (max-width: 40.0525em) {
    .nhsuk-section .nhsuk-image {
        max-width:100%;
        width: 100%
    }
}

#stoptober-intro .nhsuk-section__content .nhsuk-image .nhsuk-image__img {
    max-width: 90%;
    margin: auto
}

@media (max-width: 768px) {
    body section#articles .nhsuk-grid-row.icon-panel {
        display:flex
    }

    body section#articles .nhsuk-grid-row.icon-panel .nhsuk-grid-column-one-quarter {
        width: 30%;
        padding-right: 8px
    }

    body section#articles .nhsuk-grid-row.icon-panel .nhsuk-grid-column-three-quarters {
        width: 70%;
        padding-left: 8px
    }
}

body .nhsuk-image {
    border-bottom: 0
}

body .nhsuk-main-wrapper {
    padding-top: 0;
    padding-bottom: 0
}

body .nhsuk-grid-column-one-half.nhsuk-section__content.no-padding {
    padding: 0
}

body .nhsuk-grid-column-one-half.nhsuk-section__content.no-padding:nth-child(odd) {
    padding-left: 16px
}

@media (max-width: 48.0525em) {
    body .nhsuk-grid-column-one-half.nhsuk-section__content.no-padding:nth-child(odd) {
        padding-left:0
    }
}

body .nhsuk-section__content {
    padding-bottom: 64px;
    padding-top: 64px
}

@media (max-width: 48.0625em) {
    body .nhsuk-section__content {
        padding-bottom:48px;
        padding-top: 48px
    }

    body .nhsuk-section__content .nhsuk-section__content+.nhsuk-section__content {
        padding-top: 0
    }
}

body .nhsuk-section__description {
    color: #000
}

.bh-contents-list {
    background-color: transparent
}

.bh-contents-list .bh-contents-list__item {
    background: url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__emdash' xmlns='http://www.w3.org/2000/svg' fill='%23000000' width='16' height='1' aria-hidden='true'%3E%3Cpath d='M0 0h19v1H0z'%3E%3C/path%3E%3C/svg%3E") left .875rem no-repeat;
    padding: 0 0 0 32px;
    position: relative
}

.nhsuk-section__content.bh-partners>:last-child {
    margin-bottom: -30px
}

@media (max-width: 48.0525em) {
    .nhsuk-section__content.bh-partners>:last-child {
        margin-bottom:30px
    }
}

.bh-partners-promo.nhsuk-promo-group__item {
    margin-bottom: 30px
}

@media (max-width: 40.0525em) {
    .bh-partners-promo.nhsuk-promo-group__item {
        margin-bottom:0
    }
}

@media (max-width: 48.0525em) {
    .bh-partners-promo.nhsuk-promo-group__item.nhsuk-grid-column-one-half {
        flex:0 0 50%
    }
}

@media (max-width: 40.0525em) {
    .bh-partners-promo.nhsuk-promo-group__item.nhsuk-grid-column-one-half {
        flex:0 0 100%
    }
}

@media (max-width: 48.0525em) {
    .bh-partners-promo.nhsuk-promo-group__item.nhsuk-grid-column-one-third {
        flex:0 0 33.3333%
    }
}

@media (max-width: 40.0525em) {
    .bh-partners-promo.nhsuk-promo-group__item.nhsuk-grid-column-one-third {
        flex:0 0 100%
    }
}

@media (max-width: 40.0525em) {
    .bh-partners-promo.nhsuk-promo-group__item {
        margin-bottom:18px
    }
}

@media (max-width: 40.0525em) {
    .bh-partners-promo .nhsuk-promo a {
        box-shadow:none
    }

    .bh-partners-promo .nhsuk-promo a img {
        width: 50%;
        float: left
    }

    .bh-partners-promo .nhsuk-promo a .nhsuk-promo__content {
        width: 50%;
        padding: 6px 8px;
        float: right
    }

    .bh-partners-promo .nhsuk-promo a .nhsuk-promo__content .nhsuk-promo__heading {
        font-size: .9375rem;
        margin-bottom: 5px
    }

    .bh-partners-promo .nhsuk-promo a .nhsuk-promo__content .nhsuk-promo__description {
        margin-top: 0
    }

    .bh-partners-promo .nhsuk-promo a .nhsuk-promo__content .nhsuk-promo__description p {
        display: none
    }

    .bh-partners-promo .nhsuk-promo a .nhsuk-promo__content .nhsuk-promo__description p.nhsuk-body-s {
        display: block;
        margin-bottom: 10px;
        line-height: 1.25
    }

    .bh-partners-promo .nhsuk-promo a .nhsuk-promo__content .nhsuk-promo__description p.nhsuk-body-s.mobile-spacing {
        padding-right: 0
    }
}

.bh-partners-promo .nhsuk-promo a .nhsuk-promo__content .nhsuk-promo__description p.nhsuk-body-s {
    color: #4c6272;
    padding-right: 32px;
    margin-bottom: 0
}

.bh-recipe__image {
    padding: 0 16px 32px
}

@media (max-width: 48.0525em) {
    .bh-recipe__image {
        width:100%
    }
}

.bh-recipe__image .nhsuk-image {
    width: 100%
}

@media (max-width: 48.0525em) {
    .bh-recipe__image .nhsuk-image {
        max-width:100%
    }
}

.bh-recipe .nhsuk-details__summary,.bh-recipe .nhsuk-expander {
    background-color: transparent
}

.bh-recipe .nhsuk-details__summary {
    padding: 0 0 24px
}

.bh-recipe .nhsuk-details__text {
    padding-left: 0
}

.bh-recipe-instructions {
    width: 100vw;
    background-color: #fff;
    color: #000;
    margin: 0 -16px 0 -16px;
    padding: 24px 16px 64px 0
}

.bh-recipe-instructions .nhsuk-inset-text {
    margin-top: 0;
    margin-bottom: 24px
}

.bh-recipe-instructions__method {
    counter-reset: recipe-list
}

.bh-recipe-instructions__method ol {
    list-style-type: none
}

.bh-recipe-instructions__method ol li {
    margin-bottom: 0
}

.bh-recipe-instructions__method ol li>:first-child::before {
    counter-increment: recipe-list;
    content: counter(recipe-list) ". "
}

@media (min-width: 48.0525em) {
    .bh-recipe-instructions {
        margin-left:calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        margin-top: 0;
        padding: 3em 8px 64px 8px
    }

    .bh-recipe-instructions__recipe-details {
        padding-bottom: 24px
    }
}

.nhsuk-grid-row .bh-recipe-instructions {
    margin-bottom: -64px
}

body {
    overflow-x: hidden
}

.service-finder form label {
    font-weight: 500
}

.service-finder form button.nhsuk-button {
    background-color: #4c6272;
    box-shadow: 0 4px 0 #263139;
    padding: 6px 16px
}

.service-finder form button.nhsuk-button:hover {
    background-color: #384853
}

.service-finder form button.nhsuk-button:focus {
    background: #ffeb3b;
    box-shadow: 0 4px 0 #212b32;
    outline: 4px solid transparent
}

.service-finder form button.nhsuk-button:active {
    background: #ffeb3b;
    box-shadow: 0 4px 0 #212b32;
    outline: 4px solid transparent;
    color: #212b32
}

.service-finder .content {
    margin-top: 20px
}

.hay-disclaimer {
    margin: 0 auto;
    max-width: 750px
}

.hay-disclaimer p,.hay-disclaimer ul,.hay-disclaimer ul li {
    display: inline;
    font-size: .8rem;
    margin-bottom: 0
}

.hay-disclaimer ul {
    padding-left: 0
}

.hay-disclaimer ul li {
    padding: 0 5px;
    border-right: 1px solid #000
}

.hay-disclaimer ul li:last-child {
    border-right: 0
}

.hay-disclaimer ul li a {
    font-weight: 700;
    color: #3155a5;
    text-decoration: underline
}

.hay-disclaimer ul li a:hover {
    color: #7c2855;
    text-decoration: none
}

.hay-disclaimer ul li a:focus {
    background-color: #ffeb3b;
    box-shadow: 0 -2px #ffeb3b,0 4px #212b32;
    color: #212b32;
    outline: 4px solid transparent;
    text-decoration: none
}

.emm-app .app-0-1-1 {
    margin: 0
}

nav.nhsuk-breadcrumb {
    background-color: #fff
}

.nhsuk-breadcrumb__backlink,.nhsuk-breadcrumb__backlink:visited,.nhsuk-breadcrumb__link,.nhsuk-breadcrumb__link:visited {
    color: #3155a5
}

.nhsuk-breadcrumb ol li a {
    font-weight: 500
}

.nhsuk-breadcrumb__back {
    background: url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__chevron-left' focusable='false' xmlns='http://www.w3.org/2000/svg' fill='%233155a5' height='24' width='24' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'%3E%3C/path%3E%3C/svg%3E") -8px center no-repeat
}

.nhsuk-care-card .nhsuk-care-card__heading-container {
    background-color: #bbdaf0;
    color: #000
}

.nhsuk-care-card .nhsuk-care-card__heading-container .nhsuk-care-card__arrow::after,.nhsuk-care-card .nhsuk-care-card__heading-container .nhsuk-care-card__arrow::before {
    border-color: #bbdaf0
}

.nhsuk-care-card--urgent .nhsuk-care-card__heading-container {
    background-color: #f9ec31
}

.nhsuk-care-card--urgent .nhsuk-care-card__heading-container .nhsuk-care-card__arrow::after,.nhsuk-care-card--urgent .nhsuk-care-card__heading-container .nhsuk-care-card__arrow::before {
    border-color: #f9ec31
}

.nhsuk-care-card--urgent .nhsuk-care-card__content {
    background-color: #fffce2
}

.nhsuk-card {
    margin-bottom: 40px;
    background: #fff;
    position: relative;
    width: auto;
    padding: 0;
    margin-left: 16px;
    margin-right: 16px;
    display: table
}

@media (min-width: 40.0625em) {
    .nhsuk-card {
        margin-bottom:48px;
        margin-left: 16px;
        margin-right: 16px
    }
}

.nhsuk-card__img {
    display: block;
    padding: 0
}

@media (max-width: 48.0625em) {
    .nhsuk-card__img {
        display:block;
        padding: 0;
        width: 100%
    }
}

@media print {
    .nhsuk-card__img {
        display: none
    }
}

.nhsuk-card__content {
    padding: 24px;
    position: relative
}

.nhsuk-card__content>:first-child {
    margin-top: 0
}

.nhsuk-card__content>:last-child {
    margin-bottom: 0
}

@media (min-width: 40.0625em) {
    .nhsuk-card__content {
        padding:32px
    }
}

.nhsuk-card__description,.nhsuk-card__heading,.nhsuk-card__metadata {
    margin-bottom: 16px
}

.nhsuk-card--clickable {
    box-shadow: 0 4px 0 0 rgba(0,0,0,.2);
    border-bottom-width: 0px;
    border: 0px;
}

.nhsuk-card--clickable:active {
    bottom: -1px
}

.nhsuk-card--clickable:active,.nhsuk-card--clickable:hover {
    cursor: pointer;
    box-shadow: 0 4px 0 0 rgba(0,0,0,.3)
}

.nhsuk-card--clickable:active,.nhsuk-card--clickable:hover {
    cursor: pointer
}

.nhsuk-card--clickable:active .nhsuk-card__heading a,.nhsuk-card--clickable:active .nhsuk-card__link,.nhsuk-card--clickable:hover .nhsuk-card__heading a,.nhsuk-card--clickable:hover .nhsuk-card__link {
    color: #7c2855;
    text-decoration: none
}

.nhsuk-card--clickable:active .nhsuk-card__heading a:focus,.nhsuk-card--clickable:active .nhsuk-card__link:focus,.nhsuk-card--clickable:hover .nhsuk-card__heading a:focus,.nhsuk-card--clickable:hover .nhsuk-card__link:focus {
    color: #212b32
}

.nhsuk-section__content .nhsuk-grid-row:last-child .nhsuk-card-landscape-promo {
    margin-bottom: 0
}

.nhsuk-section__content .nhsuk-grid-row .nhsuk-card-landscape-promo h2.nhsuk-card__heading {
    font-size: 1.5rem
}

.nhsuk-list-signage {
    padding-top: 0
}

.nhsuk-list-signage li a {
    background: #3155a5;
    padding: 12px 28px
}

.nhsuk-list-signage li a:hover {
    background: #182a52
}

.nhsuk-list-signage li a:hover:focus {
    background: #ffeb3b
}

@media (max-width: 40.0525em) {
    .nhsuk-list-signage li a {
        padding:12px 28px
    }
}

.service-link-nav {
    background-color: transparent
}

@media print {
    header,nav {
        display: none
    }

    #featured-recipe-intro {
        display: none
    }

    .bh-recipe__image {
        display: inline-block;
        width: 25%;
        padding-bottom: 0
    }

    .bh-recipe__details {
        display: none
    }

    .bh-recipe-instructions {
        width: 100%
    }

    .bh-recipe-instructions .nhsuk-grid-column-one-third {
        display: inline
    }

    #dietary-advice,#mealtime-inspiration {
        display: none
    }
}

// Expander override styles

.nhsuk-expander .nhsuk-details__summary-text:before {
    display:none;
}

.nhsuk-expander[open] .nhsuk-details__summary:focus:hover .nhsuk-details__summary-text {
    text-decoration:none
   }
   
   .nhsuk-expander .nhsuk-details__summary:focus .nhsuk-details__summary-text:before {
       display: none;
   }
   
   .nhsuk-expander[open] .nhsuk-details__summary:focus .nhsuk-details__summary-text:before {
       display: none;
   }
