/* Expander
   ========================================================================== */

$expander-border-width: 1px;
$expander-border-bottom-width: nhsuk-spacing(1);
$expander-border-color: $color_nhsuk-grey-4;
$expander-border-hover-color: $color_nhsuk-grey-3;
   
.nhsuk-expander {
  border: $expander-border-width solid $expander-border-color;
  border-bottom-width: $expander-border-bottom-width;

  &:hover {
    border-color: $expander-border-hover-color;

    .nhsuk-details__summary-text {
      text-decoration: underline;
    }

  }

  .nhsuk-details__summary-text {
    @include nhsuk-font($size:22, $weight: bold, $line-height: 1.3);
  
    margin-bottom: 0;
    text-decoration: none;
  }

  .nhsuk-details__summary {
    border-top: 0;
    padding: nhsuk-spacing(3);

    @include mq($from: desktop) {
      padding: nhsuk-spacing(4);
    }
  }

  .nhsuk-details__summary-text {
    padding: nhsuk-spacing(1) nhsuk-spacing(1) nhsuk-spacing(1) nhsuk-spacing(6);
  }
}

.nhsuk-details__text p {
  @include nhsuk-responsive-margin(4, 'bottom');
}

.nhsuk-expander[open] {
  border-bottom-width: $expander-border-width;
}

/* Expander group
   ========================================================================== */

.nhsuk-expander-group > .nhsuk-expander {
  margin-bottom: nhsuk-spacing(2);
}


/* Expander grey
   ========================================================================== */

.nhsuk-expander--grey,
.nhsuk-expander--grey .nhsuk-details__summary {
  background: $color_nhsuk-grey-5;
}

/* Expander no border
   ========================================================================== */

.nhsuk-expander--no-border {
  border: 0;
}
