
.nhsuk-icon--ers{
  width: 24px;
  height: 24px;
  vertical-align: top;
}

// Close icon container
.nhsuk-close{
  padding: 8px 0;
  margin-right: 16px;

}

.nhsuk-icon__arrow-down{

}

.nhsuk-sidebar-actions .nhsuk-icon__chevron-right{
  height: 24px;
  position: absolute;
  right: 12px;
  top: 14px;
  width:24px;
}
