
// ==========================================================================
// COMPONENTS / INPUTS
// ==========================================================================

legend, label,{
  
}

.sidebar .nhsuk-label{
font-size: 16px !important;
}

.multiple-choice--hod {
  .multiple-choice {
    padding-top: 1px;
    padding-bottom: 2px;
    .nhsuk-checkboxes__label{
      padding: 0 !important;
    }
  }
  .-checkboxes__label {
    padding: 3px 2px 5px;
  }

  .nhsuk-checkboxes__item {
    margin-bottom: 0;
  }
}

.multiple-choice--hod [type=checkbox] + label::before {
  width: 25px;
  height: 25px;
}

.multiple-choice--hod [type=checkbox] + label::after {
  border-width: 0 0 3px 3px;
  width: 11px;
  height: 4px;
  top: 8px;
  left: 6px;
}

@media screen and (max-width: 640px) {
  .multiple-choice--hod {
    .multiple-choice {
      margin-bottom: 15px;
      padding-top: 4px;
    }
  }
  .nhsuk-checkboxes__label {
    padding: 7px 6px 3px;
  }
}

// TABLES

.nhsuk-table-clickable tbody tr:hover {
  background-color: #F8F8F8;
  cursor: pointer;
}

$selected-colour: #FFECC7;

.nhsuk-table-clickable tbody tr.checked {
  background-color: #FFECC7;
}

.nhsuk-table-clickable tbody tr.checked:hover {
  background-color: darken(#FFECC7, 5%);
}

.nhsuk-table-clickable .multiple-choice--hod {
  padding-top:16px;
  margin: 0;
  vertical-align: top;
}

.hidden{
  display: none;
}

// RADIOS

.multiple-choice--hod [type=radio] + label::before {
  width: 28px;
  height: 28px;
}

.multiple-choice--hod [type=radio] + label::after {
  border: 7px solid;
  top: 7px;
  left: 7px;
}


.multiple-choice--hod {
  .multiple-choice {
    padding-top: 1px;
    padding-bottom: 2px;
    .nhsuk-radios__label {
      padding: 3px 8px 5px;

    }
  }


  .nhsuk-radios__item {
    margin-bottom: 0;
  }
}
