
// ==========================================================================
// COMPONENTS / PROGRESS BAR
// ==========================================================================


   .nhs-progress-bar {
    margin-bottom: 40px;
  }
  
  .nhs-progress-bar__list {
    font-size: 0;
    list-style: none;
    margin: 25px 25px;
    padding: 0;
    position: relative;
    text-align: justify;
    vertical-align: top;
  }
  
  .nhs-progress-bar__list::after {
    content: "";
    display: inline-block;
    width: 100%;
  }
  
  .nhs-progress-bar__list::before {
    display: block;
    border-top: 6px solid #00703c;
    content: "";
    left: 0;
    position: absolute;
    top: 13px;
    width: 100%;
  }
  
  .nhs-progress-bar__list-item {
     font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: inline-block;
    max-width: 20%;
    position: relative;
    text-align: center;
    vertical-align: top;
  }
  
  @media print {
    .nhs-progress-bar__list-item {
      font-family: sans-serif;
    }
  }
  
  @media (min-width: 40.0625em) {
    .nhs-progress-bar__list-item {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.31579;
    }
  }
  
  @media print {
    .nhs-progress-bar__list-item {
      font-size: 14pt;
      line-height: 1.15;
    }
  }
  
  .nhs-progress-bar__list-item:first-child::before, .nhs-progress-bar__list-item:last-child::before {
    border-top: 6px solid #ffffff;
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 50%;
    
  }
  
  .nhs-progress-bar__list-item:first-child::before {
    left: 0;
  }
  
  .nhs-progress-bar__list-item:last-child::before {
    left: auto;
    right: 0;
  }
  
  .nhs-progress-bar__list-item[aria-current=step] {
    font-weight: 700;
  }
  
  .nhs-progress-bar__icon {
    position: relative;
    background-color: #ffffff;
    border: 6px solid #00703c;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 32px;
  }
  
  .nhs-progress-bar__icon--complete {
    background-color: #00703c;

    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  
  .nhs-progress-bar__label {
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    display: block;
    font-weight: inherit;
    margin-top: 10px;
    position: relative;
    word-wrap: break-word; 
    padding-right: 20px;
    padding-left: 20px;
  }
  
  @media print {
    .nhs-progress-bar__label {
      font-family: sans-serif;
    }
  }
  
  @media (min-width: 40.0625em) {
    .nhs-progress-bar__label {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25;
    }
  }
  
  @media print {
    .nhs-progress-bar__label {
      font-size: 14pt;
      line-height: 1.2;
    }
  }