// ==========================================================================
// COMPONENTS / #RELATED-NAV
// ==========================================================================

.nhsuk-related-nav {
  border-top: 1px solid $nhsuk-border-color;

  @include nhsuk-media-query($until: desktop) {
    margin-top: nhsuk-spacing(7);
  }
}

.nhsuk-related-nav__heading {
  @include nhsuk-font-size(19, $line-height: 1.2);

  margin-bottom: 12px;
  padding-top: nhsuk-spacing(3);
}

.nhsuk-related-nav__list {
  @include nhsuk-font-size(16);

  list-style: none;
  padding-left: 0;
}
