// --------------------- //
// --***-- SHAME --***-- //
// --------------------- //

// Here lies all things fudged and broken

// Feel free to use the code below <3
// Add border top/right/left/bottom colors for more variations.

.nhsuk-loader__container{
  display: flex;
  justify-content: center;

  text-align: center;


}
.nhsuk-loader {
	pointer-events: none;
	width: 2.5em;
	height: 2.5em;
	border: 0.4em solid transparent;
	border-color: #eee;
	border-top-color: #3E67EC;
	border-radius: 50%;
	animation: loadingspin 1s linear infinite;
  display: flex;
  justify-content: center;

}

@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}


///////////////////////////////////////////////////////////////



.hidden{
  display: none;
}

.nhsuk-width-container-fluid, .nhsuk-width-container, .nhsuk-header__navigation {
    max-width: 1280px;
}

// OVERRIDES THAT NEED TIDYING
// make the menu align to the left
.nhsuk-header__navigation-list {
    justify-content: left;
}

// change the inset text to be closer to the eRS alert panel
.nhsuk-inset-text.nhsuk-inset-text__screening.nhsuk-inset-text__screening--success {
    border-color: #28a197;
    background-color: none;
}

.nhsuk-inset-text.nhsuk-inset-text__screening.nhsuk-inset-text__screening--info {
    border-color: #005eb8;
    background-color: none;
}

// breakpoints stops is collapsing
@media (min-width: 1024px) {
    .nhsuk-width-container {
        margin: 0 32px;
    }
}

@media (min-width: 1344px) {
    .nhsuk-width-container {
    margin: 0 auto;
    }
}
.nhsuk-label__strong {
    font-weight: 600;
}


/* ---------------------------- */
/* -- BUTTON STUFF FROM SCRA -- */
/* ---------------------------- */
.expanderButton[aria-expanded="false"] {
  background: url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__plus' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true'%3E%3Ccircle cx='12' cy='12' r='10' fill='%23005eb8'%3E%3C/circle%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M12 8v8M8 12h8'%3E%3C/path%3E%3C/svg%3E%0A") left -2px center no-repeat;
  background-size: 32px 32px;
  color: #005eb8;
  cursor: pointer;
  display: inline-block;
  padding: 20px 8px 8px 0px;
  position: relative;
  //margin-left: 25%;
  left: 25%;
  width: 75%;
  outline: none;
}

.expanderButton[aria-expanded="true"] {
  background: url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__minus' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true'%3E%3Ccircle cx='12' cy='12' r='10' fill='%23ffffff'%3E%3C/circle%3E%3Cpath fill='none' stroke='%23005eb8' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M8 12h8'%3E%3C/path%3E%3C/svg%3E%0A") left -2px center no-repeat;
  background-size: 32px 32px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  padding: 20px 8px 8px 0px;
  position: relative;
  //margin-left: 25%;
  left: 25%;
  width: 75%;
  outline: none;
}
/* ---------------------------- */
/* -- BUTTON STUFF FROM SCRA -- */
/* ---------------------------- */



/* ---------------------------- */
/* -- TABLE STUFF FROM SCRA --- */
/* ---------------------------- */
.responsive-table {
  $mobile: 641px;
  width: 100%;

  thead {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    @media (min-width: $mobile) {
      clip: auto;
      display: table-header-group;
      height: auto;
      overflow: auto;
      position: relative;
      width: auto;
    }
  }

  tbody {
    @media (min-width: $mobile) {
      display: table-row-group;
    }

    td {
      display: block; // For browsers that don't support flexbox
      display: flex;
      justify-content: space-between;
      //vertical-align: middle;
      @media (min-width: $mobile) {
        display: table-cell;
      }
    }

    .table-heading {
      font-weight: 700;
      text-align: left;
      padding-right: 1em;
      padding-left: 1em;
      display: block;
      @media (min-width: $mobile) {
        display: none;
      }
    }

    tr {
      margin-bottom: 1em;
      display: block;

      &:last-child {
        margin-bottom: 0;
      }
      @media (min-width: $mobile) {
        display: table-row;
      }

      th {
        text-align: right;
        @media (min-width: $mobile) {
          text-align: left;
        }
      }

      td {
        min-width: 1px;
        text-align: right;
        vertical-align: text-top;
        @media (min-width: $mobile) {
          text-align: left;
        }

        &.numeric {
          text-align: left;
          @media (min-width: $mobile) {
            text-align: right;
          }
        }
      }
    }

    .total {
      @media (max-width: $mobile) {
        display: block;
      }
    }
  }
}


.bna-table td, th {
  //font-size: 14px;
  //line-height: 1.71429;
  //margin-top: 0;
  margin-bottom: 16px;
  @media (min-width: 641px) {
    //font-size: 16px;
    //font-size: 1rem;
    //line-height: 1.5;
  }
}

.bna-table {

  margin-bottom: 32px;

  tbody {
    tr {
      //background-color: white;

      td {
        vertical-align: middle;

        button {
          background-color: transparent;
          border: none;
          padding: 0.25em 0.5em 0.25em 0.25em;
          width: 100%;
          text-align: left;
        }
      }
    }
  }

  .detailsRow {
    td {
      vertical-align: top;
      background-color: white;
    }
  }

  .detailsTable {
    margin-bottom: 0;

    td {
      border-bottom: none;
      padding-top: 4px;
      padding-bottom: 4px;
    }

    .detailsTableLabel {
      text-align: right;
      font-weight: 600;
    }
  }

  .hidden {
    display: none;
  }

  .detailsTableRight {
    td {
      text-align: left;
    }
  }

  .nhsuk-checkboxes--small .nhsuk-checkboxes__label::before {
    top: -5px;
    width: 24px;
    height: 24px;
    margin-left: 12px;
  }

  .nhsuk-checkboxes--small .nhsuk-checkboxes__label::after {
    top: 3px;
    left: 18px;
  }

  .nhsuk-action-link {
    margin-bottom: 0;
  }

  .nhsuk-icon__arrow-right-circle {
    height: 24px;
    top: 0;
  }

  .nhsuk-icon__arrow-right-circle--red {
    fill: $color_nhsuk-red;
  }

  .nhsuk-icon__arrow-right-circle--yellow {
    fill: #ffb81c;
  }

  .nhsuk-action-link__link {
    padding-left: 30px;
    line-height: 0;
  }

  .nhsuk-action-link__text {
    //font-size: 14px;
    //line-height: 1.71429;
    @media (min-width: 40.0625em) {
      //font-size: 16px;
      //font-size: 1rem;
      line-height: 1.5;
    }
  }

  .expandedRow {
    background-color: #005eb8;
    color: #fff;
    a {
      color: #fff;
    }
    a:focus {
      color: #231f20;
      svg {
        fill: #231f20;
      }
    }
    svg {
      fill: #fff;
      circle {
        stroke: none;
        fill: none;
      }
    }
    label::after {
      color: #231f20;
    }

  }
}

.td-unavailable {
  color: $color_nhsuk-grey-1;
}
/* ---------------------------- */
/* -- TABLE STUFF FROM SCRA --- */
/* ---------------------------- */


/* ---------------------------- */
/* -- EMAIL STYLES FROM DA --- */
/* ---------------------------- */

.body-email {
	background-color: #d8dde0;
}

.email-width {
	max-width: 600px;
	margin: 0 auto;
	background-color: #fff;
}

.email-width .nhsuk-width-container {
	max-width: 550px;
}

.body-email .nhsuk-footer .nhsuk-width-container{
	display: none;
}
/* ---------------------------- */
/* -- EMAIL STYLES FROM DA --- */
/* ---------------------------- */

/* ---------------------------- */
/* -- MANAGING RESULTS  --- */
/* ---------------------------- */

.highlight {
 background-color: #FFF2D3;
 border-bottom:3px solid #FFBF47;
}

.nhsuk-button--ers_reject {
  @extend .nhsuk-button--ers;
  background-color: #d5281b;
  box-shadow: 0 4px 0 #7C2855; }
  .nhsuk-button--ers_secondary:hover, .nhsuk-button--ers_secondary:focus {
    background-color: #7C2855; }
  .nhsuk-button--ers_secondary.nhsuk-button--ers_disabled {
    background-color: #d5281b; }

    .nhsuk-panel-with-label-no-margin {
      margin-bottom: 40px;
      margin-top: 0px;
      padding: 24px;
      background-color: #ffffff;
      color: #212b32;
      padding-top: 0 !important; }
      .nhsuk-panel-with-label > *:first-child {
        margin-top: 0; }
      .nhsuk-panel-with-label > *:last-child {
        margin-bottom: 0; }
      @media (min-width: 40.0625em) {
        .nhsuk-panel-with-label {
          margin-bottom: 48px; } }
      @media (min-width: 40.0625em) {
        .nhsuk-panel-with-label {
          margin-top: 0px; } }
      @media (min-width: 40.0625em) {
        .nhsuk-panel-with-label {
          padding: 32px; } }
      @media print {
        .nhsuk-panel-with-label {
          border: 1px solid #212b32;
          page-break-inside: avoid; } }

          .nhsuk-blue {
            @extend .nhsuk-button--ers;
            background-color: #005eb8;
            box-shadow: 0 4px 0 #003087;
            float: right }
            .nhsuk-button--ers_secondary:hover, .nhsuk-button--ers_secondary:focus {
              background-color: #0072CE; }
            .nhsuk-button--ers_secondary.nhsuk-button--ers_disabled {
              background-color: #003087; }
            
          
          
/* ----MANAGING RESULTS  --- */
/* ---------------------------- */

