.nhsuk-summary-list {
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  /* [2] */
  margin-bottom: 32px; }
  @media (min-width: 40.0625em) {
    .nhsuk-summary-list {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.47368; } }
  @media print {
    .nhsuk-summary-list {
      font-size: 14pt;
      line-height: 1.15; } }
  @media (min-width: 40.0625em) {
    .nhsuk-summary-list {
      display: table;
      table-layout: fixed;
      /* [1] */
      width: 100%; } }
  @media (min-width: 40.0625em) {
    .nhsuk-summary-list {
      margin-bottom: 40px; } }

@media (max-width: 40.0525em) {
  .nhsuk-summary-list__row {
    border-bottom: 1px solid #d8dde0;
    margin-bottom: 16px; } }

@media (min-width: 40.0625em) {
  .nhsuk-summary-list__row {
    display: table-row; } }

.nhsuk-summary-list__key,
.nhsuk-summary-list__value,
.nhsuk-summary-list__actions {
  margin: 0;
  /* [2] */ }
  @media (min-width: 40.0625em) {
    .nhsuk-summary-list__key,
    .nhsuk-summary-list__value,
    .nhsuk-summary-list__actions {
      border-bottom: 1px solid #d8dde0;
      display: table-cell;
      padding-bottom: 8px;
      padding-right: 24px;
      padding-top: 8px; } }

.nhsuk-summary-list__actions {
  margin-bottom: 16px; }
  @media (min-width: 40.0625em) {
    .nhsuk-summary-list__actions {
      padding-right: 0;
      text-align: right;
      width: 20%; } }

.nhsuk-summary-list__key,
.nhsuk-summary-list__value {
  /* [3] */
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* [4] */ }

.nhsuk-summary-list__key {
  font-weight: 600;
  margin-bottom: 4px; }
  @media (min-width: 40.0625em) {
    .nhsuk-summary-list__key {
      width: 30%; } }

@media (max-width: 40.0525em) {
  .nhsuk-summary-list__value {
    margin-bottom: 16px; } }

@media (min-width: 40.0625em) {
  .nhsuk-summary-list__value {
    width: 50%; } }

.nhsuk-summary-list__value > p {
  margin-bottom: 8px; }

.nhsuk-summary-list__value > :last-child {
  margin-bottom: 0; }

.nhsuk-summary-list__actions-list {
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  width: 100%; }

.nhsuk-summary-list__actions-list-item {
  display: inline;
  margin-right: 8px;
  padding-right: 8px; }

/* [5] */
.nhsuk-summary-list__actions-list-item:not(:last-child) {
  border-right: 1px solid #d8dde0; }

.nhsuk-summary-list__actions-list-item:last-child {
  border: 0;
  margin-right: 0;
  padding-right: 0; }

.nhsuk-summary-list--no-border .nhsuk-summary-list__key,
.nhsuk-summary-list--no-border .nhsuk-summary-list__value,
.nhsuk-summary-list--no-border .nhsuk-summary-list__actions,
.nhsuk-summary-list--no-border .nhsuk-summary-list__row {
  border: 0; }
