
// ==========================================================================
// TABS /
// ==========================================================================


nav.nhsuk-tabs{
  display: flex;
  height: 48px;
  flex-wrap: nowrap;
  background: #F0F4F5;
  border-bottom: 1px solid $color_nhsuk-grey-2;

  &.nhsuk-tabs__grey {
    background: white;
  }

ul{
  max-width: 75%;
  display:flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style-type: none;


}
li{
  margin-bottom: 0;
  font-size: 16px;
  border-right:1px solid $color_nhsuk-grey-2;

  

  

  a:link, a:visited,a:hover, a:active{
    margin-bottom: 0;
    color:$color_nhsuk-blue;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 1.5em;
    padding: 12px 16px;
    text-decoration: none;


  }
}

}

// END TABS


nav.nhsuk-tabs > ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav.nhsuk-tabs > ul > li
{
  display: inline;
  padding: 0;
  margin: 0;
}

nav.nhsuk-tabs > ul > li > a
{
  text-decoration: none;
  color: #000;
  padding: 20px;
}

nav.nhsuk-tabs > ul > li > a:hover
{
  background-color:#ccc;
}

nav.nhsuk-tabs > ul > li > a.selected
{
  background-color: #fff;
}

nav.nhsuk-tabs.nhsuk-tabs__grey > ul > li > a.selected
{
  background-color: #F0F4F5;
}

.tab
{
  display: none;
  margin-top: 10px;
  padding: 20px;
}

.tab.active
{
  display: block;
}
