
// ==========================================================================
// TABS /
// ==========================================================================

/*

JUST COMMENTED OUT FOR NOW, ADD BACK IN WHEN NEEDED

$clr-tab--active: white;
$clr-tab--inactive: white;
>>>>>>> f95b3a887b8ed425526a7a1228c88431dc71eef9

/*
body {
  font-family: Sans-serif;
  padding: 20px;
}

h1, h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #ccc;
}

h2 {
  font-size: 20px;
  color: #999
}
*/

/*
td, th {
  padding: 12px;
  text-align: left;
}


th {
  color: black;
  &[data-tabbedTable] {
    background: $clr-tab--active;
  }
}
*/

$clr-tab--active: #0076c8;
$clr-tab--inactive: black;

.tabbedTable-labels {
  float: left;
   label {
    color: 		#212b32;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    font-size: 19px;
    margin-right: 6px;
    text-decoration: underline;
    background: #DFE2E5;
    position: relative;
    bottom: 14px;
      &.tabbedTable-label--active {
        border-top:  1px solid #B3BBC1;
        border-left: 1px solid #B3BBC1;
        border-right: 1px solid #B3BBC1;
        background: #F0F4F5;
        padding: 10px 20px 18px 20px;
        text-decoration: none;
  }
 }
}

    .filterFloat  {
      float: right;
    }
    .nhsuk-inset-text.nhsuk-inset-text__screening.nhsuk-inset-text__screening--results {
      border-color: #FFBF47;
      background-color: none;
  }