//
.nhsuk-table--no-border {
  tr, td {
    border: 0
  }
}

#results{
th,td, dl{
  font-size: 18px !important;
}

}

table td{
vertical-align: top;
padding-top: 16px;

}




// OTHER TABLE ELEMENTS
.nhsuk-table {
.nhsuk-select {
  border: none;

}
}

[aria-sort] button,
[aria-sort] button:hover {
  background-color: transparent;
  border-width: 0;
  white-space: nowrap;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  color: #005ea5;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0 10px 0 0;
  position: relative;
  text-align: inherit;
  font-size: 1em;
  margin: 0;
}

[aria-sort] button:focus,
[aria-sort] button:hover:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0;
    white-space: nowrap;
}

[aria-sort]:first-child button {
  right: auto;
}

[aria-sort] button:before {
  content: " \25bc";
  position: absolute;
  right: -1px;
  top: 9px;
  font-size: 0.5em;
}

[aria-sort] button:after {
  content: " \25b2";
  position: absolute;
  right: -1px;
  top: 1px;
  font-size: 0.5em;
}

[aria-sort="ascending"] button:before,
[aria-sort="descending"] button:before {
  content: none;
}

[aria-sort="ascending"] button:after {
  content: " \25b2";
  font-size: .8em;
  position: absolute;
  right: -5px;
  top: 2px;
}

[aria-sort="descending"] button:after {
  content: " \25bc";
  font-size: .8em;
  position: absolute;
  right: -5px;
  top: 2px;
}

// SEARCH RESULTS

.nhsuk-search-result-title{
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  a{
    margin-right: 16px;
  }
}
.nhsuk-search-result-meta{
  color:#768692;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 8px;


}
