

// ==========================================================================
// TABS /
// ==========================================================================

  .nhsuk-tabs-2 {
    display: flex;
    height: 48px;
    flex-wrap: nowrap;
    background: #F0F4F5;
    border-bottom: 1px solid $color_nhsuk-grey-2;
  }

  .nhsuk-tabs-2__title {
    @include nhsuk-font($size: 19);
    @include nhsuk-text-colour;
    margin-bottom: nhsuk-spacing(2);
  }

  .nhsuk-tabs-2__list {
    margin: 0;
    padding: 0;
    list-style: none;
    @include nhsuk-responsive-margin(6, "bottom");
  }

  .nhsuk-tabs-2__list-item {
    @include nhsuk-font($size: 19);
    margin-left: nhsuk-spacing(5);

    &::before {
      @include nhsuk-text-colour;
      content: "\2014 "; // "— "
      margin-left: - nhsuk-spacing(5);
      padding-right: nhsuk-spacing(1);
    }
  }

  .nhsuk-tabs-2__tab {
    @include nhsuk-link-style-default;

    display: inline-block;
    margin-bottom: nhsuk-spacing(2);

    // Focus state for mobile and when JavaScript is disabled
    // It is removed for JS-enabled desktop styles
    &:focus {
      @include nhsuk-focused-text;
    }
  }

  .nhsuk-tabs-2__panel {
    @include nhsuk-responsive-margin(8, "bottom");
  }

  // JavaScript enabled
  .js-enabled {

    @include nhsuk-media-query($from: tablet) {

      .nhsuk-tabs-2__list {
        @include nhsuk-clearfix;
        margin-bottom: 0;
        border-bottom: 1px solid $nhsuk-border-colour;
      }

      .nhsuk-tabs-2__title {
        display: none;
      }

      .nhsuk-tabs-2__list-item {
        position: relative;

        margin-right: nhsuk-spacing(1);
        margin-bottom: 0;
        margin-left: 0;
        padding: nhsuk-spacing(2) nhsuk-spacing(4);

        float: left;
        background-color: nhsuk-colour("light-grey", $legacy: "grey-4");
        text-align: center;

        &::before {
          content: none;
        }
      }

      .nhsuk-tabs-2__list-item--selected {
        $border-width: 1px;

        position: relative;

        margin-top: - nhsuk-spacing(1);

        // Compensation for border (otherwise we get a shift)
        margin-bottom: -$border-width;
        padding-top: nhsuk-spacing(3) - $border-width;
        padding-right: nhsuk-spacing(4) - $border-width;
        padding-bottom: nhsuk-spacing(3) + $border-width;
        padding-left: nhsuk-spacing(4) - $border-width;

        border: $border-width solid $nhsuk-border-colour;
        border-bottom: 0;

        background-color: $nhsuk-body-background-colour;

        .nhsuk-tabs-2__tab {
          text-decoration: none;
        }
      }

      .nhsuk-tabs-2__tab {
        @include nhsuk-link-style-text;

        margin-bottom: 0;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }

      .nhsuk-tabs-2__panel {
        @include nhsuk-responsive-margin(0, "bottom");
        padding: nhsuk-spacing(6) nhsuk-spacing(4);
        border: 1px solid $nhsuk-border-colour;
        border-top: 0;

        & > :last-child {
          margin-bottom: 0;
        }
      }

      .nhsuk-tabs__panel--hidden {
        display: none;
      }
    }

  }
