// TAGS / BADGES
.nhsuk-tag-v2 {
  background-color: $color_nhsuk-white;
  display: inline-block;
  font-family: Frutiger, sans-serif;
  font-size: 14px;
  padding: 4px;
  font-weight: 400;
  border-width: 1px;
  border-style: solid;
}


.nhsuk-tag-large {
  padding: 4px 8px;
  font-weight: 700;
  border-width: 2px;
  font-size: 1em;
  text-transform: uppercase;
}
.nhsuk-tag__success {
  @extend .nhsuk-tag-v2;
  border-color: $color_nhsuk-green;
  color: $color_nhsuk-green;
}

.nhsuk-tag__warning {
  @extend .nhsuk-tag-v2;
  border-color: $color_nhsuk-red;
  color: $color_nhsuk-red;
}
.nhsuk-tag__default {
  @extend .nhsuk-tag-v2;
  color: $color_nhsuk-grey-1;
  border-color: $color_nhsuk-grey-1;
}
.nhsuk-tag__highlight {
  @extend .nhsuk-tag-v2;
  color: $color_nhsuk-white;
  background-color: $color_nhsuk-blue;
}
