/* ==========================================================================
   #TAG
   ========================================================================== */

.nhsuk-tag {
  @include nhsuk-font($size: 16, $weight: bold, $line-height: 1);
  background-color: shade($color_nhsuk-blue, 10%);
  color: $color_nhsuk-white;
  display: inline-block;
  letter-spacing: 1px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  padding-bottom: nhsuk-spacing(1);
  padding-left: nhsuk-spacing(2);
  padding-right: nhsuk-spacing(2);
  padding-top: nhsuk-spacing(1);
  text-decoration: none;
  text-transform: uppercase;
}

$color_nhsuk-aqua-green: #00a499;
$color_nhsuk-pink: #ae2573;
$color_nhsuk-orange: #ed8b00;

// WHITE
.nhsuk-tag--white {
  background-color: $color_nhsuk-white;
  border: 1px solid $color_nhsuk-black;
  color: $color_nhsuk-black;
}

// GREY
.nhsuk-tag--grey {
  background-color: tint($color_nhsuk-grey-1, 80%);
  color: shade($color_nhsuk-grey-1, 30%);
}
// GREEN
.nhsuk-tag--green {
  background-color: tint($color_nhsuk-green, 80%);
  color: shade($color_nhsuk-green, 40%);
}
// AQUA GREEN
.nhsuk-tag--aqua-green {
  background-color: tint($color_nhsuk-aqua-green, 80%);
  color: shade($color_nhsuk-aqua-green, 50%);
}
// BLUE
.nhsuk-tag--blue {
  background-color: tint($color_nhsuk-blue, 80%);
  color: shade($color_nhsuk-blue, 30%);
}
// PURPLE
.nhsuk-tag--purple {
  background-color: tint($color_nhsuk-purple, 80%);
  color: shade($color_nhsuk-purple, 30%);
}
// PINK
.nhsuk-tag--pink {
  background-color: tint($color_nhsuk-pink, 80%);
  color: shade($color_nhsuk-pink, 50%);
}
// RED
.nhsuk-tag--red {
  background-color: tint($color_nhsuk-red, 80%);
  color: shade($color_nhsuk-red, 50%);
}
// ORANGE
.nhsuk-tag--orange {
  background-color: tint($color_nhsuk-warm-yellow, 50%);
  color: shade($color_nhsuk-warm-yellow, 70%);
}
// YELLOW
.nhsuk-tag--yellow {
  background-color: tint($color_nhsuk-yellow, 50%);
  color: shade($color_nhsuk-yellow, 70%);
}
