{% extends "layout-v2-patient.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
  <script type="text/javascript" src="/js/action-menu.js"></script>
  <script type="text/javascript" src="/js/sort.js"></script>
    <script type="text/javascript" src="/js/tabs.js"></script>
{% endblock %}
{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "false",
    "showSearch": "false"
  })
}}
{% endblock %}

{% block patientBanner %}
  {% include '../components/dummy-patient-banner.html' %}
{% endblock %}


{% block content %}
  {% if data.role != 'sampleTaker' %}
  <nav class="nhsuk-sub-navigation">
    <ul class="nhsuk-sub-navigation__list">
      <li class="nhsuk-sub-navigation__item"><a href="dummy-patient-summary" class="nhsuk-sub-navigation__link" aria-current="page">Patient Summary</a></li>
      <li class="nhsuk-sub-navigation__item"><a href="dummy-history" class="nhsuk-sub-navigation__link">Audit</a></li>
      <li class="nhsuk-sub-navigation__item"><a href="dummy-no-gp" class="nhsuk-sub-navigation__link">GP Information</a></li>
    </ul>
  </nav>
{% endif %}

<div class="nhsuk-grid-row nhsuk-u-margin-top-4">
  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-heading-l">Patient summary</h1>

    <span class="nhsuk-tag nhsuk-tag--purple nhsuk-u-margin-bottom-2">Inactive dummy registration</span>

    <dl class="nhsuk-summary-list nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Next test due date:
        </dt>
        <dd class="nhsuk-summary-list__value">
          04-Feb-2023
        </dd>
        <!--<dd class="nhsuk-summary-list__actions">
            Actions:
              <a href="../patient/deactivate-dummy">Deactivate</a>
        </dd>-->
      </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Invited date:
          </dt>
          <dd class="nhsuk-summary-list__value">
              04-Feb-2020
          </dd>
          <dd class="nhsuk-summary-list__actions">
          </dd>
        </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Address:
        </dt>
        <dd class="nhsuk-summary-list__value">
          1 Westfield Place, Great Shelford, CB22 5JJ
        </dd>
        <dd class="nhsuk-summary-list__actions">
        </dd>
      </div>
    </dl>
    {#{% if data.role != 'sampleTaker' %}
      {{ details({
      "text": "View previous addresses",
      "HTML": "

      <h4>Address History</h4>
      <table>
      <thead>
      <tr>
        <th>Moved in</th>
        <th>Address</th>
      </tr>
      </thead>
      <tr>
      <td>07 2017</td>
      <td>20 Thornhill Street, Pudsey, LS15 6FD</td>
      </tr>
      <tr>
      <td>03 2013</td>
      <td>29 Jubilee Close, Bradford, BD19 3WE</td>
      </tr>
      <tr>
      <td>01 2011</td>
      <td>1 High Street, Bradford, BD13 5TY</td>
      </tr>
      </table>"
      }) }}
    {% endif %}#}

    {% if data.role == 'sampleTaker' %}
    <br>
    {% include '../components/hmr101.html' %}

    {% endif %}
  </div>
</div>

<div class="nhsuk-grid-row nhsuk-u-margin-top-4">
  <div class="nhsuk-grid-column-full">

    {% if data.role == 'csas' %}
    <h2 id="testresults" class="nhsuk-heading-l">Test results</h2>

    <!--<a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary nhsuk-u-margin-bottom-4" href="#">Add result</a>
    {% endif %}-->

      <div class="nhsuk-scrollable-pane">
        <div class="nhsuk-scrollable-pane__wrapper">
            <div id="table-scroll" class="table-scroll">
              <div class="nhsuk-table-responsive nhsuk-u-margin-top-0 table-wrap">
                <table id="sortable" class="nhsuk-table nhsuk-table-u-margin-0 nhsuk-table-clickable main-table">

                  <!-- TABLE START -->
                  <thead class="nhsuk-table__head">
                    <tr class="nhsuk-table__row">
                      <th class="nhsuk-table__header" scope="col">Test Date</th>
                      <th class="nhsuk-table__header"  scope="col">Cytology result</th>
                      <th class="nhsuk-table__header" scope="col">HPV infection</th>
                      <th class="nhsuk-table__header" scope="col">Action</th>
                      <th class="nhsuk-table__header" scope="col">Repeat</th>
                      <th class="nhsuk-table__header" scope="col">Slide Number</th>
                      <th class="nhsuk-table__header no-print" scope="col">Amend</th>
                    </tr> 
                  </thead>
                  <tbody class="nhsuk-table__body nhsuk-body-">

              
                    <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell fixed-side">
                        04-Feb-2020
                        <span class="nhsuk-table__cell--hint">English</span>
                      </td>
                      <td class="nhsuk-table__cell">
                        No cytology result
                        <span class="nhsuk-table__cell--hint">X</span>
                      </td>
                      <td class="nhsuk-table__cell">
                        HPV negative
                        <span class="nhsuk-table__cell--hint">0</span>
                      </td>
                      <td class="nhsuk-table__cell">
                        Routine recall
                      <span class="nhsuk-table__cell--hint">A</span>
                      </td>
                      <td class="nhsuk-table__cell">
                        36
                        <span class="nhsuk-table__cell--hint">Months</span>
                      </td>
                      <td class="nhsuk-table__cell">
                        70406000
                        <span class="nhsuk-table__cell--hint"> Lab: 65030</span>
                      </td>
                      <td class="no-print"> 
                        <a href="#" style="margin-left:4px; margin-right:4px;">Review</a>
                        <a href="#" style="margin-left:4px; margin-right:4px;">Delete</a>
                      </td>
        
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>

  </div>
</div>

{% endblock %}

{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      <p><a href="/v12/reset-patient-data-12">Reset patient data</a></p>
    </div>
  </div>
</footer>
{% endblock %}
