{% extends "layout-v2-patient.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
{% endblock %}

{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "false",
    "showSearch": "false"
  })
}}
{% endblock %}

{% block patientBanner %}
  {% include '../components/dummy-patient-banner.html' %}
{% endblock %}

{% block content %}

<nav class="nhsuk-sub-navigation">
  <ul class="nhsuk-sub-navigation__list">
    <li class="nhsuk-sub-navigation__item"><a href="dummy-patient-summary" class="nhsuk-sub-navigation__link">Patient Summary</a></li>
    <li class="nhsuk-sub-navigation__item"><a href="dummy-history" class="nhsuk-sub-navigation__link" aria-current="page">Audit</a></li>
    <li class="nhsuk-sub-navigation__item"><a href="dummy-no-gp" class="nhsuk-sub-navigation__link">GP Information</a></li>

  </ul>
</nav>

<div class="nhsuk-grid-row nhsuk-u-margin-top-4">
  <div class="nhsuk-grid-column-full">
    
    <h1 class="nhsuk-heading-l">Audit</h1>

    <div class="nhs-screening-whole-timeline">

      <div class="nhs-screening-whole-timeline__item">
        <div class="nhs-screening-whole-timeline__header nhsuk-u-margin-bottom-2">
          <h2 class="nhs-screening-whole-timeline__title">Result sent</h2>
          <p class="nhs-screening-whole-timeline__by">by System - <span><span class="nhsuk-tag nhsuk-tag--yellow">Sent to printer</span> <a href="#">Cancel</a></span></p>
          <p class="nhs-screening-whole-timeline__date"><time datetime="2017-11-20T14:27">07-Feb-2020, 15:09:00 pm</time></p>
          <p class="nhs-screening-whole-timeline__date">Test Result: (X0A) No cytology result, HPV negative, routine recall</p>
          <p class="nhs-screening-whole-timeline__date"><time datetime="2017-11-20T14:27">Test Date: 04-Feb-2020, 9:00:00 am</time></p>
        </div>
      </div>

      <div class="nhs-screening-whole-timeline__item">
        <div class="nhs-screening-whole-timeline__header nhsuk-u-margin-bottom-2">
          <h2 class="nhs-screening-whole-timeline__title">Dummy registration created</h2>
          <p class="nhs-screening-whole-timeline__by">by Josie Driver (CSAS)</p>
          <p class="nhs-screening-whole-timeline__date"><time datetime="2017-11-20T14:27">06-Feb-2020, 12:55:00 pm</time></p>
          <p class="nhs-screening-whole-timeline__date">Unique identifier: T123 456 7890</p>
        </div>
      </div>


    </div>

  </div>
</div>

{% endblock %}
