{% extends 'layout-v2.html' %}

{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Sorry there is a problem deferring this patient</h1>
      <p>This patient has already been <strong>[action]</strong> for <strong>[reason]</strong>.</p>
      <p>For further information you can <a href="#" class="govuk-link">check the patient history.</a></p>
      <p><a href="#" class="govuk-link">Continue to patients due to be invited</a></p>
    </div>
  </div>
{% endblock %}
