{% extends "layout-v2.html" %}

{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
  {% include '../../v10/components/header-3.html' %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
      <a class="nhsuk-back-link__link" href="prior-notification-10-defer-reason">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to step 1 - Choose a reason to {{ "delay" if (data.role == 'csas' and data.patversion == '2') else "defer" }} the patient</a>
    </div>
<div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
  <h2 class="nhsuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="nhsuk-error-summary__body">
    <ul class="nhsuk-list nhsuk-error-summary__list">
    <p>
      The calculated next test due date exceeds the maximum 12 months after estimated date of delivery	
    </p>
      <li><a href="#nhsuk-form-group-dob-advanced">Check the estimated date of delivery is correct</a></li>
      <li><a href="#nhsuk-form-group-defer-length">Check the defer length is correct	</a></li>
    </ul>
  </div>
</div>
    <div class="nhsuk-panel-with-label">
      

  
  
  

  
  <h3 class="nhsuk-panel-with-label__label">Curry Depetris 
  <span style="color:white;" class="nhsuk-table__cell--hint">NHS No: 999 102 3867</span></h3>


<!--
  <tr id="detailsRow4" class="detailsRow">
           <td colspan="3">-->
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-full">

 <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-2">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Next test due date</dt>
    <dd class="nhsuk-summary-list__value">22-Sep-2020 (in 7 weeks)</dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Last test date</dt>
    <dd class="nhsuk-summary-list__value">25-Sep-2018 (22 months ago)</dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Last test</dt>
    <dd class="nhsuk-summary-list__value">
      
        (39S) Low-grade dyskaryosis, HPV positive, Suspended
      
    </dd>
  </div>
</dl>


<p class="nhsuk-u-margin-bottom-6"><a href="../patient/patient-summary">View full patient information</a></p>
              </div>
            </div>
          
        <p></p>

      <span class="nhsuk-hint">Step 2 of 3</span>
       
          <h1 class="nhsuk-fieldset__legend--m">
  How long do you want to delay the patient for?
</h1>

  

  <div class="nhsuk-inset-text nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-4">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  
    
      <p>Minimum deferral is 3 months after date of delivery<br>Maximum deferral can not exceed 12 months</p>
    
  
</div>


<form action="prior-notification-10-defer-review" method="post">
  

  <div id="nhsuk-form-group-dob-advanced" class="nhsuk-form-group nhsuk-u-margin-bottom-6">
    <div class="nhsuk-form-group nhsuk-form-group--error"> 
      <fieldset class="nhsuk-fieldset" aria-describedby="dob-from" role="group">
        <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
          Estimated date of delivery
        </legend>
        <span id="dob-from-error-error" class="nhsuk-error-message">
          Estimated date of delivery must include a month and a year
        </span>
        <span id="dob-from-error-error" class="nhsuk-error-message" style="display: none">
          You must enter a date
        </span>
        <div class="nhsuk-date-input" id="edd-from">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="edd-day">
                Day
              </label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="day" name="edd-day" type="number" pattern="[0-9]*" value="day">                                </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="edd-month">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-dob-input__input nhsuk-input--width-2 nhsuk-input--error" id="month" name="edd-month" type="number" pattern="[0-9]*" value="month">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="edd-year">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-dob-input__input nhsuk-input--width-4 nhsuk-input--error" id="year" name="edd-year" type="number" pattern="[0-9]*" value="year">
            </div>
          </div>
        </div>
        <input type="hidden" id="ntdd" name="ntdd" value="19 01 2021">
      </fieldset>
    </div>
  </div>


  

<div id="nhsuk-form-group-defer-length" class="nhsuk-form-group nhsuk-form-group--error">
<fieldset class="nhsuk-fieldset" aria-describedby="dob-from" role="group">
<legend class="nhsuk-fieldset__legend nhsuk-label__strong">
        
    
      Months to delay after the date of delivery
    
  
       </legend>
       <span id="dob-from-error-error" class="nhsuk-error-message">
          Check the defer length is correct	
        </span>

 <input class="nhsuk-input nhsuk-input--width-2 nhsuk-input--error" id="deferlength" name="defer-length" type="number">
</fieldset>
</div>

  <button class="nhsuk-button nhsuk-button--ers">Continue</button>

  </form>

      
    </div>

  </div>
</div>
{% endblock %}

{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      <p><a href="/v10/reset-patient-data-11">Reset patient data</a></p>
    </div>
  </div>
</footer>
{% endblock %}
