{% extends 'layout.html' %}

{% block pageTitle %}
  Example - passing data from page to page
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Choose the correct codes
      </h1>

      <p>We have not recogised some of the codes that you have used when uploading your data. You will need to map yuor codes to SNOMED codes or you can upload another file.</p>

      

<div class="nhsuk-table-responsive">
  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption">Map your codes to SNOMED codes</caption>
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col">Your data</th>
        <th class="nhsuk-table__header" scope="col">Reason</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Patient is pregnant</td>
        <td class="nhsuk-table__cell ">
          <select class="nhsuk-select">
            <option>Select</option>
            <optgroup label="Defer">
            <option>Recent test</option>
            <option>Current pregnancy</option>
            <option>Patient wishes to defer</option>
            <option>Undergoing relevant treatment</option>
            <option>Administrative reason</option>
            <option>Practice invitation</option>
            <option>Discharge from colposcopy</option>
             </optgroup>
            <optgroup label="Cease">
            <option>Due to age</option>
            <option>No cervix</option>
            <option>Patient's requested for no further tests</option>
            <option>Other reason</option>
            <option>Mental capacity act (best interests)</option>
            </optgroup>
          </select>
        </td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Doesn't want to do it</td>
        <td class="nhsuk-table__cell ">
          <select class="nhsuk-select">
            <option>Select</option>
            <optgroup label="Defer">
            <option>Recent test</option>
            <option>Current pregnancy</option>
            <option>Patient wishes to defer</option>
            <option>Undergoing relevant treatment</option>
            <option>Administrative reason</option>
            <option>Practice invitation</option>
            <option>Discharge from colposcopy</option>
             </optgroup>
            <optgroup label="Cease">
            <option>Due to age</option>
            <option>No cervix</option>
            <option>Patient's requested for no further tests</option>
            <option>Other reason</option>
            <option>Mental capacity act (best interests)</option>
            </optgroup>
          </select>
        </td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Patient has just done the test</td>
        <td class="nhsuk-table__cell ">
          <select class="nhsuk-select">
            <option>Select</option>
            <optgroup label="Defer">
            <option>Recent test</option>
            <option>Current pregnancy</option>
            <option>Patient wishes to defer</option>
            <option>Undergoing relevant treatment</option>
            <option>Administrative reason</option>
            <option>Practice invitation</option>
            <option>Discharge from colposcopy</option>
             </optgroup>
            <optgroup label="Cease">
            <option>Due to age</option>
            <option>No cervix</option>
            <option>Patient's requested for no further tests</option>
            <option>Other reason</option>
            <option>Mental capacity act (best interests)</option>
            </optgroup>
          </select>
        </td>
      </tr>
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Patient is pregnant</td>
        <td class="nhsuk-table__cell ">
          <select class="nhsuk-select">
            <option>Select</option>
            <optgroup label="Defer">
            <option>Recent test</option>
            <option>Current pregnancy</option>
            <option>Patient wishes to defer</option>
            <option>Undergoing relevant treatment</option>
            <option>Administrative reason</option>
            <option>Practice invitation</option>
            <option>Discharge from colposcopy</option>
             </optgroup>
            <optgroup label="Cease">
            <option>Due to age</option>
            <option>No cervix</option>
            <option>Patient's requested for no further tests</option>
            <option>Other reason</option>
            <option>Mental capacity act (best interests)</option>
            </optgroup>
          </select>
        </td>
      </tr>
      
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">Removed due to mental capacity</td>
        <td class="nhsuk-table__cell ">
          <select class="nhsuk-select">
            <option>Select</option>
            <optgroup label="Defer">
            <option>Recent test</option>
            <option>Current pregnancy</option>
            <option>Patient wishes to defer</option>
            <option>Undergoing relevant treatment</option>
            <option>Administrative reason</option>
            <option>Practice invitation</option>
            <option>Discharge from colposcopy</option>
             </optgroup>
            <optgroup label="Cease">
            <option>Due to age</option>
            <option>No cervix</option>
            <option>Patient's requested for no further tests</option>
            <option>Other reason</option>
            <option>Mental capacity act (best interests)</option>
            </optgroup>
          </select>
        </td>
      </tr>
      
    </tbody>
  </table>
</div>

        <a class="nhsuk-button" href="review">Submit</a>

    </div>
  </div>
{% endblock %}
