{% extends "layout-v2.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/reveal.js"></script>
  <script type="text/javascript" src="/js/comments.js"></script>

<script>
  function closeRightMenu() {
    document.getElementByClass("nhsuk-sidebar-hidden").style.display = "none";
  }
  $(document).ready(function() {
     $(".sidebarbttn").click(function () {
     $(".nhsuk-sidebar-hidden").toggle();
    });

   });
</script>
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(3){
    border-bottom:4px solid #d8dde0;
  }
</style>

{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}


{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
      "href": "manc-check",
      "text": "Go back to Manchester results"
    }) }}

    <h1 class="nhsuk-heading-l nhsuk-u-padding-top-2">Manchester: to check</h1>

    {{ hint({
   classes: 'nhsuk-hint',
  text: "Viewing - match 1 of 2 matches to check"
}) }}
  </div>
</div>



<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
<div class="nhsuk-inset-text nhsuk-inset-text__screening nhsuk-inset-text__screening--success nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-2" </div>
       <span class="nhsuk-u-visually-hidden">System details used </span>
       <h3 class="nhsuk-heading-s">System details used</h3>
              <p> <strong>Processor:</strong> Josie Driver</p>
    </div>
</div>
</div>



<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-panel-with-label">
      <h3 class="nhsuk-panel-with-label__label">Lab details</h3>

      <dl class="nhsuk-summary-list nhsuk-u-padding-top-3 nhsuk-summary-list--no-border">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Jane Smith
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            01-01-1970
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Contact information
          </dt>
          <dd class="nhsuk-summary-list__value">
            20 Thornhill Street<br>Pudsey<br> LS28 7PB
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            NHS number
          </dt>
          <dd class="nhsuk-summary-list__value">
            <span class=""> 234 567 8901 </span>
          </dd>

        </div>

      </dl>
    </div>
  </div>

  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-panel-with-label">
      <h3 class="nhsuk-panel-with-label__label">System details</h3>

      <dl class="nhsuk-summary-list nhsuk-u-padding-top-3 nhsuk-summary-list--no-border">



        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Jane <span class="highlight"> Louise </span> Smith
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            01-01-1970
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Contact information
          </dt>
          <dd class="nhsuk-summary-list__value">
            20 Thornhill Street<br>Pudsey<br> LS28 <span class="highlight">7ED</span>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            NHS number
          </dt>
          <dd class="nhsuk-summary-list__value">
            <span class=""> 234 567 8901 </span>
          </dd>

        </div>
      </dl>

    </div>

  </div>

</div>


  <div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
<ul class="nhsuk-comment-container">

  <li class="nhsuk-panel"><span class="name"> Josie Driver</span> <span class="date"><strong>20-Jul-2020</strong></span> System details used as they match the address shown in patient summary.</li>
  			</ul>
</div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">

    <form action="check-p1" method="post">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label nhsuk-label__strong nhsuk-u-padding-top-6" for="example">
        Comments
      </label>
      <span class="nhsuk-hint nhsuk-u-padding-top-3" id="example-hint" for="one-half">
        Enter comments if needed
      </span>
      <textarea class="nhsuk-textarea commentBox" id="commentsch1" value="commentsch1" name="commentsch1" rows="5" data-length=200></textarea>
    
    </div>

    <button class="nhsuk-button nhsuk-button--ers_secondary nhsuk-u-margin-top-3" role="button">Add comment</button>

    {% set name = "Jon Simpson" %}

    {% set commentDate = ("today" | returnDate) %}

    <input type="hidden" id="name" name="name" value="{{commentName}}">

      <input type="hidden" name="date" value={{commentDate}}>

    </form>

    <ul class="nhsuk-comment-container">
      {% if data.commentsch1 !=null %}

  <li class="nhsuk-panel"><span class="name">{{ name }}</span> <span class="date"><strong>{{data.date}}</strong></span> {{data.commentsch1}}</li>

  {% endif %}
  			</ul>

</div>
</div>


    <a href="check-p2" class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-top-3 nhsuk-u-margin-right-6">Accept match</a>
    <a href="check-p2" class="nhsuk-button nhsuk-button--ers nhsuk-button--ers_secondary nhsuk-u-margin-top-3 nhsuk-u-margin-right-6">Send back to processor worklist</a>
    <a href="manc-check" class="nhsuk-button nhsuk-button--ers nhsuk-button--ers_secondary nhsuk-u-margin-top-3 ">Save and exit</a>
  </div>

</div>



{% endblock %}
