{% extends 'layout-v2.html' %}

{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l">Reminder: Protect Patient Data</h1>



    <p>You should only access someone’s record if there’s a clinical need to.</p>
<p>All activity in the cervical screening system is routinely checked to make sure records are not being accessed inappropriately.</p>
<p>When you’re finished using the system you must:
<p>1.      Log out using the button in the top right hand corner</p>
<p>2.      Remove your smart card.</p>

      <div class="nhsuk-checkboxes nhsuk-form-group--error">

    <span class="nhsuk-error-message" id="example-error-error">
      <span class="nhsuk-u-visually-hidden">Error:</span> Select the checkbox before continuing.
    </span>

      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
          I have read and understand this message.
        </label>
         
      </div>
    </div>
         <a class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-top-6" href="../patient/search/search" type="submit">
        Continue
      </a>
    </div>

 
   </div>

</div>





{% endblock %}
