{% extends 'layout-v2.html' %}

{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading nhsuk-fieldset__legend--l">
            Cervical Screening Mananagment System
          </h1>

          <div class="nhsuk-inset-text">
                 <span class="nhsuk-u-visually-hidden">Information: </span>
                 <p>You have successfully logged into the NHS Cervical Screening Management System. This device will be able to access the full system when it goes live.</p>
                </div>

          <p class="nhsuk-card__description">
            Further information, updates and training resources for the launch of the full system are available on the NHS Digital website <a href="https://digital.nhs.uk/services/screening-services/national-cervical-screening/new-cervical-screening-management-system">New NHS Cervical Screening Managment System starting 2021.</a>
            <!--<p> To prepare for the launch you can read the <a href="">New NHS Cervical Screening Managment System implementation guides</a> and make sure you have the correct permissions to workgroups assigned to you.-->
          </p>
        </div>
      </div>

     

      

    </div>
  </div>
{% endblock %}
