{% extends 'layout-v2.html' %}

{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading nhsuk-fieldset__legend--l">
            Cervical Screening Mananagment System
          </h1>

          <div class="nhsuk-inset-text">
                 <span class="nhsuk-u-visually-hidden">Information: </span>
                 <p>You have successfully logged into the new NHS Cervical Screening Managment System.</p>
                </div>

          <p class="nhsuk-card__description">
            The full system will be launching later in 2021. Precise timings will be confirmed in the coming monhts. The NHS Digital website has information on the <a href="">New NHS Cervical Screening Managment System starting 2021.</a>
            <p> To prepare for the launch you can read the <a href="">New NHS Cervical Screening Managment System implementation guides</a> and make sure you have the correct permissions to workgroups assigned to you.
          </p>
        </div>
      </div>

     

      

    </div>
  </div>
{% endblock %}
