{% extends "layout-v2.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
{% endblock %}
{% block pageTitle %}
  NHS Cervical Screening
{% endblock %}

{% block header %}

  {% include '../../components/header.html' %}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <form id="searchform" action="/v6/patient/search/search" method="post" name="search-form">
      <div class="nhsuk-form">
        <div class="nhsuk-form-group">
          <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
          </div>
          <div class="nhsuk-grid-column-one-half">
            <legend class="nhsuk-fieldset__legend--s nhsuk-u-margin-bottom-2">
              <h1 class="nhsuk-heading-l">Search by</h1>
            </legend>
            <nav class="nhsuk-sub-navigation">
  <ul class="nhsuk-sub-navigation__list">
    <li class="nhsuk-sub-navigation__item"><a href="#" class="nhsuk-sub-navigation__link" aria-current="page">NHS number</a></li>
    <li class="nhsuk-sub-navigation__item"><a href="search-demographic" class="nhsuk-sub-navigation__link">Demographics</a></li>
  </ul>
</nav>
        </div>
      </div>
    </div>
    <div class="nhsuk-form-group">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-quarter">
        </div>
        <div class="nhsuk-grid-column-one-quarter">
          <div class="nhsuk-date-input__item">
            <label class="nhsuk-label nhsuk-label__strong nhsuk-body-xs">
              NHS number
            </label>
            <input id="searchfield" class="nhsuk-input" type="number" inputmode="numeric" name="searchnhs" value="">
          </div>
        </div>
      </div>
    </div>
    <div class="nhsuk-form-group">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <button class="nhsuk-button nhsuk-button--ers" type="submit">Find patient</button>
        </div>
      </div>
    </div>
  </form>
  </div>
</div>


{% endblock %}

{% block footer %}
<footer role="contentinfo">
 <div class="nhsuk-footer" id="nhsuk-footer">
   <div class="nhsuk-width-container nhsuk-width-container-fluid">
     <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
     <ul style="font-size: 10px">
      <li>3816158897</li>
      <li>6170211547</li>
      <li>7594384164</li>
    </ul>
   </div>
 </div>
</footer>
{% endblock %}
