{% extends "layout-v2.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
{% endblock %}
{% block pageTitle %}
  NHS Cervical Screening
{% endblock %}

{% block header %}

  {% include 'v5/components/header.html' %}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <form id="searchform" action="/search-v5/" method="post" name="search-form">
      <div class="nhsuk-form">
        <div class="nhsuk-form-group">
          <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
          </div>
          <div class="nhsuk-grid-column-one-half">
            <legend class="nhsuk-fieldset__legend--s nhsuk-u-margin-bottom-2">
              <h1 class="nhsuk-heading-l">Search by</h1>
            </legend>
            <div class="multiple-choice--hod nhsuk-radios nhsuk-radios--inline">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="" name="searchby" type="radio" value="" checked="checked">
                <label class="nhsuk-label nhsuk-radios__label nhsuk-radios__label" for="nhs-number">
                  NHS Number
                </label>
              </div>
            <div class="nhsuk-radios__item" onclick="window.location.replace('search-demographic');">
              <input class="nhsuk-radios__input" id="demographics" name="searchby" type="radio" value="">
              <label class="nhsuk-label nhsuk-radios__label" for="demographics">
                Demographics
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nhsuk-form-group">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-quarter">
        </div>
        <div class="nhsuk-grid-column-one-quarter">
          <div class="nhsuk-date-input__item">
            <label class="nhsuk-label nhsuk-label__strong nhsuk-body-xs">
              NHS number
            </label>
            <input id="searchfield" class="nhsuk-input" type="number" inputmode="numeric" name="searchnhs" value="">
          </div>
        </div>
      </div>
    </div>
    <div class="nhsuk-form-group">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <button class="nhsuk-button nhsuk-button--ers" type="submit">Search</button>
        </div>
      </div>
    </div>
  </form>
  </div>
</div>


{% endblock %}

