{% extends "layout-v2.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
{% endblock %}
{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
  {% include '../components/header.html' %}
{% endblock %}


{% block content %}

{{ backLink({
  "href": "results",
  "text": "Go back to results"
}) }}

<div class="nhsuk-grid-row nhsuk-u-margin-top-4">
  <div class="nhsuk-grid-column-full">
  <h1 class="nhsuk-heading-l">Derby</h1>
 <p> The following results show all the mismatches between the lab and system patient details.
 <br>
  Please compare the patient details provided by the labs against those held on the system.</p>

   <div class="nhsuk-table-responsive">
                  <table id="sortable" class="nhsuk-table nhsuk-table-u-margin-0 nhsuk-table-clickable">

                    <!-- TABLE START -->
                    <thead class="nhsuk-table__head">
                      <tr class="nhsuk-table__row">
                        <th class="nhsuk-table__header" aria-sort="none" scope="col">
                          <button onclick="sortTable()" type="button" data-index="0">Transfer no</button>
                        </th>
                        <th class="nhsuk-table__header" aria-sort="none" scope="col">
                          <button onclick="sortTable()" type="button" data-index="0">Transfer date</button>
                        </th>
                        <th class="nhsuk-table__header" aria-sort="none" scope="col">
                          <button onclick="sortTable()" type="button" data-index="0">Manual matches</button>
                        </th>
                        <th class="nhsuk-table__header" aria-sort="none" scope="col">
                        <button onclick="sortTable()" type="button" data-index="0">Status</button>
                        </th>
                        <th class="nhsuk-table_header"></th>

                      </tr>

                    </thead>
                      <tbody class="nhsuk-table__body">

                      <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell">
                          03375
                        </td>
                        <td class="nhsuk-table__cell">
                          06-02-2020
                        </td>
                        <td class="nhsuk-table__cell">
                          34
                        </td>
                        <td class="nhsuk-table__cell multiple-choice--hod">
                          <span class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-2">with lab</span>
                        </td>
                        <td class="nhsuk-table__cell">
                  <!-- <a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary" href=“./“>Start matching</a>-->
                   </td>
                      </tr>

                                    <tr class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">
                                      03376
                                    </td>
                                    <td class="nhsuk-table__cell">
                                      06-02-2020
                                    </td>
                                    <td class="nhsuk-table__cell">
                                      75
                                    </td>
                                    <td class="nhsuk-table__cell multiple-choice--hod">
                                      <span class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-2">with lab</span>
                                    </td>
                                    <td class="nhsuk-table__cell">
                              <!-- <a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary" href=“./“>Start matching</a>-->
                               </td>
                                  </tr>



                                              <tr class="nhsuk-table__row">
                                                <td class="nhsuk-table__cell">
                                                  03377
                                                </td>
                                                <td class="nhsuk-table__cell">
                                                  06-02-2020
                                                </td>
                                                <td class="nhsuk-table__cell">
                                                  42
                                                </td>
                                                <td class="nhsuk-table__cell multiple-choice--hod">
                                                  <span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">Not started</span>
                                                </td>
                                                <td class="nhsuk-table__cell">
                                                <a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary" href=“./“>Start matching</a>
                                                 </td>
                                              </tr>

                                                          <tr class="nhsuk-table__row">
                                                      <td class="nhsuk-table__cell">
                                                        03378
                                                      </td>
                                                      <td class="nhsuk-table__cell">
                                                        06-02-2020
                                                      </td>
                                                      <td class="nhsuk-table__cell">
                                                        23
                                                      </td>
                                                      <td class="nhsuk-table__cell multiple-choice--hod">
                                                        <span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">Not started</span>
                                                      </td>
                                                        <td class="nhsuk-table__cell">
                                                     <a class="nhsuk-button--ers nhsuk-button--secondary" href="A">Start matching</a>
                                                      </td>
                                                    </tr>

                                                             <tr class="nhsuk-table__row">
                                                      <td class="nhsuk-table__cell">
                                                        03379
                                                      </td>
                                                      <td class="nhsuk-table__cell">
                                                        06-02-2020
                                                      </td>
                                                      <td class="nhsuk-table__cell">
                                                        32
                                                      </td>
                                                      <td class="nhsuk-table__cell multiple-choice--hod">
                                                        <span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">Not started</span>
                                                      </td>
                                                      <td class="nhsuk-table__cell">
                                                <a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary" href="B">Start matching</a>
                                                 </td>
                                                    </tr>

                                                                      <tr class="nhsuk-table__row">
                                                      <td class="nhsuk-table__cell">
                                                        03380
                                                      </td>
                                                      <td class="nhsuk-table__cell">
                                                        06-02-2020
                                                      </td>
                                                      <td class="nhsuk-table__cell">
                                                        28
                                                      </td>
                                                      <td class="nhsuk-table__cell multiple-choice--hod">
                                                        <span class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-2">with lab</span>
                                                      </td>
                                                      <td class="nhsuk-table__cell">
                                                <!-- <a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary" href=“./“>Start matching</a>-->
                                                 </td>
                                                    </tr>

                                                      <tr class="nhsuk-table__row">
                                                      <td class="nhsuk-table__cell">
                                                        03381
                                                      </td>
                                                      <td class="nhsuk-table__cell">
                                                        06-02-2020
                                                      </td>
                                                      <td class="nhsuk-table__cell">
                                                        94
                                                      </td>
                                                      <td class="nhsuk-table__cell multiple-choice--hod">
                                                        <span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">Not started</span>
                                                      </td>
                                                      <td class="nhsuk-table__cell">
                                                      <a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary" href=“./“>Start matching</a>
                                                       </td>
                                                    </tr>
                                                       </tbody>
                    </table>
                    </div>





  </div>
  </div>
{% endblock %}
