{% extends "layout-v2-patient.html" %}

{% block pageTitle %}
  NHS Cervical Screening
{% endblock %}


{% block patientBanner %}
  {% include '../components/patient-banner.html' %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half nhsuk-u-margin-bottom-2">

  {{ backLink({
  "href": "prior-notification-5",
  "text": "Back to Prior Notification"
  }) }}

  {% from "summary-list/macro.njk" import summaryList %}
  
  <form action="prior-notification-5-defer-reason" method="post">

  {% call fieldset({
  legend: {
    "text": "Choose an action for this screening episode",
    "classes": "nhsuk-fieldset__legend--l",
    "isPageHeading": true
  }
  }) %}
  {{ hint({
    "html": 
    '
      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            View more information about the patient
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Status
              </dt>
              <dd class="nhsuk-summary-list__value">
                Routine
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Next test due date
              </dt>
              <dd class="nhsuk-summary-list__value">
                1st May 2020
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Last test result Date
              </dt>
              <dd class="nhsuk-summary-list__value">
                1st May 2017
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Last test result
              </dt>
              <dd class="nhsuk-summary-list__value">
                (X0A) No cytology result, HPV negative, routine recall
              </dd>
            </div>
          </dl>
        </div>
      </details>'
  }) }}
 
  {{ radios({
    "idPrefix": "example-hints",
    "name": "pnl-action",
    "items": [
      {
        "value": "Invited",
        "text": "Invite the patient"
      },
      {
        "value": "Deferred",
        "text": "Defer the patient"
      },
      {
        "value": "Ceased",
        "text": "Cease the patient"
      }
    ]
  }) }}
  {% endcall %}



  <button class="nhsuk-button nhsuk-button--ers">Continue</button>
  </form>
  <p><a href="">Exit without saving</a>   -   <a href="">Skip this patient</a></p>
  </div>
</div>

{% endblock %}