{% extends "layout-v2.html" %}


{% block pageTitle %}
  NHS Cervical Screening
{% endblock %}

{% block header %}
  {% include '../components/header.html' %}
{% endblock %}


{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters nhsuk-u-margin-bottom-6">
  <h1 class="nhsuk-heading-l">Invites have been scheduled</h1>
    <p>The selected <strong>3</strong> patients will be sent invites on <strong>10-09-2020</strong>.</p>
    <br>
    <a href="prior-notification-4-invited"class="nhsuk-button">
    Continue to prior notification list
    </a>
  </div>


</div>
{% endblock %}


{% block pageScripts %}
<script>
  function toggle(btnID, eIDs) {
    // Feed the list of ids as a selector
    var theRows = document.querySelectorAll(eIDs);
    // Get the button that triggered this
    var theButton = document.getElementById(btnID);
    // If the button is not expanded...
    if (theButton.getAttribute("aria-expanded") == "false") {
      // Loop through the rows and show them
      for (var i = 0; i < theRows.length; i++) {
        theRows[i].classList.add("shown");
        theRows[i].classList.remove("hidden");
      }
      // Now set the button to expanded
      theButton.setAttribute("aria-expanded", "true");
      // Otherwise button is not expanded...
    } else {
      // Loop through the rows and hide them
      for (var i = 0; i < theRows.length; i++) {
        theRows[i].classList.add("hidden");
        theRows[i].classList.remove("shown");
      }
      // Now set the button to collapsed
      theButton.setAttribute("aria-expanded", "false");
    }
    $('.expanderButton[aria-expanded="true"]').closest('tr').addClass('expandedRow');
    $('.expanderButton[aria-expanded="false"]').closest('tr').removeClass('expandedRow');

  }
</script>

<script>
  // Script for the view selected button

  /*
  $(".nhsuk-checkboxes__input").change(function() {
      if ($("input:checkbox:checked").length > 0)
      {
        $(".disable-able").removeClass("nhsuk-button--disabled").removeClass("nhsuk-button--secondary").addClass("nhsuk-button--blue");
        $("#view-selected-link").attr("href", "./birth-notification");

        if ($("input:checkbox:checked").length > 1)
        {
          $("#view-selected-link").attr("href", "./birth-notification-multiple-1-of-3");
        }

      }
      else
      {
        $(".disable-able ").addClass("nhsuk-button--disabled").addClass("nhsuk-button--secondary").removeClass("nhsuk-button--blue");
      }


  });
  */
</script>
{% endblock %}