{% extends "layout-v2.html" %}


{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
  {% include '../components/header-2.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    {{ backLink({
      "href": "prior-notification-8",
      "text": "Back to notifications"
    }) }}
    <h1 class="nhsuk-heading-l">How to cease patients because of mental capacity or patient choice?</h1>

    <p>You will need to:</p>
    <ul>
      <li>download the correct form</li>
      <li>print the form</li>
      <li>get the patient to sign the form (Informed patients choice only)</li>
      <li>a GP, nurse or clinician will need to fill in the form and sign it</li>
      <li>scan the form</li>
      <li><a href="">submit the form to the CSAS website</a></li>
    </ul>

    <div class="nhsuk-panel-with-label"> 
      <h3 class="nhsuk-panel-with-label__label">Forms to cease patients</h3> 
      <div class="nhsuk-table-responsive nhsuk-u-margin-top-0">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Skin symptoms and possible causes</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Form Name</th>
              <th class="nhsuk-table__header" scope="col">Action</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Mental Capacity Act</td>
              <td class="nhsuk-table__cell "><a href="">download</a> - <a href="">print</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Informed patients choice</td>
              <td class="nhsuk-table__cell "><a href="">download</a> - <a href="">print</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



      
{% endblock %}

