{% extends "layout-v2.html" %}


{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
  {% include '../components/header.html' %}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half nhsuk-u-margin-bottom-2">
  <h1 class="nhsuk-heading-l">Prior Notification List</h1>

  <p>The Prior Notification is ordered by those due their screening soonest, then by the recall type <strong>inadequete, repeat advised</strong> and then <strong>routine</strong></p>
  <strong>2</strong> patients need reviewing by tomorrow</br>
  <strong>9</strong> patients need reviewing by {{ "28" | returnDate('days') }}</p>
  
  </div>
</div>



  <div class="nhsuk-grid-row nhsuk-panel-group">
  <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
    <div class="nhsuk-panel">
      <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0"><span class="nhsuk-heading-xl">2</span>Patients need reviewing tomorrow</h2>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
    <div class="nhsuk-panel">
      <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0"><span class="nhsuk-heading-xl">9</span>Patients need reviewing by {{ "28" | returnDate('days') }}</h2>
    </div>
  </div>

  
</div>

  <a href="prior-notification-7-action" type="button" class="nhsuk-button nhsuk-button--ers">Review next patient</a>

  
  <p>The following reasons are <strong>not</strong> part of the Prior Notification and require a form to be submitted</p>
  <ul>
    <li><a href="" >Mental capacity act form</a></li>
    <li><a href="" >Informed patients choice form</a></li>
  </ul>
  
  
  
  </div>
</div>
{% endblock %}