{% extends "layout-v2.html" %}

{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
  {% include '../components/header-2.html' %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters nhsuk-u-margin-bottom-2">

  {{ backLink({
  "href": "prior-notification-7-defer-length",
  "text": "Back to step 3 - How long do you want to defer the patient for?"
  }) }}

  <div class="nhsuk-panel-with-label">
    {% include '../components/patient-yazmin.html' %}

    <span class="nhsuk-hint">Step 3 of 3</span>
    {% include '../components/patient-defer-review.html' %}
  </div>

  </div>
</div>

{% endblock %}