{% extends "layout-v2-patient.html" %}

{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}


{% block patientBanner %}
  {% include '../components/patient-banner.html' %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half nhsuk-u-margin-bottom-2">

  {{ backLink({
  "href": "prior-notification-7-defer-reason",
  "text": "Back to step 2 - Choose a reason to defer the patient"
  }) }}

  <span class="nhsuk-hint">Step 2 of 3</span>

  <h1 class="nhsuk-fieldset__legend--m">How long do you want to defer the patient for?</h1>

  <details class="nhsuk-details nhsuk-summary-list--no-border">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          View more information about the patient
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-2">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Status
            </dt>
            <dd class="nhsuk-summary-list__value">
              Routine
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Next test due date
            </dt>
            <dd class="nhsuk-summary-list__value">
              28 Jun 2020 (in 2 months)
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Last test date
            </dt>
            <dd class="nhsuk-summary-list__value">
              28 Jun 2017 (in 3 years)
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Last test
            </dt>
            <dd class="nhsuk-summary-list__value">
              (X0A) No cytology result, HPV negative, routine recall
            </dd>
          </div>
        </dl>
        <p><a href="../patient/patient-summary">View full patient information</a></p>
      </div>
    </details>

  {{ insetText({
    "HTML":  "<p>Minimum deferral is 3 months after date of delivery</br>
    Maximum deferral can not exceed 12 months</p>",
    "classes": "nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-4"
  }) }}

  <form action="prior-notification-7-review" method="post">

  {{ input({
    "label": {
      "text": "Months to defer after the date of delivery",
      "isPageHeading": false
    },
    "id": "deferlength",
    "name": "defer-length",
    "classes": "nhsuk-input--width-2",
    "type": "number"
  }) }}

  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="pnl-comments">
      Comments
    </label>
    <span class="nhsuk-hint" id="example-hint">Do not include clinical information at  this point.</span>
    <textarea class="nhsuk-textarea" id="example" name="pnl-comments" rows="5" aria-describedby="example-hint" value="pnl-comments"></textarea>
 </div>



  <button class="nhsuk-button nhsuk-button--ers">Continue</button>

  </form>

  <p><a href="">Exit without saving</a>   -   <a href="">Skip this patient</a></p>
  </div>
</div>

{% endblock %}