{% extends "layout-v2.html" %}


{% block pageTitle %}
  NHS Cervical Screening
{% endblock %}

{% block header %}
  {% include '../components/header-2.html' %}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters nhsuk-u-margin-bottom-2">

  {{ backLink({
  "href": "prior-notification-8",
  "text": "Back to patients due to be invited"
  }) }}
  
  {% include '../components/patient-info-cease.html' %}

  <span class="nhsuk-hint">Step 1 of 3</span>
  
  <form action="prior-notification-8-cease-confirm" method="post">

  {% call fieldset({
  legend: {
    "text": "Choose a reason to cease the patient",
    "classes": "nhsuk-fieldset__legend--l",
    "isPageHeading": true
  }
  }) %}
  {{ hint({
    "html": 
    '
      <details class="nhsuk-details nhsuk-summary-list--no-border">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            View more information about the patient
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-2">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Status
              </dt>
              <dd class="nhsuk-summary-list__value">
                Routine
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Next test due date
              </dt>
              <dd class="nhsuk-summary-list__value">
                28 Jun 2020 (in 2 months)
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Last test date
              </dt>
              <dd class="nhsuk-summary-list__value">
                28 May 2017 (3 years ago)
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Last test
              </dt>
              <dd class="nhsuk-summary-list__value">
                (X0A) No cytology result, HPV negative, routine recall
              </dd>
            </div>
          </dl>
          <p><a href="../patient/patient-summary">View full patient information</a></p>
        </div>
      </details>'
  }) }}

  {{ radios({
    "idPrefix": "example-hints",
    "name": "pnl-defer-reason",
    "items": [
      {
        "value": "No cervix",
        "text": "No cervix"
      },
      {
        "value": "Due to age",
        "text": "Due to age"
      },
      {
        "value": "Referred to colposcopy",
        "text": "Referred to colposcopy"
      }
    ]
}) }}
{% endcall %}



  <button class="nhsuk-button nhsuk-button--ers">Continue</button>

  </form>

  <p><a href="">Exit without saving</a>   -   <a href="">Skip this patient</a></p>
  </div>
</div>

{% endblock %}