{% extends '../../layout-email.html' %}

{% block pageTitle %}
  Prior notification email
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-fieldset__legend--l">Screening notification reminder</h1>
      
      <h2 class="nhsuk-fieldset__legend--m">Patients due to be invited</h2>
      <p>Patients who are not reviewed or actioned within 4 weeks will be invited for cervical screening on their next test due date.</br>
      <a href="../prior-notification/prior-notification-12?role=admin">View or action patients due to be invited</a></p>

      <h2 class="nhsuk-fieldset__legend--m">Patients who have not responded</h2>
      <p>Patients who are not reviewed or actioned will be removed from the list after 8 weeks. They have missed their screening and be invited for screening again based on their recall status.</br>
      <a href="../prior-notification/prior-notification-12?role=admin">View or action patients who have not responded</a></p>

      <h2 class="nhsuk-fieldset__legend--m">Patients to review</h2>
      <p>This list shows patients who’ve recently been ceased, were ceased by their previous GP surgery, or have an abnormal follow-up. Patients that are not reviewed will be removed from the list after 8 weeks.</br>
      <a href="../prior-notification/prior-notification-12?role=admin">View patients to review</a></p>
      
      <p>If you no longer need to receive these notification you can <a href="">manage emails</a></p>

    </div>
  </div>

{% endblock %}