{% extends "layout-v2.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
{% endblock %}
{% block pageTitle %}
  NHS Cervical Screening
{% endblock %}

{% block header %}
  {% include '../../components/header.html' %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">
  <form id="searchform" action="search-results" method="post" name="search-form">
    <div class="nhsuk-form">
      <div class="nhsuk-form-group">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
            <legend class="nhsuk-fieldset__legend--s nhsuk-u-margin-bottom-2">
              <h1 class="nhsuk-heading-l">Search by</h1>
            </legend>
            <nav class="nhsuk-sub-navigation">
  <ul class="nhsuk-sub-navigation__list">
    <li class="nhsuk-sub-navigation__item"><a href="search" class="nhsuk-sub-navigation__link">NHS number</a></li>
    <li class="nhsuk-sub-navigation__item"><a href="#" class="nhsuk-sub-navigation__link" aria-current="page">Demographics</a></li>
  </ul>
</nav>
        </div>
      </div>
    </div>
    <!--<div class="nhsuk-form-group">-->
      <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <form action="search-results" method="post">
        <fieldset class="nhsuk-fieldset">
      <div class="nhsuk-form-group" id="nhsuk-form-group-first-name-advanced">
        <label class="nhsuk-label nhsuk-label__strong" for="first-name-advanced">
          First name (optional)
        </label>
        <span id="advanced-first-name-error-error" class="nhsuk-error-message" style="display: none">
          You must enter a first name
        </span>
        <input class="nhsuk-input nhsuk-input--width-20" id="first-name-advanced" name="first-name" type="text">
      </div>
      <div id="nhsuk-form-group-last-name-advanced" class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-label__strong" for="last-name-advanced">
          Last name
        </label>
        <span id="advanced-last-name-error-error" class="nhsuk-error-message" style="display: none">
          You must enter a last name
        </span>
        <input class="nhsuk-input nhsuk-input--width-20" id="last-name-advanced" name="last-name" type="text">
      </div>
      

      <div id="nhsuk-form-group-dob-advanced" class="nhsuk-form-group">
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset" aria-describedby="dob-from" role="group">
            <legend class="nhsuk-fieldset__legend nhsuk-label__strong">
              Date of birth
            </legend>
            <span class="nhsuk-hint">
              For example, 31 3 1980
            </span>
            <span id="dob-from-error-error" class="nhsuk-error-message" style="display: none">
              You must enter a date
            </span>
            <div class="nhsuk-date-input" id="dob-from">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="dob-day-from">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-dob-input__input nhsuk-input--width-2" id="dob-day-from" name="dob-day-from" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="dob-month-from">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-dob-input__input nhsuk-input--width-2" id="dob-month-from" name="dob-month-from" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="dob-year-from">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-dob-input__input nhsuk-input--width-4" id="dob-year-from" name="dob-year-from" type="number" pattern="[0-9]*">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

      </div>
      <div class="nhsuk-form-group" id="nhsuk-form-group-postcode-advanced">
            <label class="nhsuk-label nhsuk-label__strong" for="address-postcode">
              Postcode (optional)
            </label>
            <span id="advanced-postcode-error-error" class="nhsuk-error-message" style="display: none">
              You must enter a postcode
            </span>
            <input class="nhsuk-input nhsuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
          </div>

        </fieldset>
        <!--<button class="nhsuk-button">Search</button>-->
      <!--</form>-->

      </div>
    </div>
    <div class="nhsuk-form-group">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <button class="nhsuk-button nhsuk-button--ers" type="submit">Search</button>
        </div>
      </div>
    </div>
  </form>
</div>

</div>

{% endblock %}
