{% extends "layout-v2.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
{% endblock %}
{% block pageTitle %}
  NHS Cervical Screening
{% endblock %}

{% block header %}
  {% include '../components/header.html' %}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

  <h1 class="nhsuk-heading-l nhsuk-u-padding-top-2">Manually resolve  address mismatch</h1>

{{ hint({
   classes: 'nhsuk-hint',
  text: "Manchester - Manual match 3 of 34"
}) }}
</div>
</div>

<div class="nhsuk-grid-row ">
    <div class="nhsuk-grid-column-one-half">
     <div class="nhsuk-panel-with-label nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-4">
        <h2 class="nhsuk-panel-with-label__label">Lab details
  <span style= color:white; </span></h3>
          
<dl class="nhsuk-summary-list nhsuk-u-padding-top-0 nhsuk-summary-list--no-border">

 <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Name
    </dt>
    <dd class="nhsuk-summary-list__value">
      Zoe Ross
    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="nhsuk-summary-list__value">
      31-08-1971
    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Contact information
    </dt>
    <dd class="nhsuk-summary-list__value">
            89 Gloddeth Street <br>Manchester<br> MC4 8JR

    </dd>
</div>
     <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      NHS number
    </dt>
    <dd class="nhsuk-summary-list__value">
      
    </dd>

  </div>

  </div>

</dl>
</div>



<div class="nhsuk-grid-row ">
    <div class="nhsuk-grid-column-one-half">
     <div class="nhsuk-panel-with-label nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-4">
        <h2 class="nhsuk-panel-with-label__label">System details: 2 of 3
  <span style= color:white; </span></h3>
          
<dl class="nhsuk-summary-list nhsuk-u-padding-top-0 nhsuk-summary-list--no-border">
  
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Match
    </dt>
    <dd class="nhsuk-summary-list__value">
      91%
    </dd>

  </div>
 <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Name
    </dt>
    <dd class="nhsuk-summary-list__value">
      Zoe <span class="highlight"> Smith </span> 
    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="nhsuk-summary-list__value">
      31-08-1971
    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Contact information
    </dt>
    <dd class="nhsuk-summary-list__value">
            89 <span class="highlight">Cookridge</span> Street <br>Manchester<br> MC4 8JR

    </dd>
</div>
     <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      NHS number
    </dt>
    <dd class="nhsuk-summary-list__value">
      <span class="highlight"> 345 678 9012 </span>
    </dd>


  </div>

  </div>
<a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary nhsuk-u-margin-bottom-4" href="B">Next result</a>
</dl>
</div>
</div>
</div>



{{ radios({
  "idPrefix": "example",
  "name": "example",
  "classes": "nhsuk-radios- -u-paddingnhsuk-top-3",
  "fieldset": {
    "legend": {
      "text": "How do you want to resolve this mismatch?",
      "classes": "nhsuk-fieldset__legend nhsuk-label__strong nhsuk-u-padding-top-3",
      "isPageHeading": true
    }
  },
  "items": [
    {
      "value": "Lab",
      "text": "Use lab details"
    },
    {
      "value": "System",
      "text": "Use system details"
    }
  ]
}) }}


           <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-label__strong nhsuk-u-padding-top-3" for="example">
                  Comments
                </label>
                <span class="nhsuk-hint" "highlight" "nhsuk-u-padding-top-3" id="example-hint" for="one-half">
                  Enter a reason for choosing this option
                </span>
                <textarea class="nhsuk-textarea nhsuk-u-width-one-half" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
                 <span class="nhsuk-hint" "highlight" "nhsuk-u-padding-top-3" id="example-hint" for="one-half">
                  You have 200 characters remaining 
                </span>
              </div>


    <a href="worklists-result-1B-right-aligned" class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-top-3">Save and get next</a>













  {% endblock %}