{% extends "layout-v2.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
{% endblock %}
{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
  {% include '../components/header.html' %}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
      "href": "manc",
      "text": "Go back to Manchester results"
    }) }}

  <h1 class="nhsuk-heading-l nhsuk-u-padding-top-2">Resolve this manual match</h1>

{{ hint({
   classes: 'nhsuk-hint',
  text: "Manchester - Manual match 4 of 4"
}) }}
</div>
</div>

<br>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-panel-with-label">
      <h3 class="nhsuk-panel-with-label__label">Lab details</h3>

<dl class="nhsuk-summary-list nhsuk-u-padding-top-3 nhsuk-summary-list--no-border">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Name
    </dt>
    <dd class="nhsuk-summary-list__value">
      Charlotte Gravill
    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="nhsuk-summary-list__value">
      11-04-1990
    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Contact information
    </dt>
    <dd class="nhsuk-summary-list__value">
      1 Westfield Place<br>Great Shelford<br> CB22 5JJ
    </dd>
</div>
     <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      NHS number
    </dt>
    <dd class="nhsuk-summary-list__value">

    </dd>

  </div>

  </div>

</dl>
</div>

    <div class="nhsuk-grid-column-one-half">
         <div class="nhsuk-panel-with-label">
      <h3 class="nhsuk-panel-with-label__label">System details</h3>

<dl class="nhsuk-summary-list nhsuk-u-padding-top-3 nhsuk-summary-list--no-border">



  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Name
    </dt>
    <dd class="nhsuk-summary-list__value">
      Charlotte <span class="highlight">J</span> Gravill
    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="nhsuk-summary-list__value">
      11-04-1990
    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Contact information
    </dt>
    <dd class="nhsuk-summary-list__value">
      1 Westfield Place<br>Great Shel<span class="highlight">l</span>ford<br> CB22 5JJ
    </dd>
</div>
     <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      NHS number
    </dt>
    <dd class="nhsuk-summary-list__value">
      <span class="highlight"> 234 567 8901 </span>
    </dd>

  </div>
   <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Match
    </dt>
    <dd class="nhsuk-summary-list__value">
      93%
    </dd>

  </div>

  </div>

</dl>


</div>
</div>
<div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading nhsuk-label nhsuk-label__strong">
        How do you want to resolve this match?
      </h1>
    </legend>



      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="lab" name="how-to-resolve" type="radio" value="lab" aria-controls="lab" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="lab">
          Use lab details
        </label>
      </div>

  <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="system" name="how-to-resolve"  type="radio" value="system" aria-controls="system" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="system">
          Use system details
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="gp" name="how-to-resolve" type="radio" value="gp" aria-controls="gp" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="gp">
          Send to GP
        </label>
      </div>

        <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="send-back" name="how-to-resolve" type="radio" value="send-back" aria-controls="send-back" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="send-back">
          Send back to labs
        </label>
      </div>


    </div>
  </fieldset>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full"
           <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-label__strong nhsuk-u-padding-top-3" for="example">
                  Comments
                </label>
                <span class="nhsuk-hint" "highlight" "nhsuk-u-padding-top-3" id="example-hint" for="one-half">
                  Enter a reason for choosing this option
                </span>
                <textarea class="nhsuk-textarea nhsuk-u-width-one-half" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
                 <span class="nhsuk-hint" "highlight" "nhsuk-u-padding-top-3" id="example-hint" for="one-half">
                  You have 200 characters remaining
                </span>
              </div>

    </div>
    <a href="manc-confirmation" class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-top-3">Save and continue</a>

</div>



</div>

</div>















  {% endblock %}
