{% extends "layout-v2.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
{% endblock %}
{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
  {% include '../components/header.html' %}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
      "href": "manc",
      "text": "Go back to Manchester results"
    }) }}

  <h1 class="nhsuk-heading-l nhsuk-u-padding-top-2">Confirm manual matching</h1>


        <span class="nhsuk-hint nhsuk-margin-bottom-4">
          Please review the manual matches for this batch of results and send to quality control.
        </span>

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
        <dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key padding-right-8">
      Transfer number
    </dt>
    <dd class="nhsuk-summary-list__value">
      03368
    </dd>

    <dd class="nhsuk-summary-list__actions">
    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      System details used
    </dt>
    <dd class="nhsuk-summary-list__value">
    2
    </dd>
    

    <dd class="nhsuk-summary-list__actions">

      <a href="view-system">
        View<span class="nhsuk-u-visually-hidden"> date of birth</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
    Lab details used
    </dt>
    <dd class="nhsuk-summary-list__value">
      1
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="view-lab">
        View<span class="nhsuk-u-visually-hidden"> contact information</span>
      </a>

    </dd>

  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
    Sent to GP
    </dt>
    <dd class="nhsuk-summary-list__value">
      1
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="view-return-to-GP">
        View<span class="nhsuk-u-visually-hidden"> contact information</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
    Sent back to labs
    </dt>
    <dd class="nhsuk-summary-list__value">
      0
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="view-return-to-lab">
        View<span class="nhsuk-u-visually-hidden"> contact information</span>
      </a>

    </dd>

  </div>
  </div>
  
</div>
</div>

</div>
<a href="manc-table-new" class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-top-3">Send to quality control</a>

















  {% endblock %}
