<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
  {{ hero({
    "heading": "Screening service",
    "text": "Cervical / Breast / ..."
  }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-top-4">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-top-4">

      <h1>Errors</h1>
      <h2>Login</h2>
      <ul>
      <li><p><a href="errors/login/service-not-available">Page not found</a></p></li>
      </ul>
      

      <h2>Search</h2>
 <br>

      <h3>Date of birth errors</h3>
      <ul>
      <li> <p><a href="errors/patient/search/1-no-dob">Missing field</a></p></li>
      <li><p><a href="errors/patient/search/4-dob-fields-in-wrong-format">Incorrect format</a></p></li>
      <li><p><a href="errors/patient/search/9-chars-and-illegal-chars-in-dob-field">Invalid field</a></p></li>
      <li><p><a href="errors/patient/search/10-dob-in-future">DOB in future</a></p></li>
      <li><p><a href="errors/patient/search/11-dob-does-not-exist">Invalid calendar date</a></p></li>
      <li><p><a href="errors/patient/search/12-dob-before-1900">DOB predates 1900</a></p>
</li>
</ul>
      
<br>
      <h3>Name errors</h3>
      <ul>
       <li> <p><a href="errors/patient/search/2-no-last-name">Missing field</a></p> </li>
       <li> <p><a href="errors/patient/search/7-illegal-chars-in-first-name">Invalid field first name</a></p> </li>
       <li> <p><a href="errors/patient/search/7-illegal-chars-in-last-name">Invalid field last name</a></p> </li>
       <li><p><a href="errors/patient/search/14-too-many-chars">Too many characters</a></p></li>
       </ul>

<br>

      <h3>Postcode errors</h3>
      <ul>
      <li><p><a href="errors/patient/search/5-postcode-wrong-format">Incorrect format</a></p></li>
      <li><p><a href="errors/patient/search/6-postcode-does-not-exist">Invalid field (no api)</a></p></li>
      <li> <p><a href="errors/patient/search/8-illegal-chars-in-postcode">Invalid field (illegal characters)</a></p></li>
 
       <li><p><a href="errors/patient/search/14-too-many-chars">Too many characters</a></p></li>
</ul>
<br>

      <h3>Multiple errors on a page</h3>
      <ul>
<li><p><a href="errors/patient/search/3-no-dob-and-last-name">Missing mandatory fields</a></p></li>

             </ul>
    </div>
  </div>
{% endblock %}
