<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
  {{ hero({
    "heading": "Screening service",
    "text": "Cervical / Breast / ..."
  }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-top-4">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-top-4">

      <h1>Errors</h1>
      <h2>Login</h2>
      <p><a href="errors/login/service-not-available">page not found</a></p>

      <h2>Search</h2>
            <p><a href="errors/patient/search/search">User doesn't enter date of birth</a></p>
            <p><a href="errors/patient/search/search-demographic">user doesn't enter last name</a></p>
            <p><a href="errors/patient/search/search-demographic">user doesn't enter date of birth and last name</a></p>
            <p><a href="errors/patient/search/search-demographic">If date of birth fields are in the wrong format e.g. 1 2 95</a></p>
            <p><a href="errors/patient/search/search">If postcode is in incorrect format (yet we will allow partial postcodes)</a></p>
            <p><a href="errors/patient/search/search-demographic">postcode doesn't exist (post office api?)</a></p>
            <p><a href="errors/patient/search/search-demographic">numbers and illegal chars entered in the name field, postcode or first name</a></p>
            <p><a href="errors/patient/search/search-demographic">Illegal chars entered in the postcode field</a></p>
            <p><a href="errors/patient/search/search">Chars and illegal chars entered into date of birth fields</a></p>
            <p><a href="errors/patient/search/search-demographic">Date of birth in the future</a></p>
            <p><a href="errors/patient/search/search-demographic">Date doesn't exist - eg 30 02 2020</a></p>
            <p><a href="errors/patient/search/search-demographic">DOB in past greater than 1900</a></p>
            <p><a href="errors/patient/search/search-demographic">User do not enter mandatory field - first name or DOB. Let user only allow search when mandatory fields are filled</a></p>
            <p><a href="errors/patient/search/search-demographic">User enters more than 'x' alpha characters in first and last names field </a></p>
    </div>
  </div>
{% endblock %}
