{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(5) {
    border-bottom: 4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    {{ backLink({
      "href": "choose-a-letter-type",
      "text": "Back to choosing a letter type"
    }) }}

    <h1 class="nhsuk-heading-l">Choose an action for District {{ data['gp-code'] or 'A123456' }} {{ data['letter-type'] or 'Result' }} letter text</h1>

    {{ details({
          "text": "View district default " + (data['letter-type'] or 'Result') + " letter text",
          "HTML": "
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          "
        }) }}

        {{ details({
          "text": "View existing district " + (data['letter-type'] or 'Result') + " letter text",
          "HTML": "
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p><a href=''>Use district default letter text</a></p>
          "
        }) }}

    <form action="amend-letter-text-district-1" method="POST">

    <fieldset class="nhsuk-fieldset">

  <div class="nhsuk-form-group">
    <div class="nhsuk-radios">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints-1" name="letter-action" type="radio" value="Default">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
          Use the default district
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints-2" name="letter-action" type="radio" value="Amend">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
          Amend the existing letter text
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints-3" name="letter-action" type="radio" value="Enter">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
          Create the letter text from scratch
        </label>
      </div>
    </div>
  </div>

    </fieldset>

    {{ button({
        "text": "Continue",
        "classes": "nhsuk-button--ers"
    }) }}
    <p><a href="">Exit without saving</a></p>
    </form>
  </div>
</div>
{% endblock %}
