

{% extends 'layout-beta-banner.html' %}

{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}
<div id="nhsuk-beta-banner">
  <div class="nhsuk-beta-banner nhsuk-u-padding-top-4" id="betabanner">
    <div class="nhsuk-width-container">
        <h2 class="nhsuk-heading-s"><span class="nhsuk-tag nhsuk-tag--blue">BETA</span> This is a new service but is not yet live</h2>
        <p>No information entered on this test  system will be saved against a patient's record.</p>
        <p>If you need to save informatin against  a patient's record, use the live system instead.</p>
          <button class="nhsuk-button nhsuk-button--ers" id="" href="#" tabindex="2">OK, I understand</button>
    </div>
  </div>
</div>


{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-top-4">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-4">
      <h1>Enter your smartcard</h1>


    </div>
  </div>
{% endblock %}
