{% extends "layout-v2.html" %}

{% block pageScripts %}
<script>
  $(".char-textarea").on("keyup", function(event) {
    checkTextAreaMaxLength(this, event);
  });

  function checkTextAreaMaxLength(textBox, e) {

    var maxLength = parseInt($(textBox).data("length"));


    if (!checkSpecialKeys(e)) {
      if (textBox.value.length > maxLength - 1) textBox.value = textBox.value.substring(0, maxLength);
    }
    $(".char-count").html(maxLength - textBox.value.length);

    return true;
  }

  function checkSpecialKeys(e) {
    if (e.keyCode != 8 && e.keyCode != 46 && e.keyCode != 37 && e.keyCode != 38 && e.keyCode != 39 && e.keyCode != 40)
      return false;
    else
      return true;
  }
</script>

{% endblock %}

{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
      "href": "manc-rejected",
      "text": "Go back to rejected results"
    }) }}

  </div>
</div>

 <h1 class="nhsuk-heading-l nhsuk-u-padding-top-2">Review test result </h1>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <ul class="nhsuk-inset-text nhsuk-comment-container nhsuk-inset-text__screening nhsuk-inset-text__screening--success">
      <li class="nhsuk-panel"> <strong>This test result has a duplicate slide number.</strong>
      <p><br> All letters and notifications will be paused for this patient until the result is resolved.<br>Time recieved: 08 August 2021, 09:30am </span></li>
    </ul>
 </div>
</div>

 

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
 <div class="nhsuk-panel-with-label">
    
      {% include '../components/patient-result-2.html' %} 
     

      <dl class="nhsuk-summary-list nhsuk-u-padding-top-3 ">
        
        <div class="nhsuk-form-group">
          <dl class="nhsuk-summary-list">
<div class="nhsuk-grid-column-full">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            Duplicate test result details
          </legend>

<div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">National code</dt>
    <dd class="nhsuk-summary-list__value">{{ data['national-code'] or "CHR3" }}</dd>
  </div>
    
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Health Authority</dt>
    <dd class="nhsuk-summary-list__value">{{ data['health-authority'] or "-" }}</dd>
  </div>
  
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Self-sample</dt>
    <dd class="nhsuk-summary-list__value">{{ data['self-sample'] or "No" }}</dd>
  </div>
  
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Source code</dt>
    <dd class="nhsuk-summary-list__value">{{ data['source-code'] or "G" }}</dd>
  </div>
  
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Sender code</dt>
    <dd class="nhsuk-summary-list__value">{{ data['sender-code'] or "A86020" }} </dd>
  </div>


  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Slide number</dt>
    <dd class="nhsuk-summary-list__value">{{ data['slide-number'] or "21010009" }}</dd>
  </div>

  {% set nextTestDueDate = data['test_date'] %}
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Test date</dt>
    <dd class="nhsuk-summary-list__value">{{ nextTestDueDate | returnDateFormat }}</dd>
  </div>

 <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">HPV Primary</dt>
    <dd class="nhsuk-summary-list__value">{{ data['hpv-primary'] or "Yes" }} </dd>
  </div>

<div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Result</dt>
    <dd class="nhsuk-summary-list__value">X0R</dd>
  </div>

  
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Repeat in months</dt>
    <dd class="nhsuk-summary-list__value">{{ data['repeat-months'] or "12" }} months</dd>
  </div>

    

    </dl>
     {% include '../components/comments-timeline-manual-match.html' %} 
  
  
</dl>
</div>
</div>
      
   
 
<div class="nhsuk-grid-column-one-half">
 <div class="nhsuk-panel-with-label">
    
      {% include '../components/patient-result-2.html' %} 
     

      <dl class="nhsuk-summary-list nhsuk-u-padding-top-3 ">
        
        <div class="nhsuk-form-group">
          <dl class="nhsuk-summary-list">
<div class="nhsuk-grid-column-full">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            Original test result details
          </legend>

<div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">National code</dt>
    <dd class="nhsuk-summary-list__value">{{ data['national-code'] or "CHR3" }}</dd>
  </div>
    
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Health Authority</dt>
    <dd class="nhsuk-summary-list__value">{{ data['health-authority'] or "-" }}</dd>
  </div>
  
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Self-sample</dt>
    <dd class="nhsuk-summary-list__value">{{ data['self-sample'] or "No" }}</dd>
  </div>
  
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Source code</dt>
    <dd class="nhsuk-summary-list__value">{{ data['source-code'] or "G" }}</dd>
  </div>
  
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Sender code</dt>
    <dd class="nhsuk-summary-list__value">{{ data['sender-code'] or "A86020" }} </dd>
  </div>


  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Slide number</dt>
    <dd class="nhsuk-summary-list__value">{{ data['slide-number'] or "21010009" }}</dd>
  </div>

  {% set nextTestDueDate = data['test_date'] %}
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Test date</dt>
    <dd class="nhsuk-summary-list__value">{{ nextTestDueDate | returnDateFormat }}</dd>
  </div>

 <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">HPV Primary</dt>
    <dd class="nhsuk-summary-list__value">{{ data['hpv-primary'] or "Yes" }} </dd>
  </div>

<div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Result</dt>
<dd class="nhsuk-summary-list__value">X0A</dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Repeat in months</dt>
    <dd class="nhsuk-summary-list__value">{{ data['repeat-months'] or "36" }} months</dd>
  </div>

    
    </dl>
     {% include '../components/comments-timeline-manual-match.html' %} 
  
  
   

       
    
</dl>
      
  </div>
  </div>  
    </div>  
     <form action="confirm-delete-dup" method="post"> <input type="hidden" name="hideDetails" value="true">
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
        <legend class="nhsuk-fieldset__legend--m nhsuk-label__strong">
          <h1 class="nhsuk-fieldset__heading">Are you sure you want to remove this test result?</h1>
        </legend>

<div class="nhsuk-checkboxes">
            <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="confirmIdentity" name="confirmIdentity" type="checkbox" value="confirmIdentity">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="confirmIdentity">
              Yes, I want to remove the duplicate test result
            </label>
            <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-2-item-hint">
             This will remove the test result from the rejected list and archive it
            </div>
          </div>
        
            
            <div class="nhsuk-form-group">
              <h1 class="nhsuk-label-wrapper">
                <label class="nhsuk-fieldset__legend--s nhsuk-label__strong" for="example-heading">
                  Enter CRM case number
                </label>
              </h1>
              <span class="nhsuk-hint" id="example-hint">
                For example, CAS-12345-ABCDE.
              </span>
              <input class="nhsuk-input nhsuk-input--width-10" type="text" name="crm" autocomplete="off" value="{{ data.crm }}">
            </div>
            <div class="nhsuk-form-group">
             
            <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
              <label class="nhsuk-label" for="example">
                Comments 
              </label>
                  <span class="nhsuk-hint" id="example-hint"> Add a comment explaining this action taken.</span>
               
              <textarea class="nhsuk-textarea" id="example" name="comments" rows="4" aria-describedby="example-hint" autocomplete="off">{{ data.comments }}</textarea>
            </div>
          </div>
        </div>
   <br>
    <button class="nhsuk-button nhsuk-button--ers" type="submit">Confirm</button>   
  </form>

    
    <p><a href="manc-rejected">Exit without saving</a></p>

  </div>



</div>
</div>

{% endblock %}

{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}
