{% if data.role == 'sampleTaker' %}

{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url"  : "/v6/patient/search/search",
        "label" : "Patient"
      },
      {
        'url' : '/v6/worklists/worklists',
        'label' : 'Worklists'
      }
    ]
  })
}}
{% else %}
{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url"  : "/v6/patient/search/search",
        "label" : "Patient"
      },
      {
        'url' : '/v6/worklists/worklists',
        'label' : 'Worklists'
      },
      {
        'url'  : '',
        'label' : 'Reports'
      }
    ]
  })
}}

{% endif %} 
