<div class="nhsuk-heading-menu__actions">
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Print HMR101
          <svg class="nhsuk-icon nhsuk-icon__arrow-down nhsuk-icon--ers" viewBox="0 0 150 150" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
          <g id="Arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon id="Rectangle" fill="#f1f1f1" fill-rule="nonzero" transform="translate(75.000000, 75.000000) rotate(45.000000) translate(-75.000000, -75.000000) " points="75 75 97 53 97 97 53 97"></polygon>
          </g>
          </svg>
        </button>
        <div id="myDropdown" class="dropdown-content" style="left: 0">
          <a href="../patient/hmr101/print">A4 PDF (2009)</a>
          <a href="#">A5 PDF (2003)</a>
          <a href="#">A4 PDF (2003)</a>
          <a href="#">A5 PDF</a>
        </div>
    </div>
</div>