{% extends "layout-v2-patient.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
  <script type="text/javascript" src="/js/action-menu.js"></script>
  <script type="text/javascript" src="/js/sort.js"></script>
{% endblock %}
{% block pageTitle %}
  NHS Cervical Screening
{% endblock %}

{% block header %}
{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "false",
    "showSearch": "true"
  })
}}
{% endblock %}

{% block patientBanner %}
  {% include 'v5/components/patient-banner.html' %}
{% endblock %}


{% block content %}
  {% if data.role != 'sampleTaker' %}
  <nav class="nhsuk-sub-navigation">
    <ul class="nhsuk-sub-navigation__list">
      <li class="nhsuk-sub-navigation__item"><a href="patient-summary" class="nhsuk-sub-navigation__link" aria-current="page">Patient Summary</a></li>
      <li class="nhsuk-sub-navigation__item"><a href="history" class="nhsuk-sub-navigation__link">History</a></li>
      <li class="nhsuk-sub-navigation__item"><a href="gp-info" class="nhsuk-sub-navigation__link">GP Information</a></li>
      {% if data.role == 'csas' %}
        <li class="nhsuk-sub-navigation__item"><a href="additional-info" class="nhsuk-sub-navigation__link">Additional Information</a></li>
      {% endif %}
      <!--<li class="nhsuk-sub-navigation__item" style="float: right; font-size: 14px">role: {{ data.role }}</li>-->
    </ul>
  </nav>
{% endif %}

<div class="nhsuk-grid-row nhsuk-u-margin-top-4">
  <div class="nhsuk-grid-column-full">
                      
    {{ backLink({
    "href": "../patient-summary",
    "text": "Go back to patient summary"
  }) }}

  <h1 id="" class="nhsuk-heading-l">HMR101 <span style="font-size: 20px; margin-left:32px"> <a href="#">Print this page</a></span></h1> 
                                
  <div id="boxshadow">
    <img src="/images/hmr101.png" alt="Patient booking instructions">
  </div>
</div>

{% endblock %}
