

{% extends 'layout.html' %}


{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}




{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-top-4">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-4">
<h2>Enter your 6 digit smartcard passcode

</h2>
<div class="nhsuk-form-group">
    <input class="nhsuk-input" id="example" name="example" type="text">
  
  </div>
  <a class="nhsuk-button" href="/login/select-role-gp" type="submit">
    Continue
  </a>
    </div>
  </div>
{% endblock %}