{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/reveal.js"></script>
<script type="text/javascript" src="/js/comments.js"></script>

{% endblock %}
{% block pageTitle %}
NHS Cervical Screening
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">

    {{ backLink({
      "href": "review-dummy",
      "text": "Go back to patient details"
    }) }}

    <div class="nhsuk-inset-text nhsuk-inset-text__screening nhsuk-inset-text__screening--success nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-8">
           <h3 class="nhsuk-heading-s">Dummy patient successfully created</h3>
        </div>


        <div class="nhsuk-panel-with-label">
          <h3 class="nhsuk-panel-with-label__label">Patient details</h3>

          <dl class="nhsuk-summary-list nhsuk-u-padding-top-3 nhsuk-summary-list--no-border">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Name
              </dt>
              <dd class="nhsuk-summary-list__value">
                Lisa Jones
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="nhsuk-summary-list__value">
                02-07-1979
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                NHS number
              </dt>
              <dd class="nhsuk-summary-list__value">
                345 678 9012
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Contact information
              </dt>
              <dd class="nhsuk-summary-list__value">
                46 Stirling Way
                <br>
                Sutton
                <br>
                CB6 2QZ
              </dd>
            </div>
          </dl>
        </div>

        <h3>What happens next</h3>
        <p>Block of text explaning what happens next.</p>

        <a href="non-match-p2" class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-top-4 nhsuk-u-margin-right-6">Save and next</a>
        <p><a href="non-match-p1-dummy">Exit without saving</a></p>


</div>








{% endblock %}
