{% extends "layout-v2.html" %}

{% block pageScripts %}

<script src="/js/results-filter.js">
</script>

<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(3) {
    border-bottom: 4px solid #d8dde0;
  }
</style>

{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}

{% block content %}

{{ backLink({
  "href": "worklists",
  "text": "Go back to results"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-l nhsuk-u-margin-top-2">Manchester </h1>
  </div>
</div>



<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <nav class="nhsuk-sub-navigation">
      <ul class="nhsuk-sub-navigation__list">
        <li class="nhsuk-sub-navigation__item"><a href="manc-process" class="nhsuk-sub-navigation__link" aria-current="page">To process <span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-2">10</span></a></li>
        <li class="nhsuk-sub-navigation__item"><a href="manc-query" class="nhsuk-sub-navigation__link">To query<span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-2">3</span></a></li>
        <li class="nhsuk-sub-navigation__item"><a href="manc-check" class="nhsuk-sub-navigation__link">To check <span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-2">11</span></a></li>
        <li class="nhsuk-sub-navigation__item"><a href="manc-rejected" class="nhsuk-sub-navigation__link">Rejected<span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-2">5</span></a></li>
        <li class="nhsuk-sub-navigation__item"><a href="manc-logged" class="nhsuk-sub-navigation__link">Logged<span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-2">1</span></a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <table class="order-table">
      <thead>
        <tr>
          <th class="ten">Patient name
          </th>
          <th class="ten">NHS number
          </th>
          <th class="ten">Status
          </th>
          <th class="ten">Processor
          </th>
          <th class="ten">Time received
          </th>
          <th class="ten">
          </th>
          <th class="ten"></th>
        <tr>
      </thead>

      <tbody>
        <!-- TO PROCESS -->
        <tr>
          <td>Jane Smith</td>
          <td>234 567 8901</td>
          <td><span class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">Not started</span></td>
          <td></td>
          <td>10:00 am
            <span class="nhsuk-table__cell--hint">03-Feb-2020</span></td>
          <td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary nhsuk-u-margin-bottom-3" href="manc-p1">Start matching</a></td>
        </tr>
        <tr>
          <td>Maxine Hunter</td>
          <td>334 289 3021</td>
          <td><span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">with processor</span></td>
          <td> Jon Simpson</td>
          <td>10:49 am
            <span class="nhsuk-table__cell--hint">03-Feb-2020</span></td>
          <td class="nhsuk-u-margin-bottom-3"></td>
        </tr>
        <tr>
          <td>Samantha Rhodes</td>
          <td>345 678 9012</td>
          <td><span class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-2">checker rejected</span></td>
          <td> </td>
          <td>11:23 am
            <span class="nhsuk-table__cell--hint">03-Feb-2020</span></td>
          <td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary nhsuk-u-margin-bottom-3" href="checker-rejected">Review rejected</a></td>
        <tr>
          <td>Lisa Jones</td>
          <td>345 678 9012</td>
          <td><span class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">Not started</span></td>
          <td></td>
          <td>12:03 pm
          <span class="nhsuk-table__cell--hint">03-Feb-2020</span></td>
          <td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary nhsuk-u-margin-bottom-3" href="manc-p2">Start matching</a></td>
        </tr>
        <tr>
          <td>Jax Mannings</td>
          <td>209 481 3820</td>
          <td><span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">with processor</span></td>
          <td> Mike Ashfeild</td>
          <td>01:10 pm
            <span class="nhsuk-table__cell--hint">03-Feb-2020</span></td>
          <td class="nhsuk-u-margin-bottom-3"></td>
        </tr>
        <tr>
          <td>Claudia Beddis</td>
          <td>234 567 8901</td>
          <td><span class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">Not started</span></td>
          <td></td>
          <td>01:33 pm
            <span class="nhsuk-table__cell--hint">03-Feb-2020</span></td>
          <td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary nhsuk-u-margin-bottom-3" href="manc-p3">Start matching</a></td>
        </tr>
        <tr>
          <td>Terri Hills</td>
          <td>215 208 9855</td>
          <td><span class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-2">checker rejected</span></td>
          <td></td>
          <td>02:00 pm
            <span class="nhsuk-table__cell--hint">03-Feb-2020</span></td>
          <td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary nhsuk-u-margin-bottom-3" href=“#“>Review rejected</a></td>
        </tr>
        <tr>
          <td>Margaret Thimble</td>
          <td>325 380 5688</td>
          <td><span class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-2">checker rejected</span></td>
          <td></td>
          <td>02:09 pm
            <span class="nhsuk-table__cell--hint">03-Feb-2020</span></td>
          <td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary nhsuk-u-margin-bottom-3" href=“#“>Review rejected</a></td>
        </tr>
        <tr>
          <td>Charlotte Gravill</td>
          <td>?00 000 0000</td>
          <td><span class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">not started</span></td>
          <td></td>
          <td>03:20 pm
            <span class="nhsuk-table__cell--hint">03-Feb-2020</span></td>
          <td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary nhsuk-u-margin-bottom-3" href="manc-p4">Start matching</a></td>
        </tr>
        <tr>
          <td>Lynda Puck</td>
          <td>567 234 8901</td>
          <td><span class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-bottom-2">not started</span></td>
          <td></td>
          <td>04:40 pm
            <span class="nhsuk-table__cell--hint">03-Feb-2020</span></td>
          <td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary nhsuk-u-margin-bottom-3" href="manc-p5">Start matching</a></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
</div>
</div>
</div>

{% endblock %}
