{% extends "layout-v2.html" %}

{% block pageScripts %}
<script>
  $(".char-textarea").on("keyup",function(event){
  checkTextAreaMaxLength(this,event);
});

function checkTextAreaMaxLength(textBox, e) {

    var maxLength = parseInt($(textBox).data("length"));


    if (!checkSpecialKeys(e)) {
        if (textBox.value.length > maxLength - 1) textBox.value = textBox.value.substring(0, maxLength);
   }
  $(".char-count").html(maxLength - textBox.value.length);

    return true;
}

function checkSpecialKeys(e) {
    if (e.keyCode != 8 && e.keyCode != 46 && e.keyCode != 37 && e.keyCode != 38 && e.keyCode != 39 && e.keyCode != 40)
        return false;
    else
        return true;
}
</script>
{% endblock %}

{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
      "href": "rejected-p1",
      "text": "Go back to previous rejected result"
    }) }}

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    <div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
     <h1 class="nhsuk-heading-l"> Check test result before deleting</h1>
     

   
     <div class="nhsuk-panel-with-label">
      <class="nhsuk-panel-with-label__label">
      {% include '../components/patient-result-2.html' %} 
      
<br>
      <div class="nhsuk-form-group">
       

          <dl class="nhsuk-summary-list">

          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            Test result details
          </legend>
    

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">National code</dt>
    <dd class="nhsuk-summary-list__value">{{ data['national-code'] or "12345" }}</dd>
  </div>
    
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Health Authority</dt>
    <dd class="nhsuk-summary-list__value">{{ data['health-authority'] or "-" }}</dd>
  </div>
  
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Self-sample</dt>
    <dd class="nhsuk-summary-list__value">{{ data['self-sample'] or "No" }}</dd>
  </div>
  
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Source code</dt>
    <dd class="nhsuk-summary-list__value">{{ data['source-code'] or "G" }}</dd>
  </div>
  
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Sender code</dt>
    <dd class="nhsuk-summary-list__value">{{ data['sender-code'] or "A86020" }} </dd>
  </div>


  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Slide number</dt>
    <dd class="nhsuk-summary-list__value">{{ data['slide-number'] or "21010009" }}</dd>
  </div>

  {% set nextTestDueDate = data['test_date'] %}
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Test date</dt>
    <dd class="nhsuk-summary-list__value"> <span class="highlight">-</span></dd>
  </div>

 <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">HPV Primary</dt>
    <dd class="nhsuk-summary-list__value">{{ data['hpv-primary'] or "Yes" }} </dd>
  </div>

<div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Result</dt>
    <dd class="nhsuk-summary-list__value">{{ data['result-result'] }} {{ data['result-infection'] }} {{ data['result-action'] or "X0A"}}</dd>
  </div>

  
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Repeat in months</dt>
    <dd class="nhsuk-summary-list__value">{{ data['repeat-months'] or "36" }} months</dd>
  </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Next test due date</dt>
      <dd class="nhsuk-summary-list__value"><span class="highlight">-</span></dd>
    </div> 

      </dl>
      {% include '../components/comments-timeline-manual-match.html' %} 
    </div>
  

          




  <form action="confirm-delete" method="post"> <input type="hidden" name="hideDetails" value="true">
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
        <legend class="nhsuk-fieldset__legend--m nhsuk-label__strong">
          <h1 class="nhsuk-fieldset__heading">Are you sure you want to delete this test result?</h1>
        </legend>

<div class="nhsuk-checkboxes">
            <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="confirmIdentity" name="confirmIdentity" type="checkbox" value="confirmIdentity">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="confirmIdentity">
              Yes, I want to delete this test result
            </label>
            <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-2-item-hint">
             This will remove the result from the rejected results list and the system 
            </div>
          </div>
        
            
            <div class="nhsuk-form-group">
              <h1 class="nhsuk-label-wrapper">
                <label class="nhsuk-fieldset__legend--s nhsuk-label__strong" for="example-heading">
                  Enter CRM case number
                </label>
              </h1>
              <span class="nhsuk-hint" id="example-hint">
                For example, CAS-12345-ABCDE.
              </span>
              <input class="nhsuk-input nhsuk-input--width-10" type="text" name="crm" autocomplete="off" value="{{ data.crm }}">
            </div>
            <div class="nhsuk-form-group">
             
            <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-three-quarters">
              <label class="nhsuk-label" for="example">
                Comments 
              </label>
                  <span class="nhsuk-hint" id="example-hint"> Add a comment explaining this action taken.</span>
               
              <textarea class="nhsuk-textarea" id="example" name="comments" rows="4" aria-describedby="example-hint" autocomplete="off">{{ data.comments }}</textarea>
            </div>
          </div>
        </div>
   <br>
    <button class="nhsuk-button nhsuk-button--ers" type="submit">Confirm</button>   
  </form>

 <p><a href="manc-rejected">Exit without saving</a></p> 
  </div>

{% endblock %}



{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}
