{% extends "layout-v2.html" %}

{% block pageScripts %}
<script>
  $(".char-textarea").on("keyup", function(event) {
    checkTextAreaMaxLength(this, event);
  });

  function checkTextAreaMaxLength(textBox, e) {

    var maxLength = parseInt($(textBox).data("length"));


    if (!checkSpecialKeys(e)) {
      if (textBox.value.length > maxLength - 1) textBox.value = textBox.value.substring(0, maxLength);
    }
    $(".char-count").html(maxLength - textBox.value.length);

    return true;
  }

  function checkSpecialKeys(e) {
    if (e.keyCode != 8 && e.keyCode != 46 && e.keyCode != 37 && e.keyCode != 38 && e.keyCode != 39 && e.keyCode != 40)
      return false;
    else
      return true;
  }
</script>

{% endblock %}

{% block pageTitle %}
NHS Cervical Screening
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
      "href": "manc-rejected",
      "text": "Go back to rejected results"
    }) }}

  </div>
</div>

 <h1 class="nhsuk-heading-l nhsuk-u-padding-top-2">Review test result </h1>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <ul class="nhsuk-inset-text nhsuk-comment-container nhsuk-inset-text__screening nhsuk-inset-text__screening--success">
      <li class="nhsuk-panel"> <strong>This test result has a duplicate slide number.</strong> </span>
      <p> <br> <span class="date" style="color:	#4c6272">Time recieved: 20 May 2021, 09:30am </span></li>
    </ul>
 </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">

    <div class="nhsuk-panel-with-label">
     
    <br>
       <h2 class="nhsuk-heading-m">Result received 03 June 2021, 08:44am</h2>
      

      <dl class="nhsuk-summary-list nhsuk-u-padding-top-3 ">
        
           <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset nhsuk-u-margin-top-4" aria-describedby="example-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            Patient demographics
          </legend>

          <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">First name</dt>
              <dd class="nhsuk-summary-list__value">Jane</dd>
            </div>

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Last name</dt>
              <dd class="nhsuk-summary-list__value">Simmons</dd>
            </div>

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">NHS number</dt>
              <dd class="nhsuk-summary-list__value">987 654 7654</dd>
            </div>
         
          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Address</dt>
              <dd class="nhsuk-summary-list__value">11 Carage Road  
              <p> Kent <p> KS7 9PT</p></dd>
            </div>
          
          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Date of birth</dt>
              <dd class="nhsuk-summary-list__value">08-Jun-1993</dd>
            </div>

          <br>
          <br>
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            Test result details
          </legend>
         
        

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Slide number</dt>
              <dd class="nhsuk-summary-list__value"><span class="highlight">70406000</span></dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Test date</dt>
              <dd class="nhsuk-summary-list__value">26-Jan-2020</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Test result</dt>
              <dd class="nhsuk-summary-list__value">(39S) Low-grade, HPV positive, dyskaryosis</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">HPV Primary</dt>
              <dd class="nhsuk-summary-list__value">Yes</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Repeat</dt>
              <dd class="nhsuk-summary-list__value">12 months</dd>
            </div>
          </dl>

      
       {% include '../components/comments-timeline-mm-2.html' %} 
    
  </div>
  </div>


  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-panel-with-label">
      <br>
      


      <h2 class="nhsuk-heading-m"> Result received 02 June 2021, 09.30 am</h2>
                
     

      <dl class="nhsuk-summary-list nhsuk-u-padding-top-3">
          <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset nhsuk-u-margin-top-4" aria-describedby="example-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            Patient demographics
          </legend>

          <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">First name</dt>
              <dd class="nhsuk-summary-list__value">Jane</dd>
            </div>

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Last name</dt>
              <dd class="nhsuk-summary-list__value">Simmons</dd>
            </div>

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">NHS number</dt>
              <dd class="nhsuk-summary-list__value">987 654 7654</dd>
            </div>
         
          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Address</dt>
              <dd class="nhsuk-summary-list__value">11 Carage Road 
              <p>  Kent <p> KS7 9PT</p></span></dd>
            </div>
          
          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Date of birth</dt>
              <dd class="nhsuk-summary-list__value">08-Jun-1993</dd>
            </div>

          <br>
          <br>
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            Test result details
          </legend>
        

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Slide number</dt>
              <dd class="nhsuk-summary-list__value"><span class="highlight">70406000</span></dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Test date</dt>
              <dd class="nhsuk-summary-list__value">-</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Test result</dt>
              <dd class="nhsuk-summary-list__value">(39S) Low-grade, HPV positive, dyskaryosis</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">HPV Primary</dt>
              <dd class="nhsuk-summary-list__value">Yes</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Repeat</dt>
              <dd class="nhsuk-summary-list__value">12 months</dd>
            </div>
          </dl>
       {% include '../components/comments-timeline-manual-match.html' %} 
    </div>
  </div>
</div>

</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">



    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <!-- APPROVE -->
        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h2 class="nhsuk-fieldset__heading nhsuk-label nhsuk-label__strong nhsuk-u-margin-top-4">
                How do you want to action the result?
              </h2>
              <div class="nhsuk-hint" id="example-hints-1-item-hint">
                 The action taken will be shown in the audit history.
                </div>
            </legend>

            <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="current">
                <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                  Use result received 03 June 2021, 08:44am
                </label>
                <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                 This will delete the result recieved 02 June 2021, 09.30 am
                </div>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="current">
                <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                  Use result received 02 June 2021, 09.30 am
                </label>
                <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                 This will delete the result recieved 03 June 2021, 08.44 am
                </div>
              </div>  

            </div>
          </fieldset>

        </div>

        <form action="rejected-p1" method="post">
          <fieldset class="nhsuk-fieldset">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-label--s nhsuk-u-padding-top-6 nhsuk-u-margin-bottom-2" for="example-heading">
                Enter CRM case number (optional)
              </label>
              <span class="nhsuk-hint" id="example-hint">
                For example, CAS-12345-ABCDE
              </span>
              <input class="nhsuk-input nhsuk-input--width-10" type="text" name="crm" autocomplete="off" value="{{ data.crm }}">
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-label__strong nhsuk-u-padding-top-1" for="rejcomment1">
                Comments
              </label>
              <span class="nhsuk-hint nhsuk-u-padding-top-2" id="example-hint" for="one-half">
                 Add a comment explaining the action taken.
              </span>
              <textarea class="nhsuk-textarea commentBox char-textarea" id="rejcomment1" value="rejcomment1" name="rejcomment1" rows="5" data-length=200 required></textarea>
            </div>
          </fieldset>

          



      </div>
    </div>
    <a href="rejected-missing" class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-top-3 nhsuk-u-margin-right-6">Save and next</a>
    
    <p><a href="manc-rejected">Exit without saving</a></p>

  </div>



</div>
</div>

{% endblock %}

{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}
