{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/reveal.js"></script>
<script type="text/javascript" src="/js/comments.js"></script>

<script type="text/javascript">


</script>

{% endblock %}
{% block pageTitle %}
NHS Cervical Screening
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
      "href": "create-dummy",
      "text": "Go back to dummy patient information"
    }) }}

    <h1 class="nhsuk-heading-l nhsuk-u-padding-top-2">Review patient details</h1>

    <div class="nhsuk-panel-with-label">

      <div class="nhsuk-form-group nhsuk-u-padding-top-6">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
          <legend class="nhsuk-fieldset__legend">
            <h3 class="nhsuk-heading-s">Lab patient details to create dummy registration:</h3>
          </legend>

          <form action="confirm-dummy" method="post">

            <dl class="nhsuk-summary-list">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Name</dt>
                <dd class="nhsuk-summary-list__value">Charlotte Gravill</dd>
                <dd class="nhsuk-summary-list__actions"><a href="#">Change<span class="nhsuk-u-visually-hidden">Name</span></a></dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Date of birth</dt>
                <dd class="nhsuk-summary-list__value">11-04-1990</dd>
                <dd class="nhsuk-summary-list__actions"><a href="#">Change<span class="nhsuk-u-visually-hidden">Date of birth</span></a></dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">NHS Number</dt>
                <dd class="nhsuk-summary-list__value"></dd>
                <dd class="nhsuk-summary-list__actions"></dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Contact information</dt>
                <dd class="nhsuk-summary-list__value" id="address-info" name="address-info">

                  {% if (data['address-line-1'] != "" and data['address-line-1'] != null) %}
                  {{ data['address-line-1'] }} <br>
                  {% endif %}

                  {% if (data['address-line-2'] != "" and data['address-line-2'] != null) %}
                  {{ data['address-line-2'] }} <br>
                  {% endif %}

                  {% if (data['address-town'] != "" and data['address-town'] != null) %}
                  {{ data['address-town'] }} <br>
                  {% endif %}

                  {% if (data['address-county'] != "" and data['address-county'] != null) %}
                  {{ data['address-county'] }} <br>
                  {% endif %}

                  {% if (data['address-postcode'] != "" and data['address-postcode'] != null) %}
                  {{ data['address-postcode'] }} <br>
                  {% endif %}

                  {% if (data['address-line-1'] == "" or data['address-line-1'] == null) and (data['address-line-2'] == "" or data['address-line-2'] == null) and (data['address-town'] == "" or data['address-town'] == null) and (data['address-county'] == "" or data['address-county'] == null) and (data['address-postcode'] == "" or data['address-postcode'] == null) %}
                  1 Westfield Place<br>Great Shelford<br> CB22 5JJ
                  {% endif %} 


                </dd>
                <dd class="nhsuk-summary-list__actions"></dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Sender address</dt>
                <dd class="nhsuk-summary-list__value">RG12 1YQ</dd>
                <dd class="nhsuk-summary-list__actions"></dd>
              </div>

            </dl>

            <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h2 class="nhsuk-fieldset__heading nhsuk-label nhsuk-label__strong nhsuk-u-margin-top-4">
                  Choose where to send the result
                </h2>
              </legend>


              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="system" name="how-to-resolve" type="radio" value="system" aria-controls="system" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="system">
                  Send to lab address
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="gp" name="how-to-resolve" type="radio" value="gp" aria-controls="gp" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="gp">
                  Send to sender address
                </label>
                <div class="nhsuk-hint nhsuk-radios__hint">
                 Use sender address when no correspondence to home
                </div>
              </div>

              <div class="nhsuk-radios nhsuk-radios--conditional">
                <div class="nhsuk-radios nhsuk-radios--conditional">

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="contact-1" name="how-to-resolve" type="radio" value="address" aria-controls="conditional-contact-1" aria-expanded="false">
                    <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                      Enter a new address
                    </label>
                  </div>

                  <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">

                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="email">
                        Building and street
                      </label>
                      <input class="nhsuk-input nhsuk-u-width-one-thirds" id="email" name="email" type="text">
                      <label class="nhsuk-label" for="email">
                        Town or city
                      </label>
                      <input class="nhsuk-input nhsuk-u-width-one-thirds" id="email" name="email" type="text">
                      <label class="nhsuk-label" for="email">
                        County
                      </label>
                      <input class="nhsuk-input nhsuk-u-width-one-thirds" id="email" name="email" type="text">
                      <label class="nhsuk-label" for="email">
                        Postcode
                      </label>
                      <input class="nhsuk-input nhsuk-u-width-two-thirds nhsuk-u-margin-bottom-8" id="email" name="email" type="text">

                    </div>
                  </div>

                </div>
              </div>
            </fieldset>

          </div>

            <button class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-top-6" type="submit">Submit</button>

            <p><a href="non-match-dummy">Exit without saving</a></p>

          </form>
      </div>
    </div>

  </div>
</div>








{% endblock %}
