{% extends 'layout-v2.html' %}

{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l">Before you continue</h1>
    <h2 class="nhsuk-heading-m">Agree to our terms of use</h1>



    <p>You should only access the records of individuals who you have a care relationship with.</p>
    <p> If you choose to look at other records, you are acting unprofessionally and could be held accountable. All activity in the cervical screening system is audited. </p>

     <p>You must log out manually when leaving the system unattended.</p>
     <p> It is your responsibilty to ensure the system is secure at all times. You must log out as well as removing your smartcard to protect patient data. </p>

  
    </div>
   </div>
    <a class="nhsuk-button nhsuk-button--ers" href="security-code" type="submit">
        Continue
      </a>
</div>
    




{% endblock %}
