{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(4) {
    border-bottom: 4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-l">Reports</h1>
    <p>Information about the external reports and how they work and how you get access to them</p>
    {{ actionLink({
      "text": "View Tableau reports",
      "href": "https://www.nhs.uk/service-search/minor-injuries-unit/locationsearch/551"
    }) }}

    <h2>Invitations and results sent</h2>
    <!--<p><a href="/v12/reports/result-files-v2">Invitations Sent</a></p>-->
    <p>Information about the invitations and results send report</p>
    <table class="nhsuk-table">
      <caption class="nhsuk-table__caption">Invitations sent</caption>
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            Letter code
          </th>
          <th role="columnheader" class="" scope="col">
            Letter name
          </th>
          <th role="columnheader" class="" scope="col">
            No of people on the file sent to CIC
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">PA1</td>
          <td class="nhsuk-table__cell ">HPV Primary screening invitation</td>
          <td class="nhsuk-table__cell">1234</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">PA2</td>
          <td class="nhsuk-table__cell ">HPV Primary screening reminder</td>
          <td class="nhsuk-table__cell">2345</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">PA3</td>
          <td class="nhsuk-table__cell ">HPV Primary screening invitation (participants not registered with GP)</td>
          <td class="nhsuk-table__cell">3456</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">PA4</td>
          <td class="nhsuk-table__cell ">HPV Primary screening reminder (participants not registered with GP)</td>
          <td class="nhsuk-table__cell">4567</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">P0QR</td>
          <td class="nhsuk-table__cell ">Result of abnormal cells (non-cervical) with previous HPV</td>
          <td class="nhsuk-table__cell">21621</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">P1XR</td>
          <td class="nhsuk-table__cell ">Result of abnormal cells (non-cervical)</td>
          <td class="nhsuk-table__cell">3453</td>
        </tr>
      </tbody>
    </table>

    <h2>Lab files</h2>
    <!--<p><a href="/v12/reports/print-notifications/select-gp-practice">Lab files</a></p>-->
    <p>Information about the lab files report</p>
    <table class="nhsuk-table">
      <caption class="nhsuk-table__caption">Lab files receieved (yesterday and today)</caption>
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            Date and time
          </th>
          <th role="columnheader" class="" scope="col">
            Lab
          </th>
          <th role="columnheader" class="" scope="col">
            File
          </th>
          <th role="columnheader" class="" scope="col">
            Accept?
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">16-01-21 21:00:00</td>
          <td class="nhsuk-table__cell ">Manchester</td>
          <td class="nhsuk-table__cell ">123</td>
          <td class="nhsuk-table__cell ">Y</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">16-01-21 21:00:00</td>
          <td class="nhsuk-table__cell ">Derby</td>
          <td class="nhsuk-table__cell ">123</td>
          <td class="nhsuk-table__cell ">Y</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">16-01-21 21:00:00</td>
          <td class="nhsuk-table__cell ">Liverpool</td>
          <td class="nhsuk-table__cell ">123</td>
          <td class="nhsuk-table__cell ">Y</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">16-01-21 21:00:00</td>
          <td class="nhsuk-table__cell ">Birmingham</td>
          <td class="nhsuk-table__cell ">123</td>
          <td class="nhsuk-table__cell ">Y</td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
