{% extends "layout-v2.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
{% endblock %}
{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
  {% include '../components/header.html' %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    {% from 'radios/macro.njk' import radios %}
    <form action="example-2" method="post">
     {{ radios({
      "idPrefix": "age",
      "name": "age",
      "fieldset": {
        "legend": {
          "text": "Are you 18 or over?",
          "classes": "nhsuk-fieldset__legend--l",
          "isPageHeading": true
        }
      },
      "items": [
        {
          "value": "yes",
          "text": "Yes"
        },
        {
          "value": "no",
          "text": "No"
        }
      ]
      }) }}

     
  {{ input({
    "label": {
    "text": "What is your first name?"
     },
     "id": "first name",
    "name": "firstname"
  }) }}

     {{ button({
    "text": "Continue"
    }) }}
</form>

  </div>
</div>

{% endblock %}