
{% if data.role == 'sampleTaker' %}
{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "true",

    "primaryLinks": [
      {
        "url"  : "/v12/pds/search/search",
        "label" : "Patient",
        "aria-current" : "page"
      },
      {
        'url' : '/v12/worklists-v10/worklists',
        'label' : 'Results'
      }
    ]
  })
}}

{% elif data.role == 'admin' %}

{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url"  : "/v12/pds/search/search",
        "label" : "Patient"
      },
      {
        'url' : '/v12/get-prior-notifications-12',
        'label' : 'Notifications'
      }
    ]
  })
}}

{% else %}
{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "true",
    "showSearch": "false",
    "primaryLinks": [
      {
        "url"  : "/v12/pds/search/search",
        "label" : "Patient"
      },
      {
        'url' : '/v12/worklists-v11/worklists',
        'label' : 'Results'
      },
      {
        'url'  : '/v12/reports/reports',
        'label' : 'Reports'
      },
      {
        'url'  : '/v12/admin',
        'label' : 'Admin and print'
      }
    ]
  })
}}

{% endif %}
