{#
<h1 class="nhsuk-fieldset__legend--l">
  Enter CRM case number
</h1>
#}


  <form action="/v12/patient/change-due-date/enter-reinstate-5-review" method="post">
  

<div class="nhsuk-form-group">
  <h1 class="nhsuk-label-wrapper">
    <label class="nhsuk-label nhsuk-label--l nhsuk-u-margin-bottom-2" for="example-heading">
      Enter CRM case number
    </label>
  </h1>
  <span class="nhsuk-hint" id="example-hint">
    For example, CAS-12345-ABCDE
  </span>
  <input class="nhsuk-input nhsuk-input--width-10" type="text" name="crm" value="" autocomplete="off">
</div>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example">
    Comments (optional)
  </label>
  <span class="nhsuk-hint" id="example-hint">
    Do not include clinical information at  this point.
  </span>
  <textarea class="nhsuk-textarea" id="example" name="comments" rows="5" aria-describedby="example-hint" value="details" autocomplete="off"></textarea>
</div>

  <button class="nhsuk-button nhsuk-button--ers">Continue</button>
  <p><a href="/v12/patient/patient-summary-4">Exit without saving</a></p>
  </form>
