

<dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-2">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Slide number</dt>
    <dd class="nhsuk-summary-list__value">80329001</dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Sender national code</dt>
    <dd class="nhsuk-summary-list__value">238987</dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Test result</dt>
    <dd class="nhsuk-summary-list__value">Negative, No HPV data, Routine</dd>
  </div>
</dl>

<p class="nhsuk-u-margin-bottom-6"><a href="../worklists-v7/view-rejected-p2">View full test information</a></p>
