// NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// ==========================================================================
// FRONTEND STYLE ADJUSTMENTS
// ==========================================================================

// Body background white
.nhsuk-body-white {
  background-color: $color_nhsuk-white;
}

// Body background grey
.nhsuk-body-grey {
  background-color: $color_nhsuk-grey-5;
}

// Header adjustment
//
// Fix for service header with a short name
.nhsuk-header__link--service-short-name {
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  margin-bottom: 0;
}

.nhsuk-header__service-name {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
}

// Button
//
// Tweaked button spacing
.nhsuk-button {
  margin-top: nhsuk-spacing(2);

  @include mq($from: desktop) {
    padding: nhsuk-spacing(2) nhsuk-spacing(3);
  }
}

// Footer
//
// A modifier to have the footer links in 3 columns
@include mq($from: desktop) {
  .nhsuk-footer__list--three-columns{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: nhsuk-spacing(4);
    -moz-column-gap: nhsuk-spacing(4);
    column-gap: nhsuk-spacing(4);
  }
}

// ==========================================================================
// PROTOTYPE SPECIFIC STYLES
// ==========================================================================

// Overrides auto reload div background colour
#hc_extension_bkgnd {
  background-color: $color_nhsuk-grey-4 !important;
}

// <pre> and <code> tag styles
.app-pre {
  @include nhsuk-responsive-margin(4, "bottom");

  background: $color_nhsuk-white;
  border: 1px solid $nhsuk-border-color;
  overflow: auto;
  margin-top: 0;
  padding: nhsuk-spacing(3);
  position: relative;
}

li .app-code,
p .app-code {
  background: $color_nhsuk-white;
  border: 1px solid $nhsuk-border-color;
  padding: nhsuk-spacing(1) nhsuk-spacing(3);
  font-size: 0.8em;
}

.nhsuk-expander .app-pre,
.nhsuk-expander p .app-code,
.nhsuk-expander li .app-code {
  background: $color_nhsuk-grey-5;
  border: 1px solid $color_nhsuk-grey-4;
}

// Installation guide screenshots
.app-img-guide {
  width: 100%;
}
