{% extends "layout-clinical.html" %}

{% set mainClasses = '' %}
{% set containerClasses = 'nhsuk-width-container-fluid' %}
{% set bodyClasses = 'nhsuk-white-background' %}
{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>

  <script type="text/javascript" src="/js/mousetrap.min.js"></script>

    <script>
    document.addEventListener("DOMContentLoaded", function() {
      //console.log( "ready!" );
      //Mousetrap.bind('4', function() { highlight(2); });
      Mousetrap.bind('?', function() { alert("Help Section - Keyboard Commands"); });

patient-notes

      Mousetrap.bind('ctrl c y', function(e) {
        console.log('looking');

        window.location.href = "#cytology";
        document.getElementById("cytology").setAttribute("open", "open");
        document.getElementById("cytology").setAttribute("aria-expanded", "true")
        //return false;
      });

      Mousetrap.bind('ctrl e c', function(e) {
        window.location.href = "#colposcopy";
        document.getElementById("colposcopy").setAttribute("open", "open");
        document.getElementById("colposcopy").setAttribute("aria-expanded", "true")
        //return false;
      });
      
    });
   
        

    </script>
{% endblock %}
{% block pageTitle %}
  NHS Cervical Screening
{% endblock %}

{% block header %}
<header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container-fluid nhsuk-header__container">
    <div class="nhsuk-header__logo">
      <a class="nhsuk-header__link" href="/" aria-label="NHS homepage">
        <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
          <path fill="#fff" d="M0 0h40v16H0z"></path>
          <path fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
          <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
        </svg>
      </a>
    </div>
    <!-- END LOGO -->
    <!-- SERVICE NAME -->
    <div class="nhsuk-header__transactional-service-name">
          <a class="nhsuk-header__transactional-service-name--link" href="/">Cervical Screening</a>
        </div>

  </div>

</header>

{% endblock %}

{% block content %}
<nav class="nhsuk-grey-background patient-info" style="margin-bottom: 32px">
  <ul role="navigation">
    <li><span style=""><strong>NHS No: </strong> 123 456 7890</span></li>
    <li><strong>Patient: </strong> Smith, Jane (Mrs)</li>
    <li>30 years (4 June 1988)</li>
    <li><strong>Postcode: </strong> LS15 6FD</li>
  </ul>
  <div class="nhsuk-close">
    <a class="" href="search">Close
      <svg class="nhsuk-icon nhsuk-icon--ers nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
<path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
</svg></a>

  </div>
</nav>

   

<div class="nhsuk-width-container nhsuk-width-container-fluid">
          <main class=" " id="main-content" role="main">



<div class="nhsuk-grid-row nhsuk-u-margin-bottom-5 nhsuk-u-margin-top-4">





  <div class="nhsuk-filter-layout__content nhsuk-u-border-left nhsuk-u-padding-left-5 nhsuk-u-padding-right-5">





    <h1 class="nhsuk-heading-l">Screening Summary</h1>

    <!-- TIME LINE -->
    <!-- move this somewhere after -->
    <style>
      .nhsuk-panel--timeline::after {
        content: "";
        display: block;
        position: relative;
        height: 16px;
        width: 16px;
        border-radius: 8px;
        background-color: green;
        top: 95%;
        right: 50%
      }

      .vertical-line::after {
        content: "";
        width: 1px; /* Line width */
      background-color: black; /* Line color */
      height: 100%; /* Override in-line if you want specific height. */
      
      }
    </style>
    <!-- move this somewhere after -->
    <div class="nhsuk-grid-row nhsuk-panel-group" style="text-align: center; border-bottom: 2px dashed black">
      <div class="nhsuk-grid-column-one-quarter nhsuk-panel-group__item nhsuk-panel--timeline">
        <div class="nhsuk-panel">
          <h4 style="border: 2px solid blue" class="vertical-line">PNL
            <span style="position: relative">
            <svg style="position: absolute; top: -3px" class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" fill="none">
              <path stroke-width="4" stroke-linecap="round" stroke="#007f3b" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
            </svg>
            </span>
          </h4>
          <p>03 2020</p>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-quarter nhsuk-panel-group__item nhsuk-panel--timeline">
        <div class="nhsuk-panel">
          <h4 style="border: 2px solid blue">Invite
            <span style="position: relative">
              <svg style="position: absolute; top: -3px" class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" fill="none">
                <path stroke-width="4" stroke-linecap="round" stroke="#007f3b" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
              </svg>
            </span>
          </h4>
          <p>06 2020</p>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-quarter nhsuk-panel-group__item nhsuk-panel--timeline">
        <div class="nhsuk-panel">
          <h4 style="border: 2px solid blue">Notification</h4>
          <p>16 06 2020</p>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-quarter nhsuk-panel-group__item nhsuk-panel--timeline">
        <div class="nhsuk-panel">
          <h4 style="border: 2px solid blue">Test</h4>
          <p>01 08 2020</p>
        </div>
      </div>
    </div>

    
    

    <!-- TIME LINE -->

    <h2 id="test-results" class="nhsuk-heading-l">Next Recall Date: <span>01 08 2020</span></h1>

    
    <details id="cytology" class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Cytology Tests
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>cytology stuff here</p>
      </div>
    </details>

    <details id="colposcopy" class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Colposcopy Info
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Colposcopy info here</p>
      </div>
    </details>

    <details id="patient-notes" class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Patient Notes
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>patient notes here</p>
      </div>
    </details>

    <details id="audit" class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Audit
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>audit stuff here</p>
      </div>
    </details>

    
  </div>
</div>


          </main>
        </div>


{% endblock %}

{% block footer %}
<footer role="contentinfo">
 <div class="nhsuk-footer" id="nhsuk-footer">
   <div class="nhsuk-width-container nhsuk-width-container-fluid">

     <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
   </div>
 </div>
</footer>
{% endblock %}


