<nav style="border-bottom:4px solid #425563" class="nhsuk-breadcrumb patient-info" aria-label="PatientBanner">
  <div class="nhsuk-width-container patient-info-container">
    <ul role="navigation">
      <li class="patient-dropdown"><a style="color:white" href="#">{{ data.patientSummary.last_name | capitalize or 'Smith' }}, {{ data.patientSummary.first_name | capitalize or 'Jane' }} ({{  data.patientSummary.title | capitalize or 'Mrs'}})</a>
        <svg style="width:16px;height:16px;" class="nhsuk-icon__arrow-down" viewBox="0 0 150 150" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" wiid="C235">

                  <g id="Arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" wiid="C236">
                      <polygon id="Rectangle" fill="#ffffff" fill-rule="nonzero" transform="translate(75.000000, 75.000000) rotate(45.000000) translate(-75.000000, -75.000000) " points="75 75 97 53 97 97 53 97" wiid="C237"></polygon>
                  </g>
              </svg>
      <div id="patient-dropdown-container">
        <p class="nhsuk-body-s"><strong>Address: </strong> {{ data['address'] or '20 Thornhill Street, Pudsey, LS15 6FD' }}</p>
      </div></li>
      <li><strong>DOB: </strong> {{ data.patientSummary.date_of_birth | returnAge or '30' }} years ({{ data.patientSummary.date_of_birth  | returnDateFormat or '4 June 1988' }})</li>

      <li><span><strong>NHS No: </strong> {{ data.patientSummary.nhs_number | formatNHSNumber or '123 456 7890' }}</span></li>
    </ul>
  </div>
</nav>
