<form action="/v10/patient/patient-reinstated" method="post">

{% if data.reinstateType == 'manual' %}
  <h1 class="nhsuk-fieldset__legend--m">Are you sure you want to reinstate the patient?</h1>
{% else %}
  <h1 class="nhsuk-fieldset__legend--m">Reinstate the patient</h1>
{% endif %}

{% if data.reinstateType == 'default' %}
<p>The next test due date has been calculated to <strong>{{ data.pnl_patient.next_test_due_date | returnDateFormat + " " + data.pnl_patient.next_test_due_date | returnTimeDiff }}</strong></p>
<p>The recall status has been set to <strong>Called</strong></p>
<p>The patient has been added to the <strong>Patient due to be invited</strong> list</p>
{% endif %}

{% if data.reinstateType == 'reject' %}
<p>The reinstate was rejected <strong>due to age</strong></p>
{% endif %}

{% if data.reinstateType == 'manual' %}
<p>The patient was ceased due to no no cervix / radiotherapy</p>
{% endif %}

{% if data.reinstateType != 'manual' %}
{{ details({
  "text": "How has this been calculated",
  "HTML": "
    <ul>
        <li>The patient was ceased due to [reason]</li>
        <li>Patient has been tested before</li>
        <li>The last test was routine</li>
        <li>The patient was tested over 60</li>
    </ul>
  "
}) }}
{% endif %}

{% if data.reinstateType == 'manual' %}
{{ radios({
  "idPrefix": "example",
  "name": "example",
  "items": [
    {
      "value": "yes",
      "text": "Yes, reinstate the patient"
    },
    {
      "value": "no",
      "text": "No, I don't want to reinstate"
    }
  ]
}) }}
{% endif %}

{% if data.reinstateType == 'manual' or data.reinstateType == 'default' %}
<button class="nhsuk-button nhsuk-button--ers">Continue</button>
{% endif %}

{% if data.reinstateType == 'reject' %}
<button class="nhsuk-button nhsuk-button--ers">Back to patient summary</button>
{% endif %}

<p><a href="">Exit without saving</a></p>

</form>