<h1 class="nhsuk-fieldset__legend--m">Review patient screening participation</h1>
<p><strong>This patient has been ceased due to No cervix.</strong></p>
<p>Patient has <strong>recently registered</strong> with the GP practice but were <strong>ceased</strong> from the Screening Programme by their previous GP practice.</p>
<p>Please submit once the patient has been reviewed.</p>
<a href="/v10/prior-notification/prior-notification-submitted-{{ data.pnlversion or 11 }}" class="nhsuk-button nhsuk-button--ers">Submit</a>