{% if data.reinstateType == 'manual' %}
  <form action="/v10/patient/change-due-date/enter-reinstate-3-ntdd" method="post">
{% elif data.reinstateType == 'default' %}
  <form action="/v10/patient/change-due-date/enter-reinstate-3-crm" method="post">
{% else %}
  <form action="/v10/patient/change-due-date/enter-reinstate-3-crm" method="post">
{% endif %}


{% if data.reinstateType == 'manual' %}
  <h1 class="nhsuk-fieldset__legend--m">Are you sure you want to reinstate the patient?</h1>
{% else %}
  <h1 class="nhsuk-fieldset__legend--m">Reinstate the patient</h1>
{% endif %}
<!-- data['defer-length'] | returnDate('months', estimatedDateOfDelivery ) -->
{% if data.reinstateType == 'default' %}
<p>The next test due date has been calculated to <strong>{{ 7 | returnDate('weeks', ("today" | returnDate)) | returnDateFormat + " " + 7 | returnDate('weeks', ("today" | returnDate)) | returnTimeDiff }}</strong></p>
<p>The recall status has been set to <strong>Suspend</strong></p>
<p>The patient has been added to the <strong>Patient due to be invited</strong> list</p>
{% endif %}

{% if data.reinstateType == 'reject' %}
<p>The reinstate was rejected <strong>due to age</strong></p>
{% endif %}

{% if data.reinstateType == 'manual' %}
<p>The patient was ceased due to <strong>{{ data.pnl_patient.pnl_reason or 'No cervix' }}</strong></p>
{% endif %}

{% if data.reinstateType != 'manual' %}
{{ details({
  "text": "How has this been calculated",
  "HTML": "
    <ul>
        <li>The patient was ceased due to <strong>Patient informed choice</strong></li>
        <li>The patient was <strong>suspended</strong> after their last test</li>
    </ul>
  "
}) }}
{% endif %}

{% if data.reinstateType == 'manual' %}
{{ radios({
  "idPrefix": "example",
  "name": "example",
  "items": [
    {
      "value": "yes",
      "text": "Yes, reinstate the patient"
    },
    {
      "value": "no",
      "text": "No, I don't want to reinstate"
    }
  ]
}) }}
{% endif %}

{% if data.reinstateType == 'manual' or data.reinstateType == 'default' %}
<button class="nhsuk-button nhsuk-button--ers">Continue</button>
{% endif %}

{% if data.reinstateType == 'reject' %}
<button class="nhsuk-button nhsuk-button--ers">Back to patient summary</button>
{% endif %}

<p><a href="">Exit without saving</a></p>

</form>