{% extends 'layout-v2.html' %}

{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% block content %}

<form action="../patient/search/search" method="get">

                {% call fieldset({
                  legend: {
                    text: "Choose a role to login with",
                    classes: "nhsuk-fieldset__legend--l",
                    isPageHeading: true
                  }
                }) %}

                {{ radios({
                  "idPrefix": "role",
                  "name": "role",
                  "items": [
                    {
                      "value": "sampleTaker",
                      "text": "Sample taker"
                    },
                    {
                      "value": "admin",
                      "text": "Clerical admin"
                    },
                    
                    {
                      "value": "csas",
                      "text": "CSAS Screening Officer"
                    },
                    {
                      "value": "csas",
                      "text": "CSAS Screening Manager"
                    },
                    {
                      "value": "csas",
                      "text": "CSAS Quality Assurance"
                    }
                  ]
                }) }}

                {% endcall %}

                {{ button({
                  "text": "Continue"
                }) }}

              </form>

{% endblock %}
