{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(4) {
    border-bottom: 4px solid #d8dde0;
  }
</style>
{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-l">Reports</h1>
    <p>Information about the external reports and how they work and how you get access to them</p>
    
    {{ actionLink({
      "text": "View Tableau reports",
      "href": "https://www.nhs.uk/service-search/minor-injuries-unit/locationsearch/551"
    }) }}

    <h2>Letters sent report</h2>
    <p>Information about the letters sent report</p>
    <p>Total invites sent: 11602</p>
    <p>Total results sent: 25074</p>
    <p><a href="/v12/reports-b/report-invitations-sent">View letters sent</a></p>

    <h2>Lab files</h2>
    <p>Information about the lab files report</p>
    <p><a href="/v12/reports-b/report-lab-files">View lab files</a></p>
  </div>
</div>
{% endblock %}
