{% extends "layout-v2.html" %}

{% block pageScripts %}

<script src="/js/results-filter.js">
</script>

<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(3) {
    border-bottom: 4px solid #d8dde0;
  }
</style>

{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}

{% block content %}

{{ backLink({
  "href": "worklists",
  "text": "Go back to results"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-inset-text nhsuk-inset-text__screening nhsuk-inset-text__screening--success nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-8"</div>
           <h3 class="nhsuk-heading-s">5 results processed for checking</h3>
        </div>

    <h1 class="nhsuk-heading-l">Manchester </h1>
    <p> The following results show the manual matches between the lab and system patient details.
      <br>
      Compare the patient details provided by the labs against those held on the system.
    </p>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <nav class="nhsuk-sub-navigation">
      <ul class="nhsuk-sub-navigation__list">
        <li class="nhsuk-sub-navigation__item"><a href="manc-process" class="nhsuk-sub-navigation__link" aria-current="page">To process <span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-2">11</span></a></li>
        <li class="nhsuk-sub-navigation__item"><a href="manc-query" class="nhsuk-sub-navigation__link">To query<span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-2">2</span></a></li>
        <li class="nhsuk-sub-navigation__item"><a href="manc-check" class="nhsuk-sub-navigation__link">To check <span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-2">11</span></a></li>
        <li class="nhsuk-sub-navigation__item"><a href="manc-rejected" class="nhsuk-sub-navigation__link">Rejected<span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-2">3</span></a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <table class="order-table">
      <thead>
        <tr>
          <th class="ten">Patient name
          </th>
          <th class="ten">NHS number
          </th>
          <th class="ten">Status
          </th>
          <th class="ten">Processor
          </th>
          <th class="ten">Time received
          </th>
          <th class="ten">To action
          </th>
          <th class="ten"></th>
        <tr>
      </thead>

      <tbody>
        <tr>
          <td>Jane Smith</td>
          <td>234 567 8901</td>
          <td><span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">With processor</span></td>
          <td></td>
          <td>10.30am
            <span class="nhsuk-table__cell--hint">06-02-2020</span></td>
          <td class="nhsuk-u-margin-bottom-3"></td>
        </tr>
        <tr>
          <td>Maxine Hunter</td>
          <td>334 289 3021</td>
          <td><span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">with processor</span></td>
          <td> Jon Simpson</td>
          <td>11.29am
            <span class="nhsuk-table__cell--hint">06-02-2020</span></td>
          <td class="nhsuk-u-margin-bottom-3"></td>
        </tr>
        <tr>
          <td>Samantha Rhodes</td>
          <td>345 678 9012</td>
          <td><span class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-2">checker rejected</span></td>
          <td> </td>
          <td>11.49am
            <span class="nhsuk-table__cell--hint">06-02-2020</span></td>
          <td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary nhsuk-u-margin-bottom-3" href="checker-rejected">Start matching</a></td>
        <tr>
          <td>Lisa Jones</td>
          <td>345 678 9012</td>
          <td><span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">With processor</span></td>
          <td>Jon Simpson</td>
          <td>12.33pm
            <span class="nhsuk-table__cell--hint">06-02-2020</span></td>
          <td class="nhsuk-u-margin-bottom-3"></td>
        </tr>
        <tr>
          <td>Jax Mannings</td>
          <td>209 481 3820</td>
          <td><span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">with processor</span></td>
          <td> Mike Ashfeild</td>
          <td>1.40pm
            <span class="nhsuk-table__cell--hint">06-02-2020</span></td>
          <td class="nhsuk-u-margin-bottom-3"></td>
        </tr>
        <tr>
          <td>Claudia Beddis</td>
          <td>234 567 8901</td>
          <td><span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">With processor</span></td>
          <td>Jon Simpson</td>
          <td>2.03pm
            <span class="nhsuk-table__cell--hint">06-02-2020</span></td>
          <td class="nhsuk-u-margin-bottom-3"></td>
        </tr>
        <tr>
          <td>Terri Hills</td>
          <td>215 208 9855</td>
          <td><span class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-2">checker rejected</span></td>
          <td></td>
          <td>2.29pm
            <span class="nhsuk-table__cell--hint">06-02-2020</span></td>
          <td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary nhsuk-u-margin-bottom-3" href=“./“>Start matching</a></td>
        </tr>
        <tr>
          <td>Margaret Thimble</td>
          <td>325 380 5688</td>
          <td><span class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-2">checker rejected</span></td>
          <td></td>
          <td>3.03pm
            <span class="nhsuk-table__cell--hint">06-02-2020</span></td>
          <td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary nhsuk-u-margin-bottom-3" href=“./“>Start matching</a></td>
        </tr>
        <tr>
          <td>Charlotte Gravill</td>
          <td>234 567 8901</td>
          <td><span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">With processor</span></td>
          <td>Mike Ashfeild</td>
          <td>3.39pm
            <span class="nhsuk-table__cell--hint">06-02-2020</span></td>
          <td class="nhsuk-u-margin-bottom-3"></td>
        </tr>
        <tr>
          <td>Lynda Puck</td>
          <td>567 234 8901</td>
          <td><span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">With processor</span></td>
          <td>Jon Simpson</td>
          <td>4.06pm
            <span class="nhsuk-table__cell--hint">06-02-2020</span></td>
          <td class="nhsuk-u-margin-bottom-3"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>
</div>

{% endblock %}
