{% extends "layout-v2.html" %}

{% block pageScripts %}

<script src="/js/results-filter.js">
</script>

<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(3) {
    border-bottom: 4px solid #d8dde0;
  }
</style>

{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}

{% block content %}

{{ backLink({
  "href": "worklists",
  "text": "Go back to results"
}) }}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-l">Manchester</h1>
    <p> The following results show the manual matches between the lab and system patient details.
      <br>
      Compare the patient details provided by the labs against those held on the system.
    </p>
  </div>
</div>




<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <nav class="nhsuk-sub-navigation">
      <ul class="nhsuk-sub-navigation__list">
        <li class="nhsuk-sub-navigation__item"><a href="manc-process" class="nhsuk-sub-navigation__link">To process <span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-2">10</span></a></li>
        <li class="nhsuk-sub-navigation__item"><a href="manc-query" class="nhsuk-sub-navigation__link" aria-current="page">To query<span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-2">2</span></a></li>
        <li class="nhsuk-sub-navigation__item"><a href="manc-check" class="nhsuk-sub-navigation__link">To check <span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-2">11</span></a></li>
        <li class="nhsuk-sub-navigation__item"><a href="manc-rejected" class="nhsuk-sub-navigation__link">Rejected<span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-2">3</span></a></li>
      </ul>
    </nav>
  </div>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <table class="order-table">
      <thead>
        <tr>
          <th class="ten">Patient name
          </th>
          <th class="ten">NHS number
          </th>
          <th class="ten">Status
          </th>
          <th class="ten">Processor
          </th>
          <th class="ten">Time received
          </th>
          <th>
          </th>
        <tr>
      </thead>
      <tbody>


        <!-- TO QUERY -->
        <tr>
          <td>Claudia Beddis</td>
          <td>230 138 2983</td>
          <td><span class="nhsuk-tag nhsuk-tag--purple nhsuk-u-margin-bottom-2">Non-match</span></td>
          <td> Josie Driver</td>
          <td>10.31am
            <span class="nhsuk-table__cell--hint">06-02-2020</span></td>
          <td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary nhsuk-u-margin-bottom-3" href="non-match-1">View non-match</a></td>
        </tr>
        <tr>
          <td>Charlotte Gravill</td>
          <td>290 129 4302</td>
          <td><span class="nhsuk-tag nhsuk-tag--purple nhsuk-u-margin-bottom-2">Non-match</span></td>
          <td> Josie Driver</td>
          <td>11.39am
            <span class="nhsuk-table__cell--hint">06-02-2020</span></td>
          <td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary nhsuk-u-margin-bottom-3" href="non-match-2">View non-match</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>
</div>

{% endblock %}
