{% extends "layout-v2.html" %}

{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
  {% include '../../components/header.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
      <a class="nhsuk-back-link__link" href="../search/search-all-results">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to CRM and comments</a>
    </div>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">

    <h1 class="nhsuk-heading-l">Review patient being added to cervical screening programme</h1>


    <div class="nhsuk-panel-with-label">
      <h3 class="nhsuk-panel-with-label__label">Patient details</h3>


      <div class="nhsuk-form-group nhsuk-u-padding-top-6">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
          


            <dl class="nhsuk-summary-list">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Name</dt>
                <dd class="nhsuk-summary-list__value"> Olly Smith</dd>
                <dd class="nhsuk-summary-list__actions"><a href="#"><span class="nhsuk-u-visually-hidden">Name</span></a></dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Date of birth</dt>
                <dd class="nhsuk-summary-list__value"> 04-06-1988</dd>
                <dd class="nhsuk-summary-list__actions"><a href="#"><span class="nhsuk-u-visually-hidden">Date of birth</span></a></dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">NHS Number</dt>
                <dd class="nhsuk-summary-list__value">834 469 0382</dd>
                <dd class="nhsuk-summary-list__actions"><a href="#"><span class="nhsuk-u-visually-hidden"> NHS number</span></a></dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Contact information</dt>
                <dd class="nhsuk-summary-list__value">
                   30 Hemlock Road<br>
                   York<br>
                   YO31 9DG<br>
                 </dd>
                 <dd class="nhsuk-summary-list__actions"><a href="#"><span class="nhsuk-u-visually-hidden"> NHS number</span></a></dd>
              </div>
               <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Registered practice </dt>
                <dd class="nhsuk-summary-list__value">Irelan Wood Surgery<br>
                <dd class="nhsuk-summary-list__actions"><a href="#"><span class="nhsuk-u-visually-hidden"> NHS number</span></a></dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Practice code </dt>
                <dd class="nhsuk-summary-list__value">B86044<br>
                <dd class="nhsuk-summary-list__actions"><a href="#"><span class="nhsuk-u-visually-hidden"> NHS number</span></a></dd>
              </div> 
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Practice address </dt>
                <dd class="nhsuk-summary-list__value">Iverson Approach<br>
                 Leeds<br>
                 West Yorkshire<br>
                 England<br>
                 LS16 6FR<br></dd>
                <dd class="nhsuk-summary-list__actions"><a href="#"><span class="nhsuk-u-visually-hidden"> NHS number</span></a></dd>
              </div>
           

   
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">CRM </dt>
                <dd class="nhsuk-summary-list__value">CAS-12345-ABCDE</dd>
                <dd class="nhsuk-summary-list__actions"><a href="consent">Change<span class="nhsuk-u-visually-hidden"> NHS number</span></a></dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Comments </dt>
                <dd class="nhsuk-summary-list__value">GP has sent confirmation of patient consent</dd>
                <dd class="nhsuk-summary-list__actions"><a href="consent">Change<span class="nhsuk-u-visually-hidden"> NHS number</span></a></dd>
              </div>

            </dl>
        </div>

    </div>
 


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">


      <a href="confirm-addition" class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-top-6 nhsuk-u-margin-right-6">Submit</a>
      <p><a href="../search/search-all-results">Exit without saving</p>

    </div>

  </div>
</div>



{% endblock %}
