{% extends "layout-v2.html" %}

{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../../components/header-3.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">

    <div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
      <a class="nhsuk-back-link__link" href="confirm-identity">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to patient identity</a>
    </div>

    <h1 class="nhsuk-heading-l">Enter CRM and comments</h1>

    <!-- below is all filler text until we get steer from NHSE/PHE on what do to here 
    <p>
      New patients must give permission to be added to the screening programme.<br><br>
      For consent to be valid, it must be voluntary and informed, and the patient consenting must have the capacity to make the decision.<br><br>
      
    </p>-->

    <!--<ul>
      <li>verbally – for example, saying they're happy to be invited for screening
      </li>
      <li>in writing – for example, signing a consent form
      </li>
    </ul>-->

        
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

              <form action="rejected-p3" method="post">
                <fieldset class="nhsuk-fieldset">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-label--s nhsuk-u-margin-bottom-2" for="example-heading">
                      Enter CRM case number 
                    </label>
                    <span class="nhsuk-hint" id="example-hint">
                      For example, CAS-12345-ABCDE
                    </span>
                    <input class="nhsuk-input nhsuk-input--width-10" type="text" name="crm" autocomplete="off" value="{{ data.crm }}">
                  </div>
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-label__strong nhsuk-u-padding-top-1" for="example">
                    Comments (optional)
                  </label>
                  <span class="nhsuk-hint nhsuk-u-padding-top-3" id="example-hint" for="one-half">
                    
                  </span>
                  <textarea class="nhsuk-textarea commentBox char-textarea" id="rejcomment3" value="rejcomment3" name="rejcomment3" rows="5" data-length=200 required></textarea>
                  
                </fieldset>
                </div>
  </div>
  
  <!-- may or may not need an additional checkbox if specific kind of consent is required for trans parents (cf others) 
    <div class="nhsuk-form-group nhsuk-u-padding-top-3">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--1">
          <h3 class="nhsuk-fieldset__heading"><strong>Has the patient given their consent to be added to the screening programme?</strong></h3>
          </legend>
      </fieldset>
      <div class="nhsuk-checkboxes nhsuk-u-padding-top-3">
        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="confirmIdentity" name="confirmIdentity" type="checkbox" value="confirmIdentity">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="confirmIdentity">
            I confirm the patient has given consent
          </label>
        </div>

      </div>-->

      <a href="../add-to-cohort/confirm-review" class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-top-6 nhsuk-u-margin-right-6">Continue</a>
      <p><a href="../search/search-all-results">Exit without saving</p>


    </div>


  </div>
</div>


{% endblock %}
