{% extends "layout-v2.html" %}

{% block pageTitle %}
  NHS Cervical Screening
{% endblock %}

{% block header %}
  {% include '../../components/header-3.html' %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">

    {{ backLink({
      "href": "../search/search-all-results",
      "text": "Go back to search results"
    }) }}

    <h1 class="nhsuk-heading-l nhsuk-u-padding-top-2">Create a dummy patient</h1>
    <div class="nhsuk-inset-text nhsuk-inset-text__screening nhsuk-inset-text__screening--success nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
           <h3 class="nhsuk-heading-s">You are about to create a dummy patient to attach a sample to</h3>
        </div>

        <p>Creating a dummy patient means you can send this result to a person who is not in the cervical screening system.<br><br>
          The dummy patient is only used for this result, they are not added into the cervical screening system. This means that the patient will not be invited for screening in the future.
        </p>

        <p>
         You should only create a dummy patient if there are no system details available. 
        </p>

        <div class="nhsuk-form-group">
          <div class="nhsuk-checkboxes">
            <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="confirmIdentity" name="confirmIdentity" type="checkbox" value="confirmIdentity">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="confirmIdentity">
              I confirm that I wish to create a dummy patient
            </label>
          </div>
          </div>


        <a href="new-patient-name" class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-top-6 nhsuk-u-margin-right-6">Save and continue</a>
        <p><a href="../search/search-all-results">Exit without saving</a></p>


  </div>
</div>



{% endblock %}
