{% extends "layout-v2.html" %}


{% block pageTitle %}
  NHS Cervical Screening
{% endblock %}

{% block header %}
  {% include '../../components/header-3.html' %}
{% endblock %}

{%block content%}
{{ backLink({
  "href": "../history-v4",
  "text": "Back to Audit",
  "classes" : "nhsuk-u-margin-bottom-4"
  }) }}

  <div class="nhsuk-panel-with-label">
      {% include '../../components/pnl-patient-2.html' %}

     <h1 class="nhsuk-heading-l">Cancel a pending result letter</h1>

    <dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Test type</dt>
    <dd class="nhsuk-summary-list__value">English</dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Sender National code</dt>
    <dd class="nhsuk-summary-list__value">B123456</dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Source code</dt>
    <dd class="nhsuk-summary-list__value">X</dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Sender code</dt>
    <dd class="nhsuk-summary-list__value">12456</dd>
  </div>


  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Slide number</dt>
    <dd class="nhsuk-summary-list__value">12345678</dd>
  </div>

  
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Test date</dt>
    <dd class="nhsuk-summary-list__value">{{ '19-Oct-2020' | returnDateFormat }}</dd>
  </div>

<div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Result</dt>
    <dd class="nhsuk-summary-list__value">(39S) Low-grade dyskaryosis, HPV positive, Repeat Advised</dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">HPV Primary</dt>
    <dd class="nhsuk-summary-list__value">Y</dd>
  </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">Next test due date</dt>
      <dd class="nhsuk-summary-list__value">{{ 3 | returnDate('years', nextTestDueDate) + ' ' + 3 | returnDate('years', nextTestDueDate) | returnTimeDiff }}</dd>
    </div> 

 <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">CRM</dt>
    <dd class="nhsuk-summary-list__value">CAS-12345-ABCDE</dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Comments</dt>
    <dd class="nhsuk-summary-list__value">{{ data['comments'] or '' }}</dd>
  </div>
</dl>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
    
       {{ radios({
             "idPrefix": "remove",
             "name": "remove-result",
             "fieldset": {
               "legend": {
                 "text": "Do you want to cancel this letter?",
                 "classes": "nhsuk-fieldset__legend--m nhsuk-label__strong",
                 "isPageHeading": true
               }
             },
             "items": [
               {
                 "value": "yes",
                 "text": "Yes, I want to cancel this letter."
               },
               {
                 "value": "no",
                 "text": "No, return to patient summary. "
               }
             ]
           }) }}

           <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label__strong" for="example">
              Comments (optional)
            </label>
            <span class="nhsuk-hint" id="example-hint">
              Do not include clinical information at  this point.
            </span>
            <textarea class="nhsuk-textarea" id="example" name="comments" rows="5" aria-describedby="example-hint" value="details"></textarea>
          </div>
  </fieldset>
<br>
</div>
<a href="../history-v4" class="nhsuk-button nhsuk-button--ers">Submit</a>   


 <p><a href="../patient-summary-5">Exit without saving</a></p> 
  </div>
    </div>

{% endblock %}

{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      <p><a href="/v12/reset-patient-data-12">Reset patient data</a></p>
    </div>
  </div>
</footer>
{% endblock %}
