{% extends "layout-v2.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/reveal.js"></script>
<script type="text/javascript" src="/js/comments.js"></script>

<script>
  function closeRightMenu() {
    document.getElementByClass("nhsuk-sidebar-hidden").style.display = "none";
  }
  $(document).ready(function() {
    $(".sidebarbttn").click(function() {
      $(".nhsuk-sidebar-hidden").toggle();
    });

  });
</script>

<script>
  $(".char-textarea").on("keyup", function(event) {
    checkTextAreaMaxLength(this, event);
  });

  function checkTextAreaMaxLength(textBox, e) {

    var maxLength = parseInt($(textBox).data("length"));


    if (!checkSpecialKeys(e)) {
      if (textBox.value.length > maxLength - 1) textBox.value = textBox.value.substring(0, maxLength);
    }
    $(".char-count").html(maxLength - textBox.value.length);

    return true;
  }

  function checkSpecialKeys(e) {
    if (e.keyCode != 8 && e.keyCode != 46 && e.keyCode != 37 && e.keyCode != 38 && e.keyCode != 39 && e.keyCode != 40)
      return false;
    else
      return true;
  }


  window.onscroll = function() {myFunction()};
var navbar = document.getElementById("lab");
var sticky = navbar.offsetTop;
function myFunction() {
  if (window.pageYOffset >= sticky) {
    lab.classList.add("sticky")
  } else {
    lab.classList.remove("sticky");
  }
}
</script>

<!-- clickable rows with hover colour -->
<script type="text/javascript">
  $(document).ready(function() {
    $('.clickable-table tr').click(function(event) {
      if (event.target.type !== 'radio') {
        $(':radio', this).trigger('click');
      }
    });

    $("input[type='radio']").change(function(e) {
      e.stopPropagation();
      $('.clickable-table tr').removeClass("highlight_row");
      if ($(this).is(":checked")) {
        $(this).closest('tr').addClass("highlight_row");
      }
    });
  });
</script>


<style media="screen">
  .clickable-table tbody tr:hover {
    background-color: #d8dde0;
    cursor: pointer;
  }

  .highlight_row {
    background: #d8dde0;
  }

  #lab {
    background-color: #f0f4f5;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 6px 10px #768692;
  }
</style>


{% endblock %}
{% block pageTitle %}
NHS Cervical screening management system
{% endblock %}

{% block header %}
{% include '../components/header.html' %}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {{ backLink({
      "href": "manc-p1",
      "text": "Go back to previous match"
    }) }}

    <h1 class="nhsuk-heading-l nhsuk-u-padding-top-2">Manchester: to process</h1>

    <div class="nhsuk-inset-text nhsuk-inset-text__screening nhsuk-inset-text__screening--success nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-8">
      <h2 class="nhsuk-heading-s">2 possible system matches found</h2>
    </div>


    <h3>Lab patient demographics</h3>

    <table class="order-table" id="lab">
      <thead>
        <tr>
          <th style="width: 25%">Name
          </th>
          <th style="width: 25%">Date of birth
          </th>
          <th style="width: 25%">NHS number
          </th>
          <th style="width: 25%"></th>
        <tr>
      </thead>

      <tbody>
        <!-- LAB DEMOGRAPHICS -->
        <tr>
          <td>Lisa Jones</td>
          <td>02-07-1979</td>
          <td>345 678 9012</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h3 class="nhsuk-u-margin-top-4">System patient demographics</h3>
    <p>Choose which system patient demographics to use. If no appropriate system match found, save to lab query list.</p>

    <form action="manc-p2-step2" method="post">
      <table class="clickable-table order-table">
        <thead>
          <tr>
            <th style="width: 10%"></th>
            <th>Name
            </th>
            <th>Date of birth
            </th>
            <th>NHS number
            </th>
          <tr>
        </thead>

        <tbody>
          <!-- SYSTEM DEMOGRAPHICS -->
          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="system-patient-demographics">
              <legend class="nhsuk-fieldset__legend">
              </legend>
              <div class="nhsuk-radios">
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="patient2a" name="system-dem-choice" type="radio" value="patient2a">
                      <label class="nhsuk-label nhsuk-radios__label" for="patient2a"></label>
                    </div>
                  </td>
                  <td><span class="highlight">Elizabeth</span> Jones</td>
                  <td><span class="highlight">20</span>-07-1979</td>
                  <td>345 678 9012</td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="patient2b" name="system-dem-choice" type="radio" value="patient2b">
                      <label class="nhsuk-label nhsuk-radios__label" for="patient2b"></label>
                    </div>
                  </td>
                  <td>Lisa <span class="highlight">Johnson</span></td>
                  <td>02-07-1979</td>
                  <td>345 678 901<span class="highlight">1</span></td>
                </tr>
              </div>
            </fieldset>
          </div>
        </tbody>
      </table>

      <button type="submit" class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-top-3 nhsuk-u-margin-right-6" name="button">Continue to address</button>
      <a href="manc-p3" class="nhsuk-button nhsuk-button--ers_secondary nhsuk-u-margin-top-3 nhsuk-u-margin-right-6">Save to lab query list</a>
      <p><a href="manc-process">Exit without saving</a></p>


    </form>
  </div>
</div>




{% endblock %}
