{% extends "layout-v2.html" %}

{% block pageScripts %}

<script src="/js/results-filter.js">
</script>

<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(3){
    border-bottom:4px solid #d8dde0;
  }
</style>

{% endblock %}
{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
  {% include '../components/header.html' %}
{% endblock %}

{% block content %}

{{ backLink({
  "href": "results",
  "text": "Go back to results"
}) }}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

  <h1 class="nhsuk-heading-l">Manchester</h1>
 <p> The following results show the manual matches between the lab and system patient details.
 <br>
  Compare the patient details provided by the labs against those held on the system.</p>
</div>
</div>
<!--
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-panel-with-label">
      <h3 class="nhsuk-panel-with-label__label">Lab contact details</h3>

      <dl class="nhsuk-summary-list nhsuk-u-padding-top-3 nhsuk-summary-list--no-border">

                <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Lab lead
          </dt>
         <dd class="nhsuk-summary-list__value">
          (+44) 1624 937 662
          </dd>
          <dd class="nhsuk-summary-list__value">
          <a href=mailto:susan.prince@nhs.net?subject="Query">susan.prince@nhs.net</a>
        </div>

    </dd>
                <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Lab assistant
          </dt>
          <dd class="nhsuk-summary-list__value">
          (+44) 1624 937 363
          </dd>
          <dd class="nhsuk-summary-list__value">
                    <a href=mailto:ian.mcdaid@nhs.net?subject="Query">ian.mcdaid@nhs.net</a>
          </dd>
        </div>

    </dd>
                    <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Lab scientist
          </dt>
          <dd class="nhsuk-summary-list__value">
          (+44) 1624 363 937
          </dd>
          <dd class="nhsuk-summary-list__value">
          <a href=mailto:sarah.jenkins@nhs.net?subject="Query">sarah.jenkins@nhs.net</a>
          </dd>
        </div>

    </dd>

      </dl>
    </div>
  </div>
</div>
-->


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full ">
   <label class="nhsuk-label" for="width-20">
    Filter results
  </label>
<input type="search" class="nhsuk-input light-table-filter  nhsuk-input--width-20" for="input-width-20" data-table="order-table"  />
</div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <nav class="nhsuk-sub-navigation">
    <ul class="nhsuk-sub-navigation__list">
      <li class="nhsuk-sub-navigation__item"><a href="manc-process" class="nhsuk-sub-navigation__link">To process <span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-2">10</span></a></li>
      <li class="nhsuk-sub-navigation__item"><a href="manc-query" class="nhsuk-sub-navigation__link" aria-current="page">To query<span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-2">12</span></a></li>
      <li class="nhsuk-sub-navigation__item"><a href="manc-check" class="nhsuk-sub-navigation__link">To check <span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-left-2">11</span></a></li>
    </ul>
  </nav>
</div>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

<table class="order-table">
<thead>
  <tr>
   <th class="ten"="To process">Transfer number
</th>
   <th class="ten" ="To process">Patient name
</th>
    <th class="ten"width="15%"="To process">Status
</th>
    <th class="ten"width="15%"="To process">Processor
</th>
    <th class="ten"="To process">Date recieved
     </th>
    <th class="ten"="To process">Time recieved
</th>
    <th class="ten"="To process">
</th>
    <th class="ten"="To process"></th>
<tr>
</thead>
<tbody>


<!-- TO QUERY -->
<tr> <td>03365</td> <td>Misha Barts </td> <td><span class="nhsuk-tag nhsuk-tag--purple nhsuk-u-margin-bottom-2">Non-match</span></td> <td>Sally Jones</td> <td>05-02-2020</td> <td>9.53am</td> <td></td> <td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary" href="">View non-match</a></td> </tr>
<tr> <td>03366</td> <td></td> <td><span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">File error</span></td> <td></td> <td>05-02-2020</td> <td>9.59am</td> <td></td><td></td> </tr>
<tr> <td>03669</td> <td>Isobel Haw</td> <td><span class="nhsuk-tag nhsuk-tag--purple nhsuk-u-margin-bottom-2">Non-match</span></td> <td> Jon Simpson</td> <td>05-02-2020</td> <td>10.45am</td> <td></td><td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary" href=“./“>View non-match</a></td> </tr>
<tr> <td>03370</td> <td></td> <td><span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">File error</span></td> <td></td> <td>06-02-2020</td> <td>9.01am</td> <td></td><td></td> </tr>
<tr> <td>03372</td> <td>Charlotte Gravill</td> <td><span class="nhsuk-tag nhsuk-tag--purple nhsuk-u-margin-bottom-2">Non-match</span></td> <td> Jon Simpson</td> <td>05-02-2020</td> <td>10.45am</td> <td></td><td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary" href="non-match-2">View non-match</a></td> </tr>
<tr> <td>03374</td> <td>Mia Phamelepe</td> <td><span class="nhsuk-tag nhsuk-tag--purple nhsuk-u-margin-bottom-2">Non-match</span></td> <td> <td>07-02-2020</td> <td>9.12am</td> <td></td><td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary" href=“./“>View non-match</a></td> </tr>
<tr> <td>03375</td> <td></td> <td><span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">File error</span></td> <td></td> <td>07-02-2020</td> <td>9.59am</td> <td></td><td></td> </tr>
<tr> <td>03376</td> <td></td> <td><span class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-2">File error</span></td>  <td></td> <td>07-02-2020</td> <td>10.38am</td> <td></td><td></td> </tr>
<tr> <td>03377</td> <td>Julie Lodge</td> <td><span class="nhsuk-tag nhsuk-tag--purple nhsuk-u-margin-bottom-2">Non-match</span></td> <td> Jon Simpson</td> <td>07-02-2020</td> <td>10.45am</td> <td></td><td><a class="nhsuk-button nhsuk-button--ers nhsuk-button--secondary" href=“./“>View non-match</a></td> </tr>

</tbody>




</table>
</div>
</div>


{% endblock %}
