{% extends "layout-v2.html" %}

{% block pageScripts %}

<script src="/js/results-filter.js">
</script>

<style type="text/css" media="screen">
  .nhsuk-header__navigation-item:nth-child(3){
    border-bottom:4px solid #d8dde0;
  }
</style>

{% endblock %}
{% block pageTitle %}
  NHS Cervical Screening
{% endblock %}

{% block header %}
  {% include '../components/header.html' %}
{% endblock %}

{% block content %}

{{ backLink({
  "href": "manc-query",
  "text": "Go back to results"
}) }}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

  <h1 class="nhsuk-heading-l">Manchester: rejected files</h1>
 <p> The following results show the non-residual matches sent from the lab. 
 <br>
  Review the list and return to lab.</p>
</div>
</div>



<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
<table class="order-table">
<thead>
  <tr>
   <th class="ten"="To process">NHS number 
</th>
   <th class="ten" ="To process">Patient name
</th>
    <th class="ten"width="20%"="To process">Error
</th>

    <th class="ten"="To process">Date recieved
     </th>
    <th class="ten"="To process">Time recieved 
</th>
    <th class="ten"="To process">
</th>

<tr>
</thead>
<tbody>


<!-- TO QUERY -->
<tr> <td>996 001 3673</td> <td>Lizzie Smith </td> <td><span class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-2">Unknown patient</span></td>  <td>04-02-2020</td> <td>11.26am	</td> <td></td> </tr>
<tr> <td>825 153 7721</td> <td>Emma Marsh </td> <td><span class="nhsuk-tag nhsuk-tag--red  nhsuk-u-margin-bottom-2">Incorrect HPV flag</span></td>  <td>04-02-2020</td> <td>11.26am	</td> <td></td> </tr>
<tr> <td>824 254 1749</td> <td>Tasmin Saleh </td> <td><span class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-2">Invalid test date</span></td>  <td>03-02-2020</td> <td>11.26am	</td> <td></td> </tr>



</tbody>




</table>
    <a href="" class="nhsuk-button nhsuk-button--ers">Send back to lab</a>

</div>
</div>
</div>
</div>
</div>

{% endblock %}
