{% extends 'layout.html' %}

{% block pageTitle %}
  Clear data
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block beforeMain %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Clear data
      </h1>

      <form method="post">

        <p>This will clear all of the data entered in this session</p>

        {{ button({
          "text": "Clear the data"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
