{% extends 'layout.html' %}

{% block pageTitle %}
  Make a new ticket request
{% endblock %}

{% block content %}

<h1>Ticket request</h1>

<form method="POST">

{{ input({
  "label": {
    "text": "What is your first name?"
  },
  "id": "firstname",
  "name": "firstname",
  "attributes": "required"
}) }}

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example-with-hint-text">
    What is your NHS number?
  </label>
  <input required class="nhsuk-input nhsuk-input--width-10" id="example-with-hint-text" name="example-with-hint-text" type="text" inputmode="numeric">
</div>

{{ input({
  "label": {
    "text": "What is your age?"
  },
  "id": "age",
  "name": "age",
  "classes": "nhsuk-input--width-2"
}) }}

{{ button({
  "text": "Submit"
}) }}

</form>

{% endblock %}
