{% extends "layout.njk" %}

{% set mainClasses = 'nhsuk-main-wrapper--s' %}

{% block pageTitle %}
  NHS.UK Prototype kit - Transactional page layout
{% endblock %}

{% block header %}
{{ header({
  "transactionalService": {
      "name": "Service name goes here",
      "href": "/"
    },
    "showNav": "false",
    "showSearch": "false"
  })
}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block footer %}
  {{ footer({
    "showLogo": "false",
    "primaryLinks": [
      {
      "URL": "https://www.nhs.uk/about-us/sitemap/",
      "label": "Sitemap"
    },
    {
      "URL": "https://www.nhs.uk/our-policies/",
      "label": "Our policies"
    }
    ]
  })}}
{% endblock %}
