<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}

{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/css/main.css" rel="stylesheet">
  <script src="/nhsuk-frontend/nhsuk.min.js" defer></script>
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    service: {
      name: serviceName,
      href: "/"
    },
    showNav: "false",
    showSearch: "false"
  }) }}
{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    links: [
      {
        URL: "/",
        label: "Home"
      },
      {
        URL: "/example-templates",
        label: "Page templates"
      },
      {
        URL: "/prototype-admin/reset?returnPage=" + (currentPage | urlencode),
        label: "Reset data"
      }
    ]
  }) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavaScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
