<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <h1>
        Page heading goes here
      </h1>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <p class="nhsuk-lede-text">
        This page example includes a selection of styles and components available to the prototype kit.
      </p>
      
      <p>
        For more styles, code snippets and guidance on components visit the
        <a href="https://service-manual.nhs.uk/design-system">NHS digital service manual</a>.
      </p>

      <figure class="nhsuk-image">
        <img class="nhsuk-image__img" src="/images/placeholder-image-16-9.jpg" alt="A 16:9 image placeholder">
        <figcaption class="nhsuk-image__caption">
          Image example
        </figcaption>
      </figure>

      <h2>Level heading two</h2>

      {{ list({
        "title": "Do",
        "type": "tick",
        "items": [
          {
            "item": "cover blisters that are likely to burst with a soft plaster or dressing"
          },
          {
            "item": "wash your hands before touching a burst blister"
          },
          {
            "item": "allow the fluid in a burst blister to drain before covering it with a plaster or dressing"
          }
        ]
      }) }}

      {{ list({
        "title": "Don't",
        "type": "cross",
        "items": [
          {
            "item": "burst a blister yourself"
          },
          {
            "item": "peel the skin off a burst blister"
          },
          {
            "item": "pick at the edges of the remaining skin"
          },
          {
            "item": "wear the shoes or use the equipment that caused your blister until it heals"
          }
        ]
      }) }}

      <h3>
        Level heading three
      </h3>

      <p>
        Body text:
      </p>

      <ul>
        <li>
          The quick brown
        </li>
        <li>
          fox jumps over
        </li>
        <li>
          the lazy dog
        </li>
      </ul>

      {{ warningCallout({
        "heading": "School, nursery or work",
        "HTML": "<p>Stay away from school, nursery or work until all the spots have crusted over. This is usually 5 days after the spots first appeared.</p>"
      }) }}
      
      <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
        Page last reviewed: 15 March 2021<br>
        Next review due: 15 March 2024
      </p>

      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
