<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Page example - {{ serviceName }} prototype
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <!-- Breadcrumb -->
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Page heading goes here
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <p class="nhsuk-lede-text">
        This page example includes a selection of styles and components available to the prototype kit.
      </p>
      
      <p>
        For more styles, code snippets and guidance on components visit the
        <a href="https://service-manual.nhs.uk/design-system">NHS digital service manual</a>.
      </p>

      <figure class="nhsuk-image">
        <img class="nhsuk-image__img" src="/images/placeholder-image-16-9.jpg" alt="A 16:9 image placeholder">
        <figcaption class="nhsuk-image__caption">
          Image example
        </figcaption>
      </figure>

      <h2>Level heading two</h2>

      <p>
        Body text:
      </p>

      <ul>
        <li>
          The quick brown
        </li>
        <li>
          fox jumps over
        </li>
        <li>
          the lazy dog
        </li>
      </ul>

      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
