{% extends "layout-v2.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
{% endblock %}
{% block pageTitle %}
  NHS Cervical Screening
{% endblock %}

{% block header %}
  {% include '../components/header.html' %}
{% endblock %}


{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
  <h1 class="nhsuk-heading-l">Worklists</h1>
  <h2 class="nhsuk-heading-m">Results</h2>

  <div class="nhsuk-table-responsive">
                  <table id="sortable" class="nhsuk-table nhsuk-table-u-margin-0 nhsuk-table-clickable">

                    <!-- TABLE START -->
                    <thead class="nhsuk-table__head">
                      <tr class="nhsuk-table__row">
                        <th class="nhsuk-table__header" aria-sort="none" scope="col">
                          <button onclick="sortTable()" type="button" data-index="0">Area</button>
                        </th>
                        <th class="nhsuk-table__header" aria-sort="none" scope="col">
                          <button onclick="sortTable()" type="button" data-index="0">Date</button>
                        </th>
                        <th class="nhsuk-table__header" aria-sort="none" scope="col">
                          <button onclick="sortTable()" type="button" data-index="0">No of Results</button>
                        </th>
                        <th class="nhsuk-table__header" aria-sort="none" scope="col">
                          <button onclick="sortTable()" type="button" data-index="0">No of Mismatches</button>
                        </th>
                        <th class="nhsuk-table_header"></th>
                       
                      </tr>
                    </thead>


                    <tbody class="nhsuk-table__body">

                      <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell">
                          <strong>Gateshead</strong>
                        </td>
                        <td class="nhsuk-table__cell">
                          13 01 2020
                        </td>
                        <td class="nhsuk-table__cell">
                          121
                        </td>
                        <td class="nhsuk-table__cell">
                          10
                        </td>
                        <td class="nhsuk-table__cell multiple-choice--hod">
                          <a class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-bottom-0" href="worklists-b-result">Start</a>
                        </td>
                      </tr>
                      <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell">
                          <strong>Derby</strong>
                        </td>
                        <td class="nhsuk-table__cell">
                          13 01 2020
                        </td>
                        <td class="nhsuk-table__cell">
                          234
                        </td>
                        <td class="nhsuk-table__cell">
                          9
                        </td>
                        <td class="nhsuk-table__cell multiple-choice--hod">
                          <a class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-bottom-0" href="worklists-b-result">Start</a>
                        </td>
                      </tr>
                      <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell">
                          <strong>Manchester</strong>
                        </td>
                        <td class="nhsuk-table__cell">
                          13 01 2020
                        </td>
                        <td class="nhsuk-table__cell">
                          425
                        </td>
                        <td class="nhsuk-table__cell">
                          46
                        </td>
                        <td class="nhsuk-table__cell multiple-choice--hod">
                          <a class="nhsuk-button nhsuk-button--ers nhsuk-u-margin-bottom-0" href="worklists-b-result">Start</a>
                        </td>
                      </tr>
                      <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell">
                          <strong>Gateshead</strong>
                        </td>
                        <td class="nhsuk-table__cell">
                          12 01 2020
                        </td>
                        <td class="nhsuk-table__cell">
                          175
                        </td>
                        <td class="nhsuk-table__cell">
                          22
                        </td>
                        <td class="nhsuk-table__cell multiple-choice--hod">
                          Taken
                        </td>
                      </tr>
                      <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell">
                          <strong>Derby</strong>
                        </td>
                        <td class="nhsuk-table__cell">
                          12 01 2020
                        </td>
                        <td class="nhsuk-table__cell">
                          293
                        </td>
                        <td class="nhsuk-table__cell">
                          34
                        </td>
                        <td class="nhsuk-table__cell multiple-choice--hod">
                          Taken
                        </td>
                      </tr>
                      <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell">
                          <strong>Manchester</strong>
                        </td>
                        <td class="nhsuk-table__cell">
                          12 01 2020
                        </td>
                        <td class="nhsuk-table__cell">
                          275
                        </td>
                        <td class="nhsuk-table__cell">
                          5
                        </td>
                        <td class="nhsuk-table__cell multiple-choice--hod">
                          Taken
                        </td>
                      </tr>

                    </tbody>
                  </table>
                  <!--<br>
                  <p class="align-centre"><a class="nhsuk-button--ers_secondary" href="#">Load 10 more results</a></p>-->
  </div>
</div>

{% endblock %}