{% extends "layout-v2-patient.html" %}

{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
{% endblock %}

{% block pageTitle %}
NHS Cervical Screening
{% endblock %}

{% block header %}
{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "false",
    "showSearch": "true"
  })
}}
{% endblock %}

{% block patientBanner %}
  {% include '../../components/patient-banner.html' %}
{% endblock %}

{% block content %}
{{ backLink({
  "href": "choose",
  "text": "Go back to choose"
}) }}

<div class="nhsuk-grid-row nhsuk-u-margin-top-4">
  <div class="nhsuk-grid-column-one-half">






        <div class="nhsuk-form-group">

          {% from 'fieldset/macro.njk' import fieldset %}
  {% from "input/macro.njk" import input %}

  {% call fieldset({
    legend: {
      "text": "Add episode address",
      "classes": "nhsuk-fieldset__legend--l",
      "isPageHeading": true
    }
  }) %}

    {{ input({
      label: {
        "html": 'Building and street <span class="nhsuk-u-visually-hidden">line 1 of 2</span>'
      },
      "id": "address-line-1",
      "name": "address-line-1"
    }) }}

    {{ input({
      label: {
        "html": '<span class="nhsuk-u-visually-hidden">Building and street line 2 of 2</span>'
      },
      "id": "address-line-2",
      "name": "address-line-2"
    }) }}

    {{ input({
      label: {
        "text": "Town or city"
      },
      "classes": "nhsuk-u-width-two-thirds",
      "id": "address-town",
      "name": "address-town"
    }) }}

    {{ input({
      label: {
        "text": "County"
      },
      "classes": "nhsuk-u-width-two-thirds",
      "id": "address-county",
      "name": "address-county"
    }) }}

    {{ input({
      label: {
        "text": "Postcode"
      },
      "classes": "nhsuk-input--width-10",
      "id": "address-postcode",
      "name": "address-postcode"
    }) }}

  {% endcall %}

        </div>
        <a class="nhsuk-button--ers nhsuk-u-margin-top-4" href="step-1">Continue</a>



        </div>
        </div>

{% endblock %}
