{% extends "layout-v2-patient.html" %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
  <script type="text/javascript" src="/js/action-menu.js"></script>
  <script type="text/javascript" src="/js/sort.js"></script>
{% endblock %}
{% block pageTitle %}
  NHS Cervical screening management system
{% endblock %}

{% block header %}
{{ header({
    "service": {
      "name": "Cervical Screening",
      "longName": "false"
    },
    "showNav": "false",
    "showSearch": "true"
  })
}}
{% endblock %}

{% block patientBanner %}
  {% include '../../components/patient-banner.html' %}
{% endblock %}


{% block content %}

<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/v7/patient/patient-summary">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to patient summary</a>
</div>


  <h1 id="" class="nhsuk-heading-l">HMR101 </h1>
   <a class ="nhsuk-button--ers" href="#">Print HMR101 form</a>

  <div id="boxshadow">
    <img src="/images/hmr101-a4.png" alt="HMR101 form">
  </div>
</div>

{% endblock %}
