<!-- This main layout -->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "layouts/template.html" %}

<!-- This is how we import the Nunjucks macros to the page -->
{% from 'action-link/macro.njk' import actionLink %}
{% from 'nav-a-z/macro.njk' import azNav %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'care-card/macro.njk' import careCard %}
{% from 'contents-list/macro.njk' import contentsList %}
{% from 'details/macro.njk' import details %}
{% from 'header/macro.njk' import header %}
{% from 'hero/macro.njk' import hero %}
{% from 'footer/macro.njk' import footer %}
{% from 'do-dont-list/macro.njk' import list %}
{% from 'images/macro.njk' import image %}
{% from 'inset-text/macro.njk' import insetText %}
{% from 'list-panel/macro.njk' import listPanel %}
{% from 'pagination/macro.njk' import pagination %}
{% from 'panel/macro.njk' import panel %}
{% from 'promo/macro.njk' import promo %}
{% from 'review-date/macro.njk' import reviewDate %}
{% from 'skip-link/macro.njk' import skipLink %}
{% from 'tables/macro.njk' import table %}
{% from 'warning-callout/macro.njk' import warningCallout %}
{% from 'back-link/macro.njk' import backLink %}
{% from 'button/macro.njk' import button %}
{% from 'checkboxes/macro.njk' import checkboxes %}
{% from 'date-input/macro.njk' import dateInput %}
{% from 'error-message/macro.njk' import errorMessage %}
{% from 'error-summary/macro.njk' import errorSummary %}
{% from 'fieldset/macro.njk' import fieldset %}
{% from 'hint/macro.njk' import hint %}
{% from 'input/macro.njk' import input %}
{% from 'label/macro.njk' import label %}
{% from 'radios/macro.njk' import radios %}
{% from 'select/macro.njk' import select %}
{% from 'textarea/macro.njk' import textarea %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Prototype kit
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    })
  }}
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
  })}}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
